<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_bar-bar-1_cristmas_santa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,67}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{57,331},{61,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{267,122},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,39}</string>
                <key>spriteSourceSize</key>
                <string>{440,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{440,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{421,44},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{252,191},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_medieval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{267,80},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{267,159},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{474,293},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,30}</string>
                <key>spriteSourceSize</key>
                <string>{41,30}</string>
                <key>textureRect</key>
                <string>{{252,272},{41,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{31,301},{15,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{393,245},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_medieval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{474,330},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{474,367},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,32}</string>
                <key>spriteSourceSize</key>
                <string>{148,32}</string>
                <key>textureRect</key>
                <string>{{156,44},{148,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple_merge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{196,331},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple_merge_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,65}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{57,197},{74,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bg_bar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,30}</string>
                <key>spriteSourceSize</key>
                <string>{41,30}</string>
                <key>textureRect</key>
                <string>{{252,306},{41,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bg_gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{1,197},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,38}</string>
                <key>spriteSourceSize</key>
                <string>{47,38}</string>
                <key>textureRect</key>
                <string>{{196,374},{47,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{156,80},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{1,341},{52,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-coins_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{308,44},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-cookie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{250,340},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_1_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{137,400},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_1_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,62}</string>
                <key>spriteSourceSize</key>
                <string>{41,62}</string>
                <key>textureRect</key>
                <string>{{252,206},{41,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_2_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{122,331},{70,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_2_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,80}</string>
                <key>spriteSourceSize</key>
                <string>{57,80}</string>
                <key>textureRect</key>
                <string>{{1,404},{57,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_3_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{106,86}</string>
                <key>textureRect</key>
                <string>{{298,155},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_3_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{77,78}</string>
                <key>textureRect</key>
                <string>{{393,293},{77,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_4_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,136}</string>
                <key>spriteSourceSize</key>
                <string>{92,136}</string>
                <key>textureRect</key>
                <string>{{156,191},{92,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_4_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,116}</string>
                <key>spriteSourceSize</key>
                <string>{89,116}</string>
                <key>textureRect</key>
                <string>{{421,69},{89,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,57}</string>
                <key>spriteSourceSize</key>
                <string>{58,57}</string>
                <key>textureRect</key>
                <string>{{57,266},{58,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_orange_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,149}</string>
                <key>spriteSourceSize</key>
                <string>{151,149}</string>
                <key>textureRect</key>
                <string>{{1,44},{151,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_orange_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{408,189},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-glow_under_the_element_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{445,1},{63,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-glow_under_the_element_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{297,245},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{1,249},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-gray_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{1,301},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{71,77}</string>
                <key>textureRect</key>
                <string>{{62,404},{71,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_bar-357a53b74f.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ads_bar-357a53b74f.png</string>
        </dict>
    </dict>
</plist>
