<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1309,845}</string>
                <key>spriteSourceSize</key>
                <string>{1309,845}</string>
                <key>textureRect</key>
                <string>{{1,1},{1309,845}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,566}</string>
                <key>spriteSourceSize</key>
                <string>{566,566}</string>
                <key>textureRect</key>
                <string>{{1314,196},{566,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_apron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,159}</string>
                <key>spriteSourceSize</key>
                <string>{124,159}</string>
                <key>textureRect</key>
                <string>{{1892,1796},{124,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_ear_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,120}</string>
                <key>spriteSourceSize</key>
                <string>{95,120}</string>
                <key>textureRect</key>
                <string>{{1946,1445},{95,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_ear_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,128}</string>
                <key>spriteSourceSize</key>
                <string>{111,128}</string>
                <key>textureRect</key>
                <string>{{1884,196},{111,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_eye_closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,43}</string>
                <key>spriteSourceSize</key>
                <string>{116,43}</string>
                <key>textureRect</key>
                <string>{{1544,1387},{116,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_eye_white_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{1936,1740},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_eyewhite_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,50}</string>
                <key>spriteSourceSize</key>
                <string>{41,50}</string>
                <key>textureRect</key>
                <string>{{2000,1},{41,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_finger_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,48}</string>
                <key>spriteSourceSize</key>
                <string>{25,48}</string>
                <key>textureRect</key>
                <string>{{2000,181},{25,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_forearm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,75}</string>
                <key>spriteSourceSize</key>
                <string>{96,75}</string>
                <key>textureRect</key>
                <string>{{1946,1366},{96,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_forearm_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,90}</string>
                <key>textureRect</key>
                <string>{{1945,1569},{78,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_forso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,179}</string>
                <key>spriteSourceSize</key>
                <string>{155,179}</string>
                <key>textureRect</key>
                <string>{{1884,475},{155,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,38}</string>
                <key>textureRect</key>
                <string>{{1254,850},{56,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1828,1764},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,188}</string>
                <key>spriteSourceSize</key>
                <string>{202,188}</string>
                <key>textureRect</key>
                <string>{{1675,766},{202,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,167}</string>
                <key>spriteSourceSize</key>
                <string>{223,167}</string>
                <key>textureRect</key>
                <string>{{1254,1490},{223,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_jaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,75}</string>
                <key>spriteSourceSize</key>
                <string>{95,75}</string>
                <key>textureRect</key>
                <string>{{1544,1511},{95,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,128}</string>
                <key>spriteSourceSize</key>
                <string>{68,128}</string>
                <key>textureRect</key>
                <string>{{1881,817},{68,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_leg_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{59,100}</string>
                <key>textureRect</key>
                <string>{{1481,1490},{59,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_pants_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,155}</string>
                <key>spriteSourceSize</key>
                <string>{153,155}</string>
                <key>textureRect</key>
                <string>{{1884,658},{153,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_pants_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,125}</string>
                <key>spriteSourceSize</key>
                <string>{82,125}</string>
                <key>textureRect</key>
                <string>{{1859,1558},{82,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_pupil_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{2000,142},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_pupil_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{1999,264},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_scarf_back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,41}</string>
                <key>spriteSourceSize</key>
                <string>{79,41}</string>
                <key>textureRect</key>
                <string>{{1544,1590},{79,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_scarf_back_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,83}</string>
                <key>spriteSourceSize</key>
                <string>{40,83}</string>
                <key>textureRect</key>
                <string>{{2000,55},{40,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_scarf_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,73}</string>
                <key>spriteSourceSize</key>
                <string>{114,73}</string>
                <key>textureRect</key>
                <string>{{1544,1434},{114,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_scarf_knot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{2028,233},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,200}</string>
                <key>spriteSourceSize</key>
                <string>{319,200}</string>
                <key>textureRect</key>
                <string>{{1254,1150},{319,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,121}</string>
                <key>spriteSourceSize</key>
                <string>{137,121}</string>
                <key>textureRect</key>
                <string>{{1481,1635},{137,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_upperarm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,105}</string>
                <key>spriteSourceSize</key>
                <string>{84,105}</string>
                <key>textureRect</key>
                <string>{{1953,817},{84,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_upperarm_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,83}</string>
                <key>spriteSourceSize</key>
                <string>{101,83}</string>
                <key>textureRect</key>
                <string>{{1946,1279},{101,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_whisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,233}</string>
                <key>spriteSourceSize</key>
                <string>{86,233}</string>
                <key>textureRect</key>
                <string>{{1577,1150},{86,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{1945,1663},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,191}</string>
                <key>spriteSourceSize</key>
                <string>{682,191}</string>
                <key>textureRect</key>
                <string>{{1314,1},{682,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1249,665}</string>
                <key>spriteSourceSize</key>
                <string>{1249,665}</string>
                <key>textureRect</key>
                <string>{{1,850},{1249,665}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,143}</string>
                <key>spriteSourceSize</key>
                <string>{158,143}</string>
                <key>textureRect</key>
                <string>{{1884,328},{158,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{1999,233},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,275}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{1667,1279},{275,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,380}</string>
                <key>spriteSourceSize</key>
                <string>{357,380}</string>
                <key>textureRect</key>
                <string>{{1314,766},{357,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-price.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,132}</string>
                <key>spriteSourceSize</key>
                <string>{286,132}</string>
                <key>textureRect</key>
                <string>{{1254,1354},{286,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,317}</string>
                <key>spriteSourceSize</key>
                <string>{353,317}</string>
                <key>textureRect</key>
                <string>{{1675,958},{353,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,188}</string>
                <key>spriteSourceSize</key>
                <string>{202,188}</string>
                <key>textureRect</key>
                <string>{{1622,1749},{202,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,187}</string>
                <key>spriteSourceSize</key>
                <string>{212,187}</string>
                <key>textureRect</key>
                <string>{{1643,1558},{212,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{1859,1687},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>starter_pack-a8508603f6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>starter_pack-a8508603f6.png</string>
        </dict>
    </dict>
</plist>
