<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_world_valentines-goldFont-200pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{1,117},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{1,233},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{1,349},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{90,1},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{179,1},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{268,1},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{357,1},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{90,117},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{90,233},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,23}</string>
                <key>spriteSourceSize</key>
                <string>{10,23}</string>
                <key>textureRect</key>
                <string>{{227,439},{10,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,23}</string>
                <key>spriteSourceSize</key>
                <string>{12,23}</string>
                <key>textureRect</key>
                <string>{{213,385},{12,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{221,304},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{206,469},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,23}</string>
                <key>spriteSourceSize</key>
                <string>{12,23}</string>
                <key>textureRect</key>
                <string>{{219,412},{12,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-goldFont-200pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{191,332},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,23}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{192,388},{17,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{202,304},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{226,469},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{202,196},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{203,161},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{217,127},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{202,223},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,23}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{198,415},{17,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,23}</string>
                <key>spriteSourceSize</key>
                <string>{17,23}</string>
                <key>textureRect</key>
                <string>{{206,442},{17,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{202,250},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{211,331},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,23}</string>
                <key>spriteSourceSize</key>
                <string>{10,23}</string>
                <key>textureRect</key>
                <string>{{235,412},{10,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,23}</string>
                <key>spriteSourceSize</key>
                <string>{12,23}</string>
                <key>textureRect</key>
                <string>{{229,385},{12,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{212,358},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{202,277},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,23}</string>
                <key>spriteSourceSize</key>
                <string>{12,23}</string>
                <key>textureRect</key>
                <string>{{219,412},{12,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{192,360},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{117,479},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{165,466},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{155,431},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{170,384},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{179,162},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{179,196},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{193,127},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{179,230},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{179,264},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{179,298},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{168,349},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,31}</string>
                <key>spriteSourceSize</key>
                <string>{10,31}</string>
                <key>textureRect</key>
                <string>{{179,127},{10,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{177,419},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{141,477},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{144,349},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{186,454},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{90,481},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{446,43},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,38}</string>
                <key>spriteSourceSize</key>
                <string>{16,38}</string>
                <key>textureRect</key>
                <string>{{135,435},{16,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{143,390},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,37}</string>
                <key>spriteSourceSize</key>
                <string>{24,37}</string>
                <key>textureRect</key>
                <string>{{116,349},{24,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{479,1},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{475,43},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{446,85},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{115,393},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{475,85},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{106,437},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{61,465},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,40}</string>
                <key>spriteSourceSize</key>
                <string>{12,40}</string>
                <key>textureRect</key>
                <string>{{90,437},{12,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{90,349},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1,465},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{31,465},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{90,393},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{446,1},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{117,479},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{165,466},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{155,431},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{170,384},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{179,162},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{179,196},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{20,30}</string>
                <key>textureRect</key>
                <string>{{193,127},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{179,230},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{179,264},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{179,298},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,31}</string>
                <key>spriteSourceSize</key>
                <string>{10,31}</string>
                <key>textureRect</key>
                <string>{{179,127},{10,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{177,419},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{141,477},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{144,349},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{186,454},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{90,481},{23,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus_world_valentines-84eff3d64b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>bonus_world_valentines-84eff3d64b.png</string>
        </dict>
    </dict>
</plist>
