<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guidewindow-energyplantchest-stage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,89}</string>
                <key>spriteSourceSize</key>
                <string>{95,89}</string>
                <key>textureRect</key>
                <string>{{279,1453},{95,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,301}</string>
                <key>spriteSourceSize</key>
                <string>{315,301}</string>
                <key>textureRect</key>
                <string>{{1,428},{315,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,233}</string>
                <key>spriteSourceSize</key>
                <string>{253,233}</string>
                <key>textureRect</key>
                <string>{{1,1501},{253,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,146}</string>
                <key>spriteSourceSize</key>
                <string>{78,146}</string>
                <key>textureRect</key>
                <string>{{430,1},{78,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,137}</string>
                <key>spriteSourceSize</key>
                <string>{130,137}</string>
                <key>textureRect</key>
                <string>{{303,953},{130,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,308}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{1,1738},{238,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_down_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,85}</string>
                <key>spriteSourceSize</key>
                <string>{123,85}</string>
                <key>textureRect</key>
                <string>{{303,1094},{123,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{408,1438},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_mines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,231}</string>
                <key>spriteSourceSize</key>
                <string>{235,231}</string>
                <key>textureRect</key>
                <string>{{243,1793},{235,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_pickaxe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,362}</string>
                <key>spriteSourceSize</key>
                <string>{298,362}</string>
                <key>textureRect</key>
                <string>{{1,733},{298,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,95}</string>
                <key>spriteSourceSize</key>
                <string>{274,95}</string>
                <key>textureRect</key>
                <string>{{1,1402},{274,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,177}</string>
                <key>spriteSourceSize</key>
                <string>{212,177}</string>
                <key>textureRect</key>
                <string>{{281,1183},{212,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rewards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,243}</string>
                <key>spriteSourceSize</key>
                <string>{239,243}</string>
                <key>textureRect</key>
                <string>{{258,1546},{239,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,175}</string>
                <key>spriteSourceSize</key>
                <string>{182,175}</string>
                <key>textureRect</key>
                <string>{{320,428},{182,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_stage_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{430,151},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_tile_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,75}</string>
                <key>textureRect</key>
                <string>{{303,874},{131,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_up_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,85}</string>
                <key>spriteSourceSize</key>
                <string>{123,85}</string>
                <key>textureRect</key>
                <string>{{281,1364},{123,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,72}</string>
                <key>spriteSourceSize</key>
                <string>{137,72}</string>
                <key>textureRect</key>
                <string>{{303,798},{137,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrowup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{430,223},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{41,43}</string>
                <key>textureRect</key>
                <string>{{430,274},{41,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_three_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,70}</string>
                <key>spriteSourceSize</key>
                <string>{101,70}</string>
                <key>textureRect</key>
                <string>{{408,1364},{101,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_yellow_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,423}</string>
                <key>spriteSourceSize</key>
                <string>{425,423}</string>
                <key>textureRect</key>
                <string>{{1,1},{425,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-orderswindow-attention_exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{475,274},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-prizes_heap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,299}</string>
                <key>spriteSourceSize</key>
                <string>{276,299}</string>
                <key>textureRect</key>
                <string>{{1,1099},{276,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,187}</string>
                <key>spriteSourceSize</key>
                <string>{158,187}</string>
                <key>textureRect</key>
                <string>{{320,607},{158,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guidewindow-322cc06b28.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>textureFileName</key>
            <string>guidewindow-322cc06b28.png</string>
        </dict>
    </dict>
</plist>
