<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_world_valentines-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{75,200},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{128,256},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{229,268},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{51,209},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{1,218},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{24,218},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{98,200},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{166,247},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{75,171},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{121,200},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{1,247},{16,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{10,25}</string>
                <key>textureRect</key>
                <string>{{146,124},{10,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{111,267},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{21,247},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{187,247},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{145,256},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{229,238},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{222,48},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{166,209},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{27,133},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{192,86},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{160,95},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{221,86},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{189,124},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{53,133},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{130,86},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{218,124},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{157,171},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{13,34}</string>
                <key>textureRect</key>
                <string>{{67,267},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{74,229},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{1,180},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{216,162},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{187,209},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{79,133},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{73,1},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,43}</string>
                <key>spriteSourceSize</key>
                <string>{20,43}</string>
                <key>textureRect</key>
                <string>{{27,171},{20,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{34,48},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{108,1},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{143,1},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{178,1},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{66,48},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{37,1},{32,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{213,1},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{162,48},{26,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,43}</string>
                <key>spriteSourceSize</key>
                <string>{13,43}</string>
                <key>textureRect</key>
                <string>{{94,229},{13,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,43}</string>
                <key>spriteSourceSize</key>
                <string>{18,43}</string>
                <key>textureRect</key>
                <string>{{144,209},{18,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,43}</string>
                <key>spriteSourceSize</key>
                <string>{22,43}</string>
                <key>textureRect</key>
                <string>{{1,133},{22,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{98,48},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{23,43}</string>
                <key>textureRect</key>
                <string>{{189,162},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{1,48},{29,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{1,95},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{208,238},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{105,162},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{30,95},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{59,95},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{88,95},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{117,124},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{131,162},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{192,48},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{160,133},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{13,34}</string>
                <key>textureRect</key>
                <string>{{111,229},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{47,238},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{51,171},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{216,200},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{187,209},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{130,48},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus_world_valentines-c705f0107c.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>bonus_world_valentines-c705f0107c.png</string>
        </dict>
    </dict>
</plist>
