<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_map2d_terrain_sand-sand-green_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1069,1},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-green_board_angle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1253,1},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-ground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1437,1},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-ground_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1621,1},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-grow12_both.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,107}</string>
                <key>spriteSourceSize</key>
                <string>{186,107}</string>
                <key>textureRect</key>
                <string>{{559,212},{186,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-grow12_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,105}</string>
                <key>spriteSourceSize</key>
                <string>{180,105}</string>
                <key>textureRect</key>
                <string>{{187,212},{180,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-grow12_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,105}</string>
                <key>spriteSourceSize</key>
                <string>{184,105}</string>
                <key>textureRect</key>
                <string>{{371,212},{184,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-grow12_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,104}</string>
                <key>spriteSourceSize</key>
                <string>{182,104}</string>
                <key>textureRect</key>
                <string>{{1,212},{182,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_down_both.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1805,1},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_down_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1,105},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_down_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{185,105},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_down_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{369,105},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_down_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{553,105},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_down_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{553,105},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_left_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{737,105},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_left_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,128}</string>
                <key>textureRect</key>
                <string>{{943,215},{180,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_left_inner_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,109}</string>
                <key>spriteSourceSize</key>
                <string>{190,109}</string>
                <key>textureRect</key>
                <string>{{749,215},{190,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_right_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{921,108},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_right_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,128}</string>
                <key>textureRect</key>
                <string>{{1127,215},{180,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_right_inner_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1105,108},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_up_both.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,128}</string>
                <key>textureRect</key>
                <string>{{1311,215},{180,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_up_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_up_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,128}</string>
                <key>textureRect</key>
                <string>{{1495,215},{180,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_up_left_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,128}</string>
                <key>textureRect</key>
                <string>{{1679,215},{180,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_up_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,131}</string>
                <key>spriteSourceSize</key>
                <string>{185,131}</string>
                <key>textureRect</key>
                <string>{{1,321},{185,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level1_up_right_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,132}</string>
                <key>spriteSourceSize</key>
                <string>{180,132}</string>
                <key>textureRect</key>
                <string>{{1863,215},{180,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_left_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,148}</string>
                <key>spriteSourceSize</key>
                <string>{180,148}</string>
                <key>textureRect</key>
                <string>{{723,328},{180,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_left_inner_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,146}</string>
                <key>spriteSourceSize</key>
                <string>{180,146}</string>
                <key>textureRect</key>
                <string>{{190,321},{180,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_right_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,153}</string>
                <key>spriteSourceSize</key>
                <string>{180,153}</string>
                <key>textureRect</key>
                <string>{{1072,347},{180,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_right_inner_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,154}</string>
                <key>spriteSourceSize</key>
                <string>{180,154}</string>
                <key>textureRect</key>
                <string>{{1440,347},{180,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_both.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,153}</string>
                <key>spriteSourceSize</key>
                <string>{180,153}</string>
                <key>textureRect</key>
                <string>{{1256,347},{180,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_both2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1289,108},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,148}</string>
                <key>spriteSourceSize</key>
                <string>{161,148}</string>
                <key>textureRect</key>
                <string>{{907,347},{161,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_corner2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1473,108},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,147}</string>
                <key>spriteSourceSize</key>
                <string>{176,147}</string>
                <key>textureRect</key>
                <string>{{374,321},{176,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_left_only2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1657,108},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_left_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,147}</string>
                <key>spriteSourceSize</key>
                <string>{165,147}</string>
                <key>textureRect</key>
                <string>{{554,323},{165,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,155}</string>
                <key>spriteSourceSize</key>
                <string>{171,155}</string>
                <key>textureRect</key>
                <string>{{1808,351},{171,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_right_only2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1841,108},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-level2_up_right_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,154}</string>
                <key>spriteSourceSize</key>
                <string>{180,154}</string>
                <key>textureRect</key>
                <string>{{1624,347},{180,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-side_angle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{179,1},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-water_up_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{357,1},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-water_up_left_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{535,1},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-water_up_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{713,1},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_map2d_terrain_sand-sand-water_up_right_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{891,1},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_map2d_terrain_sand-cf047761b4.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>textureFileName</key>
            <string>ads_map2d_terrain_sand-cf047761b4.png</string>
        </dict>
    </dict>
</plist>
