<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy_time-energy_time_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{254,254}</string>
                <key>textureRect</key>
                <string>{{1,347},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_arm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,167}</string>
                <key>spriteSourceSize</key>
                <string>{72,167}</string>
                <key>textureRect</key>
                <string>{{1,820},{72,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_arm_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,45}</string>
                <key>spriteSourceSize</key>
                <string>{77,45}</string>
                <key>textureRect</key>
                <string>{{259,626},{77,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,248}</string>
                <key>spriteSourceSize</key>
                <string>{161,248}</string>
                <key>textureRect</key>
                <string>{{343,568},{161,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_chocoegg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,140}</string>
                <key>spriteSourceSize</key>
                <string>{109,140}</string>
                <key>textureRect</key>
                <string>{{259,347},{109,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,197}</string>
                <key>spriteSourceSize</key>
                <string>{94,197}</string>
                <key>textureRect</key>
                <string>{{406,1},{94,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{459,422},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{372,367},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_eyelids.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,79}</string>
                <key>spriteSourceSize</key>
                <string>{178,79}</string>
                <key>textureRect</key>
                <string>{{77,605},{178,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,129}</string>
                <key>spriteSourceSize</key>
                <string>{70,129}</string>
                <key>textureRect</key>
                <string>{{1,605},{70,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,342}</string>
                <key>spriteSourceSize</key>
                <string>{401,342}</string>
                <key>textureRect</key>
                <string>{{1,1},{401,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_iris.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{37,51}</string>
                <key>textureRect</key>
                <string>{{459,367},{37,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_legs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,149}</string>
                <key>spriteSourceSize</key>
                <string>{191,149}</string>
                <key>textureRect</key>
                <string>{{77,820},{191,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_shoulder_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{82,110}</string>
                <key>textureRect</key>
                <string>{{372,454},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_shoulder_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,131}</string>
                <key>spriteSourceSize</key>
                <string>{80,131}</string>
                <key>textureRect</key>
                <string>{{259,491},{80,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_strap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{92,161}</string>
                <key>textureRect</key>
                <string>{{406,202},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_time-4ee939c850.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>energy_time-4ee939c850.png</string>
        </dict>
    </dict>
</plist>
