<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,345}</string>
                <key>spriteSourceSize</key>
                <string>{829,345}</string>
                <key>textureRect</key>
                <string>{{1184,1002},{829,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{956,420}</string>
                <key>spriteSourceSize</key>
                <string>{956,420}</string>
                <key>textureRect</key>
                <string>{{1,3180},{956,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1321,337}</string>
                <key>spriteSourceSize</key>
                <string>{1321,337}</string>
                <key>textureRect</key>
                <string>{{1,1},{1321,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_es.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,288}</string>
                <key>spriteSourceSize</key>
                <string>{926,288}</string>
                <key>textureRect</key>
                <string>{{1117,2410},{926,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_fr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1179,334}</string>
                <key>spriteSourceSize</key>
                <string>{1179,334}</string>
                <key>textureRect</key>
                <string>{{1,1374},{1179,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{976,294}</string>
                <key>spriteSourceSize</key>
                <string>{976,294}</string>
                <key>textureRect</key>
                <string>{{1,2882},{976,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1112,468}</string>
                <key>spriteSourceSize</key>
                <string>{1112,468}</string>
                <key>textureRect</key>
                <string>{{1,2410},{1112,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,343}</string>
                <key>spriteSourceSize</key>
                <string>{722,343}</string>
                <key>textureRect</key>
                <string>{{1299,373},{722,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1294,330}</string>
                <key>spriteSourceSize</key>
                <string>{1294,330}</string>
                <key>textureRect</key>
                <string>{{1,342},{1294,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_nl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1158,332}</string>
                <key>spriteSourceSize</key>
                <string>{1158,332}</string>
                <key>textureRect</key>
                <string>{{1,2074},{1158,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1179,368}</string>
                <key>spriteSourceSize</key>
                <string>{1179,368}</string>
                <key>textureRect</key>
                <string>{{1,1002},{1179,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1175,358}</string>
                <key>spriteSourceSize</key>
                <string>{1175,358}</string>
                <key>textureRect</key>
                <string>{{1,1712},{1175,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{933,301}</string>
                <key>spriteSourceSize</key>
                <string>{933,301}</string>
                <key>textureRect</key>
                <string>{{961,3241},{933,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1221,322}</string>
                <key>spriteSourceSize</key>
                <string>{1221,322}</string>
                <key>textureRect</key>
                <string>{{1,676},{1221,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,535}</string>
                <key>spriteSourceSize</key>
                <string>{911,535}</string>
                <key>textureRect</key>
                <string>{{1117,2702},{911,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,260}</string>
                <key>spriteSourceSize</key>
                <string>{267,260}</string>
                <key>textureRect</key>
                <string>{{1326,1},{267,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1597,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1651,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1705,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1759,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1813,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{1866,271},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1867,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1921,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1975,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1597,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1651,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1705,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1759,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1813,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1867,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1921,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,28}</string>
                <key>textureRect</key>
                <string>{{1596,325},{50,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1975,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1597,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1651,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1705,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1759,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1813,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{1972,271},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1867,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1921,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{49,50}</string>
                <key>textureRect</key>
                <string>{{1919,271},{49,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1975,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1597,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1651,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1705,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1759,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1813,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1867,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1921,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1975,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1597,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1326,265},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1380,265},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1434,265},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1488,265},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1542,265},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1651,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1705,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1759,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1813,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1867,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1921,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1975,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1596,271},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1326,319},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1380,319},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1434,319},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1488,319},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1542,319},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1650,271},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1704,271},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1758,271},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1812,271},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{1299,342},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>screenshots-c40af76ee5.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>textureFileName</key>
            <string>screenshots-c40af76ee5.png</string>
        </dict>
    </dict>
</plist>
