<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_title-substrate-ananas_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,35}</string>
                <key>spriteSourceSize</key>
                <string>{21,35}</string>
                <key>textureRect</key>
                <string>{{719,497},{21,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-autumn_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{84,77}</string>
                <key>textureRect</key>
                <string>{{1,539},{84,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-black_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{220,596},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blackpurple_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{51,58}</string>
                <key>textureRect</key>
                <string>{{554,486},{51,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blackpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{726,246},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueblue_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,63}</string>
                <key>spriteSourceSize</key>
                <string>{52,63}</string>
                <key>textureRect</key>
                <string>{{341,536},{52,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueorange_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,63}</string>
                <key>spriteSourceSize</key>
                <string>{52,63}</string>
                <key>textureRect</key>
                <string>{{1,692},{52,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{88,660},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-brown_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{726,338},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-cheese_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{726,189},{36,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-cherry_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{726,304},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-coin_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{498,549},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-coin_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,31}</string>
                <key>spriteSourceSize</key>
                <string>{46,31}</string>
                <key>textureRect</key>
                <string>{{554,548},{46,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-dark_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,35}</string>
                <key>spriteSourceSize</key>
                <string>{130,35}</string>
                <key>textureRect</key>
                <string>{{1,500},{130,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkpurple_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{51,58}</string>
                <key>textureRect</key>
                <string>{{609,486},{51,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{88,691},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkred_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{498,486},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkred_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{57,692},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-feather_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,17}</string>
                <key>spriteSourceSize</key>
                <string>{51,17}</string>
                <key>textureRect</key>
                <string>{{664,486},{51,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-fleid_frame_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,47}</string>
                <key>textureRect</key>
                <string>{{946,183},{55,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-halloween_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{946,123},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-hexagreen_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{946,302},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-letter_keypad_bg_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{946,234},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-light_grey_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{89,580},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-merge_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,174}</string>
                <key>spriteSourceSize</key>
                <string>{261,174}</string>
                <key>textureRect</key>
                <string>{{760,365},{261,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-merge_logo_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,184}</string>
                <key>spriteSourceSize</key>
                <string>{334,184}</string>
                <key>textureRect</key>
                <string>{{429,1},{334,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-mini_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{946,60},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-mini_bg_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,24}</string>
                <key>spriteSourceSize</key>
                <string>{31,24}</string>
                <key>textureRect</key>
                <string>{{726,276},{31,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-newyork_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{84,77}</string>
                <key>textureRect</key>
                <string>{{410,486},{84,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-orange_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{726,466},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-picture_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,176}</string>
                <key>spriteSourceSize</key>
                <string>{175,176}</string>
                <key>textureRect</key>
                <string>{{767,1},{175,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-picture_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,176}</string>
                <key>spriteSourceSize</key>
                <string>{175,176}</string>
                <key>textureRect</key>
                <string>{{767,181},{175,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pink_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{88,621},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pinkblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{726,434},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pinup_dance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,67}</string>
                <key>spriteSourceSize</key>
                <string>{271,67}</string>
                <key>textureRect</key>
                <string>{{1,429},{271,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pyramid_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{726,218},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,424}</string>
                <key>spriteSourceSize</key>
                <string>{424,424}</string>
                <key>textureRect</key>
                <string>{{1,1},{424,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-ribbon_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,49}</string>
                <key>spriteSourceSize</key>
                <string>{130,49}</string>
                <key>textureRect</key>
                <string>{{276,483},{130,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seabeach_starfish_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{726,402},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seabeach_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{83,68}</string>
                <key>textureRect</key>
                <string>{{133,564},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seashell_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{220,564},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-shanghai_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{84,77}</string>
                <key>textureRect</key>
                <string>{{253,536},{84,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-table_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,293}</string>
                <key>spriteSourceSize</key>
                <string>{293,293}</string>
                <key>textureRect</key>
                <string>{{429,189},{293,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,55}</string>
                <key>spriteSourceSize</key>
                <string>{66,55}</string>
                <key>textureRect</key>
                <string>{{946,1},{66,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{664,507},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_green_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,37}</string>
                <key>spriteSourceSize</key>
                <string>{40,37}</string>
                <key>textureRect</key>
                <string>{{89,539},{40,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-transparent_black_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,67}</string>
                <key>spriteSourceSize</key>
                <string>{82,67}</string>
                <key>textureRect</key>
                <string>{{117,636},{82,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-transparent_white_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,68}</string>
                <key>spriteSourceSize</key>
                <string>{83,68}</string>
                <key>textureRect</key>
                <string>{{1,620},{83,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-violet_flower_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{726,367},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-wood_counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,60}</string>
                <key>spriteSourceSize</key>
                <string>{114,60}</string>
                <key>textureRect</key>
                <string>{{135,500},{114,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-wood_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,50}</string>
                <key>spriteSourceSize</key>
                <string>{130,50}</string>
                <key>textureRect</key>
                <string>{{276,429},{130,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_title-cefbaed11b.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>ads_title-cefbaed11b.png</string>
        </dict>
    </dict>
</plist>
