<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_machine-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{31,0},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{53,0},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{80,0},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{111,0},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{142,0},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{172,0},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{202,0},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{229,0},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{261,0},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,37}</string>
                <key>spriteSourceSize</key>
                <string>{24,37}</string>
                <key>textureRect</key>
                <string>{{291,0},{24,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,37}</string>
                <key>spriteSourceSize</key>
                <string>{15,37}</string>
                <key>textureRect</key>
                <string>{{317,0},{15,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{334,0},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{356,0},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{381,0},{26,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{409,0},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,39}</string>
                <key>spriteSourceSize</key>
                <string>{26,39}</string>
                <key>textureRect</key>
                <string>{{431,0},{26,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{459,0},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{0,52},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{27,52},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{62,52},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{101,52},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{141,52},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{181,52},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{220,52},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{255,52},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{296,52},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{335,52},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,50}</string>
                <key>spriteSourceSize</key>
                <string>{19,50}</string>
                <key>textureRect</key>
                <string>{{369,52},{19,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{390,52},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{416,52},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{448,52},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{485,52},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{0,104},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,65}</string>
                <key>spriteSourceSize</key>
                <string>{47,65}</string>
                <key>textureRect</key>
                <string>{{279,156},{47,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,65}</string>
                <key>spriteSourceSize</key>
                <string>{31,65}</string>
                <key>textureRect</key>
                <string>{{328,156},{31,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,65}</string>
                <key>spriteSourceSize</key>
                <string>{41,65}</string>
                <key>textureRect</key>
                <string>{{361,156},{41,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{404,156},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{452,156},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{0,223},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{48,223},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,65}</string>
                <key>spriteSourceSize</key>
                <string>{42,65}</string>
                <key>textureRect</key>
                <string>{{96,223},{42,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{49,65}</string>
                <key>textureRect</key>
                <string>{{140,223},{49,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{45,65}</string>
                <key>textureRect</key>
                <string>{{191,223},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{238,223},{40,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,65}</string>
                <key>spriteSourceSize</key>
                <string>{20,65}</string>
                <key>textureRect</key>
                <string>{{280,223},{20,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{27,65}</string>
                <key>textureRect</key>
                <string>{{302,223},{27,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,65}</string>
                <key>spriteSourceSize</key>
                <string>{33,65}</string>
                <key>textureRect</key>
                <string>{{331,223},{33,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,65}</string>
                <key>spriteSourceSize</key>
                <string>{41,65}</string>
                <key>textureRect</key>
                <string>{{366,223},{41,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,65}</string>
                <key>spriteSourceSize</key>
                <string>{34,65}</string>
                <key>textureRect</key>
                <string>{{409,223},{34,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,65}</string>
                <key>spriteSourceSize</key>
                <string>{43,65}</string>
                <key>textureRect</key>
                <string>{{445,223},{43,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{34,104},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{74,104},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{101,104},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{136,104},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{175,104},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{215,104},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{255,104},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{294,104},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{329,104},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{370,104},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,50}</string>
                <key>spriteSourceSize</key>
                <string>{19,50}</string>
                <key>textureRect</key>
                <string>{{409,104},{19,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{430,104},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{456,104},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{0,156},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{37,156},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{64,156},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,117}</string>
                <key>spriteSourceSize</key>
                <string>{113,117}</string>
                <key>textureRect</key>
                <string>{{145,290},{113,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-coin_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{149,156},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-coin_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{75,290},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,117}</string>
                <key>spriteSourceSize</key>
                <string>{80,117}</string>
                <key>textureRect</key>
                <string>{{260,290},{80,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-energy_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,57}</string>
                <key>spriteSourceSize</key>
                <string>{39,57}</string>
                <key>textureRect</key>
                <string>{{108,156},{39,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,117}</string>
                <key>spriteSourceSize</key>
                <string>{133,117}</string>
                <key>textureRect</key>
                <string>{{342,290},{133,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,117}</string>
                <key>textureRect</key>
                <string>{{0,409},{128,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-ruby_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{208,156},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-ruby_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{0,290},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,117}</string>
                <key>spriteSourceSize</key>
                <string>{107,117}</string>
                <key>textureRect</key>
                <string>{{130,409},{107,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,117}</string>
                <key>spriteSourceSize</key>
                <string>{96,117}</string>
                <key>textureRect</key>
                <string>{{239,409},{96,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slot_machine-d9cbde7fdd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>slot_machine-d9cbde7fdd.png</string>
        </dict>
    </dict>
</plist>
