<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>editor-admin-regular_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,28}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{1,104},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{97,156},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{1,154},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{1,129},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{37,104},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{69,121},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_cards_button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{37,136},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_cards_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{67,153},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,39}</string>
                <key>textureRect</key>
                <string>{{72,78},{34,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,3}</string>
                <key>spriteSourceSize</key>
                <string>{17,3}</string>
                <key>textureRect</key>
                <string>{{108,24},{17,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{101,121},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{108,1},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1,33},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-undo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{72,33},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>editor-8f0e93f2a5.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>textureFileName</key>
            <string>editor-8f0e93f2a5.png</string>
        </dict>
    </dict>
</plist>
