<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,192},{382,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,110}}</string>
                <key>sourceSize</key>
                <string>{382,110}</string>
            </dict>
            <key>0_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,182},{362,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{362,104}}</string>
                <key>sourceSize</key>
                <string>{382,110}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1061},{128,331}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{128,331}}</string>
                <key>sourceSize</key>
                <string>{220,337}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,345},{216,335}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,335}}</string>
                <key>sourceSize</key>
                <string>{220,337}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,345},{220,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,337}}</string>
                <key>sourceSize</key>
                <string>{220,337}</string>
            </dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1394},{36,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{36,35}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>b.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2026},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,14}</string>
            </dict>
            <key>back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,653},{333,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,82}}</string>
                <key>sourceSize</key>
                <string>{333,82}</string>
            </dict>
            <key>back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1440},{317,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{317,78}}</string>
                <key>sourceSize</key>
                <string>{333,82}</string>
            </dict>
            <key>bgsuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,800},{638,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,199}}</string>
                <key>sourceSize</key>
                <string>{638,199}</string>
            </dict>
            <key>bloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,576},{82,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,107}}</string>
                <key>sourceSize</key>
                <string>{82,107}</string>
            </dict>
            <key>bloon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,546},{149,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,196}}</string>
                <key>sourceSize</key>
                <string>{149,196}</string>
            </dict>
            <key>c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,474},{36,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>caodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{566,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,341}}</string>
                <key>sourceSize</key>
                <string>{566,341}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1520},{502,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,182}}</string>
                <key>sourceSize</key>
                <string>{502,182}</string>
            </dict>
            <key>cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,660},{104,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{104,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1394},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>defen.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,760},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>denghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2026},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,223},{458,474}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{458,474}}</string>
                <key>sourceSize</key>
                <string>{484,480}</string>
            </dict>
            <key>gs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,178},{502,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,43}}</string>
                <key>sourceSize</key>
                <string>{502,43}</string>
            </dict>
            <key>guize_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,567},{333,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,84}}</string>
                <key>sourceSize</key>
                <string>{333,84}</string>
            </dict>
            <key>guize_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,656},{317,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{317,80}}</string>
                <key>sourceSize</key>
                <string>{333,84}</string>
            </dict>
            <key>hd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,250},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>huidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,975},{284,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,71}}</string>
                <key>sourceSize</key>
                <string>{284,71}</string>
            </dict>
            <key>jianpan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{188,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,111}}</string>
                <key>sourceSize</key>
                <string>{188,111}</string>
            </dict>
            <key>jianpan_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,2},{178,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{178,105}}</string>
                <key>sourceSize</key>
                <string>{188,111}</string>
            </dict>
            <key>jianpanhuidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{618,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,504}}</string>
                <key>sourceSize</key>
                <string>{618,504}</string>
            </dict>
            <key>kaishi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{333,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,75}}</string>
                <key>sourceSize</key>
                <string>{333,75}</string>
            </dict>
            <key>kaishi_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,337},{317,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{317,71}}</string>
                <key>sourceSize</key>
                <string>{333,75}</string>
            </dict>
            <key>pc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,474},{56,48}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{56,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,328},{50,76}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{50,76}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>rb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,178},{56,70}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,13},{56,70}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>rb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,380},{92,68}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{92,68}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>rb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,737},{90,52}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{90,52}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>rb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,682},{94,52}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{94,52}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>rb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1317},{88,62}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,682},{142,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{142,118}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>shijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,861},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>sjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1048},{267,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,52}}</string>
                <key>sourceSize</key>
                <string>{267,52}</string>
            </dict>
            <key>susuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{563,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,174}}</string>
                <key>sourceSize</key>
                <string>{563,174}</string>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1394},{142,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{142,120}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>yuan_zise.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,962},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>yun_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{718,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,35},{718,167}}</string>
                <key>sourceSize</key>
                <string>{720,237}</string>
            </dict>
            <key>yun_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,800},{698,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{698,237}}</string>
                <key>sourceSize</key>
                <string>{720,237}</string>
            </dict>
            <key>yxgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{607,796}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,796}}</string>
                <key>sourceSize</key>
                <string>{607,796}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aafe8b02e86c9158a390075a22bd4ac4:d87db1c42bc3c7bbdfa7db95deba21af:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
