<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_sprites-sprites-build_combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,461}</string>
                <key>spriteSourceSize</key>
                <string>{402,461}</string>
                <key>textureRect</key>
                <string>{{1411,1093},{402,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-build_dwarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,473}</string>
                <key>spriteSourceSize</key>
                <string>{402,473}</string>
                <key>textureRect</key>
                <string>{{1005,891},{402,473}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,82}</string>
                <key>spriteSourceSize</key>
                <string>{252,82}</string>
                <key>textureRect</key>
                <string>{{1271,1558},{252,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1562,476}</string>
                <key>spriteSourceSize</key>
                <string>{1562,476}</string>
                <key>textureRect</key>
                <string>{{1,1},{1562,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{826,476}</string>
                <key>spriteSourceSize</key>
                <string>{826,476}</string>
                <key>textureRect</key>
                <string>{{1,1541},{826,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence_left_landscape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,576}</string>
                <key>spriteSourceSize</key>
                <string>{1000,576}</string>
                <key>textureRect</key>
                <string>{{1,481},{1000,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,476}</string>
                <key>spriteSourceSize</key>
                <string>{672,476}</string>
                <key>textureRect</key>
                <string>{{1237,1955},{672,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence_right_landscape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{860,476}</string>
                <key>spriteSourceSize</key>
                <string>{860,476}</string>
                <key>textureRect</key>
                <string>{{1,1061},{860,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,126}</string>
                <key>spriteSourceSize</key>
                <string>{404,126}</string>
                <key>textureRect</key>
                <string>{{1567,453},{404,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-harvest_bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,305}</string>
                <key>spriteSourceSize</key>
                <string>{402,305}</string>
                <key>textureRect</key>
                <string>{{1,2021},{402,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-harvest_shovel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,402}</string>
                <key>spriteSourceSize</key>
                <string>{292,402}</string>
                <key>textureRect</key>
                <string>{{808,2246},{292,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,126}</string>
                <key>spriteSourceSize</key>
                <string>{404,126}</string>
                <key>textureRect</key>
                <string>{{1005,631},{404,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_buble_cake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,226}</string>
                <key>spriteSourceSize</key>
                <string>{209,226}</string>
                <key>textureRect</key>
                <string>{{1817,1321},{209,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,269}</string>
                <key>spriteSourceSize</key>
                <string>{375,269}</string>
                <key>textureRect</key>
                <string>{{1,2330},{375,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_corn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,224}</string>
                <key>spriteSourceSize</key>
                <string>{218,224}</string>
                <key>textureRect</key>
                <string>{{1817,1093},{218,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_hero_svin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,169}</string>
                <key>spriteSourceSize</key>
                <string>{178,169}</string>
                <key>textureRect</key>
                <string>{{1817,1551},{178,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_korol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,420}</string>
                <key>spriteSourceSize</key>
                <string>{402,420}</string>
                <key>textureRect</key>
                <string>{{831,1822},{402,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_light_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,506}</string>
                <key>spriteSourceSize</key>
                <string>{482,506}</string>
                <key>textureRect</key>
                <string>{{1501,583},{482,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_magic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,450}</string>
                <key>spriteSourceSize</key>
                <string>{402,450}</string>
                <key>textureRect</key>
                <string>{{865,1368},{402,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_scroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,372}</string>
                <key>spriteSourceSize</key>
                <string>{397,372}</string>
                <key>textureRect</key>
                <string>{{407,2021},{397,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,163}</string>
                <key>spriteSourceSize</key>
                <string>{148,163}</string>
                <key>textureRect</key>
                <string>{{652,2397},{148,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,448}</string>
                <key>spriteSourceSize</key>
                <string>{478,448}</string>
                <key>textureRect</key>
                <string>{{1567,1},{478,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,128}</string>
                <key>spriteSourceSize</key>
                <string>{133,128}</string>
                <key>textureRect</key>
                <string>{{865,1061},{133,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-new_sceenshot_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,146}</string>
                <key>spriteSourceSize</key>
                <string>{492,146}</string>
                <key>textureRect</key>
                <string>{{1005,481},{492,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-screenshot_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,146}</string>
                <key>spriteSourceSize</key>
                <string>{492,146}</string>
                <key>textureRect</key>
                <string>{{1005,481},{492,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-select_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,227}</string>
                <key>spriteSourceSize</key>
                <string>{674,227}</string>
                <key>textureRect</key>
                <string>{{1271,1724},{674,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,283}</string>
                <key>spriteSourceSize</key>
                <string>{254,283}</string>
                <key>textureRect</key>
                <string>{{1,2603},{254,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,417}</string>
                <key>spriteSourceSize</key>
                <string>{268,417}</string>
                <key>textureRect</key>
                <string>{{380,2397},{268,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-wands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,126}</string>
                <key>spriteSourceSize</key>
                <string>{404,126}</string>
                <key>textureRect</key>
                <string>{{1005,761},{404,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_sprites-eed6579204.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>textureFileName</key>
            <string>ads_sprites-eed6579204.png</string>
        </dict>
    </dict>
</plist>
