<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailytasks-adicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{158,37},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-bonus_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{104,80},{43,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-coin_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{0,145},{69,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-dailytask_fb_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{42,37},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-dailytask_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{191,80},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-episode_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{79,37},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-free_moves_friends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{0,37},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-gift_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{116,37},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-hint_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{221,0},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{29,0},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{58,0},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,23}</string>
                <key>spriteSourceSize</key>
                <string>{27,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{149,80},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-easy_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{86,0},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-easy_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{198,37},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-frame_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{71,145},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-frame_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{153,145},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-hard_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{120,0},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-hard_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{0,80},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-medium_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{154,0},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-medium_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,32}</string>
                <key>spriteSourceSize</key>
                <string>{50,32}</string>
                <key>textureRect</key>
                <string>{{52,80},{50,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-overtake_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{188,0},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dailytasks-c214068797.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>dailytasks-c214068797.png</string>
        </dict>
    </dict>
</plist>
