<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1405},{106,188}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,0},{106,188}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,680},{158,174}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{158,174}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,536},{178,142}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{178,142}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1405},{106,188}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,0},{106,188}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1181},{128,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,3},{128,331}}</string>
                <key>sourceSize</key>
                <string>{220,337}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{216,335}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,335}}</string>
                <key>sourceSize</key>
                <string>{220,337}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,882},{220,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,337}}</string>
                <key>sourceSize</key>
                <string>{220,337}</string>
            </dict>
            <key>KENG.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1492},{149,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,94}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,210},{344,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,102}}</string>
                <key>sourceSize</key>
                <string>{344,102}</string>
            </dict>
            <key>back_[ress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1311},{326,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{326,96}}</string>
                <key>sourceSize</key>
                <string>{344,102}</string>
            </dict>
            <key>caodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,314},{566,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,341}}</string>
                <key>sourceSize</key>
                <string>{566,341}</string>
            </dict>
            <key>chongxinshuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1300},{294,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,96}}</string>
                <key>sourceSize</key>
                <string>{294,96}</string>
            </dict>
            <key>chongxinshuru_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1398},{280,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{280,92}}</string>
                <key>sourceSize</key>
                <string>{294,96}</string>
            </dict>
            <key>could01.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1451},{109,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,68}}</string>
                <key>sourceSize</key>
                <string>{109,68}</string>
            </dict>
            <key>could02.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1516},{105,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,67}}</string>
                <key>sourceSize</key>
                <string>{105,67}</string>
            </dict>
            <key>could03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,119},{91,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,57}}</string>
                <key>sourceSize</key>
                <string>{91,57}</string>
            </dict>
            <key>datiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{614,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,253}}</string>
                <key>sourceSize</key>
                <string>{614,253}</string>
            </dict>
            <key>dishu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1136},{115,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,136}}</string>
                <key>sourceSize</key>
                <string>{115,136}</string>
            </dict>
            <key>dishu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1274},{115,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,130}}</string>
                <key>sourceSize</key>
                <string>{115,136}</string>
            </dict>
            <key>dishu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1406},{115,108}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{115,108}}</string>
                <key>sourceSize</key>
                <string>{115,136}</string>
            </dict>
            <key>dishu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{115,58}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,78},{115,58}}</string>
                <key>sourceSize</key>
                <string>{115,136}</string>
            </dict>
            <key>fenjiexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,212},{553,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,4}}</string>
                <key>sourceSize</key>
                <string>{553,4}</string>
            </dict>
            <key>gs.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,632},{502,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,43}}</string>
                <key>sourceSize</key>
                <string>{502,43}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{425,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,425}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>guanqia.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,840},{221,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,154}}</string>
                <key>sourceSize</key>
                <string>{221,154}</string>
            </dict>
            <key>guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,106},{344,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,102}}</string>
                <key>sourceSize</key>
                <string>{344,102}</string>
            </dict>
            <key>guize_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1202},{326,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{326,96}}</string>
                <key>sourceSize</key>
                <string>{344,102}</string>
            </dict>
            <key>jisuanABC.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1280},{190,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,123}}</string>
                <key>sourceSize</key>
                <string>{190,123}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{344,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,102}}</string>
                <key>sourceSize</key>
                <string>{344,102}</string>
            </dict>
            <key>kaishi_presss.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1104},{326,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{326,96}}</string>
                <key>sourceSize</key>
                <string>{344,102}</string>
            </dict>
            <key>keng_behind.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1300},{149,76}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,76}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>keng_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,481},{149,46}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{149,46}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1063},{235,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,144}}</string>
                <key>sourceSize</key>
                <string>{235,144}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{609,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,277}}</string>
                <key>sourceSize</key>
                <string>{609,277}</string>
            </dict>
            <key>sjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,212},{267,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,52}}</string>
                <key>sourceSize</key>
                <string>{267,52}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1209},{201,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,69}}</string>
                <key>sourceSize</key>
                <string>{201,69}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,257},{1,1}}</string>
                <key>offset</key>
                <string>{-24,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{49,63}</string>
            </dict>
            <key>xiahuaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,314},{49,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,4}}</string>
                <key>sourceSize</key>
                <string>{49,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dancisuping_yasu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab08c94c76e8a0f0018d35b31e73316$</string>
            <key>textureFileName</key>
            <string>dancisuping_yasu.png</string>
        </dict>
    </dict>
</plist>
