<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogues_minimal-dialogues-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{387,1},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,161}</string>
                <key>spriteSourceSize</key>
                <string>{186,161}</string>
                <key>textureRect</key>
                <string>{{197,1},{186,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_dwarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,168}</string>
                <key>spriteSourceSize</key>
                <string>{192,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_elf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,187}</string>
                <key>spriteSourceSize</key>
                <string>{163,187}</string>
                <key>textureRect</key>
                <string>{{1,338},{163,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{168,361},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_rider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,161}</string>
                <key>spriteSourceSize</key>
                <string>{166,161}</string>
                <key>textureRect</key>
                <string>{{1,173},{166,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,167}</string>
                <key>spriteSourceSize</key>
                <string>{154,167}</string>
                <key>textureRect</key>
                <string>{{333,361},{154,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warlock_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,191}</string>
                <key>spriteSourceSize</key>
                <string>{171,191}</string>
                <key>textureRect</key>
                <string>{{197,166},{171,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues_minimal-d656e37a9e.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>dialogues_minimal-d656e37a9e.png</string>
        </dict>
    </dict>
</plist>
