<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guidewindow-guidewindow_blue_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,401}</string>
                <key>spriteSourceSize</key>
                <string>{420,401}</string>
                <key>textureRect</key>
                <string>{{495,1},{420,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,177}</string>
                <key>spriteSourceSize</key>
                <string>{180,177}</string>
                <key>textureRect</key>
                <string>{{314,1428},{180,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,220}</string>
                <key>spriteSourceSize</key>
                <string>{348,220}</string>
                <key>textureRect</key>
                <string>{{370,892},{348,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,426}</string>
                <key>spriteSourceSize</key>
                <string>{309,426}</string>
                <key>textureRect</key>
                <string>{{1,1326},{309,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_down_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,108}</string>
                <key>spriteSourceSize</key>
                <string>{166,108}</string>
                <key>textureRect</key>
                <string>{{314,1609},{166,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,192}</string>
                <key>spriteSourceSize</key>
                <string>{286,192}</string>
                <key>textureRect</key>
                <string>{{722,892},{286,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_mines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,308}</string>
                <key>spriteSourceSize</key>
                <string>{313,308}</string>
                <key>textureRect</key>
                <string>{{323,1116},{313,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_pickaxe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,482}</string>
                <key>spriteSourceSize</key>
                <string>{397,482}</string>
                <key>textureRect</key>
                <string>{{495,406},{397,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,126}</string>
                <key>spriteSourceSize</key>
                <string>{365,126}</string>
                <key>textureRect</key>
                <string>{{1,868},{365,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,236}</string>
                <key>spriteSourceSize</key>
                <string>{283,236}</string>
                <key>textureRect</key>
                <string>{{722,1088},{283,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rewards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,324}</string>
                <key>spriteSourceSize</key>
                <string>{318,324}</string>
                <key>textureRect</key>
                <string>{{1,998},{318,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,251}</string>
                <key>spriteSourceSize</key>
                <string>{254,251}</string>
                <key>textureRect</key>
                <string>{{312,1756},{254,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_stage_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{919,1},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_tile_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{498,1428},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_up_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,106}</string>
                <key>spriteSourceSize</key>
                <string>{166,106}</string>
                <key>textureRect</key>
                <string>{{484,1609},{166,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,96}</string>
                <key>spriteSourceSize</key>
                <string>{183,96}</string>
                <key>textureRect</key>
                <string>{{640,1328},{183,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrowup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{919,96},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{919,163},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_three_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,93}</string>
                <key>spriteSourceSize</key>
                <string>{135,93}</string>
                <key>textureRect</key>
                <string>{{827,1328},{135,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_yellow_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,461}</string>
                <key>spriteSourceSize</key>
                <string>{490,461}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-orderswindow-attention_exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{977,163},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-prizes_heap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,398}</string>
                <key>spriteSourceSize</key>
                <string>{368,398}</string>
                <key>textureRect</key>
                <string>{{1,466},{368,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-treasure-stage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,122}</string>
                <key>spriteSourceSize</key>
                <string>{127,122}</string>
                <key>textureRect</key>
                <string>{{896,406},{127,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,274}</string>
                <key>spriteSourceSize</key>
                <string>{307,274}</string>
                <key>textureRect</key>
                <string>{{1,1756},{307,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guidewindow-532b9b460e.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>guidewindow-532b9b460e.png</string>
        </dict>
    </dict>
</plist>
