<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_words_list-white_things-bread.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{77,72}</string>
                <key>textureRect</key>
                <string>{{252,352},{77,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{384,195},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-foam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{83,77}</string>
                <key>textureRect</key>
                <string>{{309,79},{83,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-milk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{167,383},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-rice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,92}</string>
                <key>spriteSourceSize</key>
                <string>{85,92}</string>
                <key>textureRect</key>
                <string>{{399,1},{85,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-salt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,74}</string>
                <key>spriteSourceSize</key>
                <string>{86,74}</string>
                <key>textureRect</key>
                <string>{{309,1},{86,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-snow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,97}</string>
                <key>spriteSourceSize</key>
                <string>{103,97}</string>
                <key>textureRect</key>
                <string>{{109,1},{103,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-swan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{216,1},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,61}</string>
                <key>spriteSourceSize</key>
                <string>{104,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-ananas_yellow_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{422,490},{44,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blackblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,90}</string>
                <key>spriteSourceSize</key>
                <string>{77,90}</string>
                <key>textureRect</key>
                <string>{{350,277},{77,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blackpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,90}</string>
                <key>spriteSourceSize</key>
                <string>{77,90}</string>
                <key>textureRect</key>
                <string>{{431,316},{77,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blue_ice_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{155,467},{44,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blueblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{383,412},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blueorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{383,457},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-bottom_bllue_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{203,467},{44,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-bottom_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{385,371},{41,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cheese_red_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,37}</string>
                <key>spriteSourceSize</key>
                <string>{48,37}</string>
                <key>textureRect</key>
                <string>{{333,371},{48,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cheese_yellow_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{468,234},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-chocolate_dark_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{251,472},{44,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-chocolate_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,37}</string>
                <key>spriteSourceSize</key>
                <string>{46,37}</string>
                <key>textureRect</key>
                <string>{{333,412},{46,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cyanorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{472,451},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-darkpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,89}</string>
                <key>spriteSourceSize</key>
                <string>{78,89}</string>
                <key>textureRect</key>
                <string>{{85,293},{78,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-darkred_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,89}</string>
                <key>spriteSourceSize</key>
                <string>{78,89}</string>
                <key>textureRect</key>
                <string>{{1,354},{78,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-greyblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,94}</string>
                <key>spriteSourceSize</key>
                <string>{79,94}</string>
                <key>textureRect</key>
                <string>{{267,254},{79,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-greygrey_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,94}</string>
                <key>spriteSourceSize</key>
                <string>{79,94}</string>
                <key>textureRect</key>
                <string>{{169,285},{79,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-hexagreen_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{85,200},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-hexaindigo_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{1,261},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-juice_orange_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{430,410},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-marbelbrown_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{300,160},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-marbelyellow_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{183,191},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-orange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,94}</string>
                <key>spriteSourceSize</key>
                <string>{73,94}</string>
                <key>textureRect</key>
                <string>{{1,447},{73,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-orangeline_valentine_word_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{295,428},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pillow_green_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{299,492},{44,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pillow_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{468,275},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pinkblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{216,93},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pinkpink_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{99,102},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-seabeach_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{245,428},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-seabeach_substrate_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,35}</string>
                <key>spriteSourceSize</key>
                <string>{43,35}</string>
                <key>textureRect</key>
                <string>{{468,195},{43,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-violet_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{333,453},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-violet_turquoise_substare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{422,451},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-woodbrown_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{1,163},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-woodwhite_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{396,97},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-yellow_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,94}</string>
                <key>spriteSourceSize</key>
                <string>{73,94}</string>
                <key>textureRect</key>
                <string>{{78,464},{73,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,93}</string>
                <key>spriteSourceSize</key>
                <string>{94,93}</string>
                <key>textureRect</key>
                <string>{{1,66},{94,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{83,386},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{1,545},{73,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{488,1},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stripe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,5}</string>
                <key>spriteSourceSize</key>
                <string>{15,5}</string>
                <key>textureRect</key>
                <string>{{488,23},{15,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_words_list-cbb3c42cf2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>ads_words_list-cbb3c42cf2.png</string>
        </dict>
    </dict>
</plist>
