<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guidewindow-guidewindow_blue_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,361}</string>
                <key>spriteSourceSize</key>
                <string>{378,361}</string>
                <key>textureRect</key>
                <string>{{446,1},{378,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{162,159}</string>
                <key>textureRect</key>
                <string>{{828,91},{162,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,198}</string>
                <key>spriteSourceSize</key>
                <string>{313,198}</string>
                <key>textureRect</key>
                <string>{{1,537},{313,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,383}</string>
                <key>spriteSourceSize</key>
                <string>{278,383}</string>
                <key>textureRect</key>
                <string>{{436,728},{278,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_down_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,97}</string>
                <key>spriteSourceSize</key>
                <string>{149,97}</string>
                <key>textureRect</key>
                <string>{{828,348},{149,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,173}</string>
                <key>spriteSourceSize</key>
                <string>{257,173}</string>
                <key>textureRect</key>
                <string>{{718,1077},{257,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,113}</string>
                <key>spriteSourceSize</key>
                <string>{329,113}</string>
                <key>textureRect</key>
                <string>{{1,420},{329,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,212}</string>
                <key>spriteSourceSize</key>
                <string>{255,212}</string>
                <key>textureRect</key>
                <string>{{1,739},{255,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,226}</string>
                <key>spriteSourceSize</key>
                <string>{229,226}</string>
                <key>textureRect</key>
                <string>{{781,449},{229,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_stage_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{934,679},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_tile_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,90}</string>
                <key>spriteSourceSize</key>
                <string>{157,90}</string>
                <key>textureRect</key>
                <string>{{828,254},{157,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_up_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,95}</string>
                <key>spriteSourceSize</key>
                <string>{149,95}</string>
                <key>textureRect</key>
                <string>{{781,679},{149,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,86}</string>
                <key>spriteSourceSize</key>
                <string>{165,86}</string>
                <key>textureRect</key>
                <string>{{828,1},{165,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrowup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{934,765},{62,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{334,420},{49,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_three_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,84}</string>
                <key>spriteSourceSize</key>
                <string>{122,84}</string>
                <key>textureRect</key>
                <string>{{318,537},{122,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_yellow_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,415}</string>
                <key>spriteSourceSize</key>
                <string>{441,415}</string>
                <key>textureRect</key>
                <string>{{1,1},{441,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-orderswindow-attention_exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{981,348},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-prizes_heap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,358}</string>
                <key>spriteSourceSize</key>
                <string>{331,358}</string>
                <key>textureRect</key>
                <string>{{446,366},{331,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-treasure-stage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{114,110}</string>
                <key>textureRect</key>
                <string>{{318,625},{114,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,247}</string>
                <key>spriteSourceSize</key>
                <string>{276,247}</string>
                <key>textureRect</key>
                <string>{{718,826},{276,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guidewindow-4ace402479.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>guidewindow-4ace402479.png</string>
        </dict>
    </dict>
</plist>
