<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_finger-fingers-adventure_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{1,456},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-archer_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{405,1},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-armor_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{237,558},{114,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-big_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,451}</string>
                <key>spriteSourceSize</key>
                <string>{400,451}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-blue_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{405,225},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-candy_cane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,111}</string>
                <key>spriteSourceSize</key>
                <string>{100,111}</string>
                <key>textureRect</key>
                <string>{{405,445},{100,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-cartoon_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{105,456},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,111}</string>
                <key>spriteSourceSize</key>
                <string>{95,111}</string>
                <key>textureRect</key>
                <string>{{237,675},{95,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-hand_halloween.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,111}</string>
                <key>spriteSourceSize</key>
                <string>{95,111}</string>
                <key>textureRect</key>
                <string>{{336,772},{95,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-hand_with_pen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,382}</string>
                <key>spriteSourceSize</key>
                <string>{232,382}</string>
                <key>textureRect</key>
                <string>{{1,560},{232,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-heroes_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{1,946},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-leather_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,106}</string>
                <key>textureRect</key>
                <string>{{355,662},{96,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-mage_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{405,113},{104,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-merge_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{92,110}</string>
                <key>textureRect</key>
                <string>{{237,790},{92,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-mitten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,94}</string>
                <key>spriteSourceSize</key>
                <string>{85,94}</string>
                <key>textureRect</key>
                <string>{{313,456},{85,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-realistic_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{209,456},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-riddles_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{355,560},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-yellow_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{405,335},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_finger-a0abeed1ec.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>ads_finger-a0abeed1ec.png</string>
        </dict>
    </dict>
</plist>
