<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyfogwindow-board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,555}</string>
                <key>spriteSourceSize</key>
                <string>{891,555}</string>
                <key>textureRect</key>
                <string>{{1,1},{891,555}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyfogwindow-boardbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,133}</string>
                <key>spriteSourceSize</key>
                <string>{322,133}</string>
                <key>textureRect</key>
                <string>{{1,712},{322,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyfogwindow-item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,109}</string>
                <key>spriteSourceSize</key>
                <string>{157,109}</string>
                <key>textureRect</key>
                <string>{{196,560},{157,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyfogwindow-item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,148}</string>
                <key>spriteSourceSize</key>
                <string>{191,148}</string>
                <key>textureRect</key>
                <string>{{1,560},{191,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyfogwindow-b9969872a9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>buyfogwindow-b9969872a9.png</string>
        </dict>
    </dict>
</plist>
