<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogues_minimal-dialogues-bunny_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,197}</string>
                <key>spriteSourceSize</key>
                <string>{163,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_minimal-dialogues-cat_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,197}</string>
                <key>spriteSourceSize</key>
                <string>{163,197}</string>
                <key>textureRect</key>
                <string>{{168,1},{163,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_minimal-dialogues-dog_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,197}</string>
                <key>spriteSourceSize</key>
                <string>{163,197}</string>
                <key>textureRect</key>
                <string>{{335,1},{163,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_minimal-dialogues-fox_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,197}</string>
                <key>spriteSourceSize</key>
                <string>{163,197}</string>
                <key>textureRect</key>
                <string>{{1,202},{163,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_minimal-dialogues-panda_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,197}</string>
                <key>spriteSourceSize</key>
                <string>{163,197}</string>
                <key>textureRect</key>
                <string>{{168,202},{163,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_minimal-dialogues-raccoon_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,197}</string>
                <key>spriteSourceSize</key>
                <string>{163,197}</string>
                <key>textureRect</key>
                <string>{{335,202},{163,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_minimal-dialogues-tiger_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,197}</string>
                <key>spriteSourceSize</key>
                <string>{163,197}</string>
                <key>textureRect</key>
                <string>{{1,403},{163,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_minimal-dialogues-worker_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,197}</string>
                <key>spriteSourceSize</key>
                <string>{163,197}</string>
                <key>textureRect</key>
                <string>{{168,403},{163,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues_minimal-3651e6386e.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>dialogues_minimal-3651e6386e.png</string>
        </dict>
    </dict>
</plist>
