<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_crown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{197,188},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-level-level_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1,141},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-level-progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,61}</string>
                <key>spriteSourceSize</key>
                <string>{79,61}</string>
                <key>textureRect</key>
                <string>{{1,253},{79,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,82}</string>
                <key>spriteSourceSize</key>
                <string>{159,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-bar_timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,50}</string>
                <key>textureRect</key>
                <string>{{1,87},{110,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{75,79}</string>
                <key>textureRect</key>
                <string>{{84,265},{75,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,86}</string>
                <key>spriteSourceSize</key>
                <string>{59,86}</string>
                <key>textureRect</key>
                <string>{{163,300},{59,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{197,250},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{71,348},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,73}</string>
                <key>textureRect</key>
                <string>{{113,188},{80,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{115,87},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,93}</string>
                <key>spriteSourceSize</key>
                <string>{85,93}</string>
                <key>textureRect</key>
                <string>{{164,1},{85,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,86}</string>
                <key>spriteSourceSize</key>
                <string>{83,86}</string>
                <key>textureRect</key>
                <string>{{149,98},{83,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-orderswindow-attention_exclamation_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1,318},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>race-30afdc27b4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>race-30afdc27b4.png</string>
        </dict>
    </dict>
</plist>
