<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_scale-scale-cupid_heart_scale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,20}</string>
                <key>spriteSourceSize</key>
                <string>{301,20}</string>
                <key>textureRect</key>
                <string>{{1,466},{301,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-cutebrain_grandma_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,82}</string>
                <key>spriteSourceSize</key>
                <string>{498,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{498,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-smartbrain_brown_einstein_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,86}</string>
                <key>spriteSourceSize</key>
                <string>{453,86}</string>
                <key>textureRect</key>
                <string>{{1,87},{453,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-smartbrain_white_einstein_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,85}</string>
                <key>spriteSourceSize</key>
                <string>{453,85}</string>
                <key>textureRect</key>
                <string>{{1,177},{453,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-witch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,119}</string>
                <key>spriteSourceSize</key>
                <string>{104,119}</string>
                <key>textureRect</key>
                <string>{{398,405},{104,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-witch_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,106}</string>
                <key>spriteSourceSize</key>
                <string>{425,106}</string>
                <key>textureRect</key>
                <string>{{1,266},{425,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-xmas_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,86}</string>
                <key>spriteSourceSize</key>
                <string>{393,86}</string>
                <key>textureRect</key>
                <string>{{1,376},{393,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-xmas_santa_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,67}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{397,623},{61,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,60}</string>
                <key>spriteSourceSize</key>
                <string>{192,60}</string>
                <key>textureRect</key>
                <string>{{1,677},{192,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,183}</string>
                <key>spriteSourceSize</key>
                <string>{207,183}</string>
                <key>textureRect</key>
                <string>{{1,490},{207,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_heart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{430,266},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcupid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{59,69}</string>
                <key>textureRect</key>
                <string>{{212,490},{59,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{458,138},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,18}</string>
                <key>spriteSourceSize</key>
                <string>{8,18}</string>
                <key>textureRect</key>
                <string>{{503,1},{8,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,9}</string>
                <key>spriteSourceSize</key>
                <string>{5,9}</string>
                <key>textureRect</key>
                <string>{{503,38},{5,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,11}</string>
                <key>spriteSourceSize</key>
                <string>{6,11}</string>
                <key>textureRect</key>
                <string>{{503,23},{6,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,188}</string>
                <key>spriteSourceSize</key>
                <string>{87,188}</string>
                <key>textureRect</key>
                <string>{{306,466},{87,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{430,326},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smartbrain_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{458,182},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smartbrain_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{458,238},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{54,18}</string>
                <key>textureRect</key>
                <string>{{456,289},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,47}</string>
                <key>textureRect</key>
                <string>{{458,87},{53,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_heart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{430,296},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solidcupid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{68,76}</string>
                <key>textureRect</key>
                <string>{{397,543},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,18}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{398,376},{26,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{469,585},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,11}</string>
                <key>spriteSourceSize</key>
                <string>{71,11}</string>
                <key>textureRect</key>
                <string>{{397,528},{71,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,53}</string>
                <key>spriteSourceSize</key>
                <string>{39,53}</string>
                <key>textureRect</key>
                <string>{{472,528},{39,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,20}</string>
                <key>spriteSourceSize</key>
                <string>{32,20}</string>
                <key>textureRect</key>
                <string>{{469,622},{32,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{462,646},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_scale-451930a554.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>ads_scale-451930a554.png</string>
        </dict>
    </dict>
</plist>
