<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyfogwindow-orderswindow-icon_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{57,466},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_blick_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{113,229},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{65,308},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{113,328},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,52}</string>
                <key>spriteSourceSize</key>
                <string>{41,52}</string>
                <key>textureRect</key>
                <string>{{109,381},{41,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{169,328},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{1,470},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{217,229},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_stone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{1,407},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{228,1},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,34}</string>
                <key>textureRect</key>
                <string>{{1,308},{60,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,62}</string>
                <key>spriteSourceSize</key>
                <string>{108,62}</string>
                <key>textureRect</key>
                <string>{{1,165},{108,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_growing_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{228,11},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_left_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{244,1},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{221,165},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1,346},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_sacks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,55}</string>
                <key>spriteSourceSize</key>
                <string>{48,55}</string>
                <key>textureRect</key>
                <string>{{57,407},{48,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_treasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,73}</string>
                <key>spriteSourceSize</key>
                <string>{76,73}</string>
                <key>textureRect</key>
                <string>{{1,231},{76,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,60}</string>
                <key>spriteSourceSize</key>
                <string>{104,60}</string>
                <key>textureRect</key>
                <string>{{113,165},{104,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,77}</string>
                <key>spriteSourceSize</key>
                <string>{108,77}</string>
                <key>textureRect</key>
                <string>{{1,84},{108,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,77}</string>
                <key>spriteSourceSize</key>
                <string>{108,77}</string>
                <key>textureRect</key>
                <string>{{113,84},{108,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,79}</string>
                <key>spriteSourceSize</key>
                <string>{108,79}</string>
                <key>textureRect</key>
                <string>{{116,1},{108,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyfogwindow-a8917dd606.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>buyfogwindow-a8917dd606.png</string>
        </dict>
    </dict>
</plist>
