<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_scale-scale-cupid_heart_scale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,26}</string>
                <key>spriteSourceSize</key>
                <string>{401,26}</string>
                <key>textureRect</key>
                <string>{{609,293},{401,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-cutebrain_grandma_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,109}</string>
                <key>spriteSourceSize</key>
                <string>{664,109}</string>
                <key>textureRect</key>
                <string>{{1,1},{664,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-smartbrain_brown_einstein_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,115}</string>
                <key>spriteSourceSize</key>
                <string>{604,115}</string>
                <key>textureRect</key>
                <string>{{1,114},{604,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-smartbrain_white_einstein_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,113}</string>
                <key>spriteSourceSize</key>
                <string>{604,113}</string>
                <key>textureRect</key>
                <string>{{1,233},{604,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-witch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,158}</string>
                <key>spriteSourceSize</key>
                <string>{139,158}</string>
                <key>textureRect</key>
                <string>{{869,323},{139,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-witch_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,141}</string>
                <key>spriteSourceSize</key>
                <string>{566,141}</string>
                <key>textureRect</key>
                <string>{{1,350},{566,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-xmas_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,114}</string>
                <key>spriteSourceSize</key>
                <string>{524,114}</string>
                <key>textureRect</key>
                <string>{{1,495},{524,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-xmas_santa_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,89}</string>
                <key>spriteSourceSize</key>
                <string>{81,89}</string>
                <key>textureRect</key>
                <string>{{691,511},{81,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,80}</string>
                <key>spriteSourceSize</key>
                <string>{256,80}</string>
                <key>textureRect</key>
                <string>{{609,323},{256,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,244}</string>
                <key>spriteSourceSize</key>
                <string>{276,244}</string>
                <key>textureRect</key>
                <string>{{669,1},{276,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_heart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{609,249},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcupid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,92}</string>
                <key>textureRect</key>
                <string>{{889,485},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,53}</string>
                <key>textureRect</key>
                <string>{{949,96},{65,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,24}</string>
                <key>spriteSourceSize</key>
                <string>{11,24}</string>
                <key>textureRect</key>
                <string>{{1012,153},{11,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,12}</string>
                <key>spriteSourceSize</key>
                <string>{6,12}</string>
                <key>textureRect</key>
                <string>{{1012,200},{6,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,15}</string>
                <key>spriteSourceSize</key>
                <string>{8,15}</string>
                <key>textureRect</key>
                <string>{{1012,181},{8,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,250}</string>
                <key>spriteSourceSize</key>
                <string>{116,250}</string>
                <key>textureRect</key>
                <string>{{571,407},{116,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{691,407},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smartbrain_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{59,69}</string>
                <key>textureRect</key>
                <string>{{949,153},{59,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smartbrain_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{949,226},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,24}</string>
                <key>spriteSourceSize</key>
                <string>{72,24}</string>
                <key>textureRect</key>
                <string>{{949,1},{72,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,63}</string>
                <key>spriteSourceSize</key>
                <string>{71,63}</string>
                <key>textureRect</key>
                <string>{{949,29},{71,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_heart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{642,249},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solidcupid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,101}</string>
                <key>spriteSourceSize</key>
                <string>{90,101}</string>
                <key>textureRect</key>
                <string>{{795,485},{90,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{721,249},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{609,188},{45,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,14}</string>
                <key>spriteSourceSize</key>
                <string>{95,14}</string>
                <key>textureRect</key>
                <string>{{759,249},{95,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,70}</string>
                <key>spriteSourceSize</key>
                <string>{52,70}</string>
                <key>textureRect</key>
                <string>{{609,114},{52,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{675,249},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{41,47}</string>
                <key>textureRect</key>
                <string>{{795,407},{41,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_scale-451930a554.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>ads_scale-451930a554.png</string>
        </dict>
    </dict>
</plist>
