<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogues_minimal-dialogues-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{846,1},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,231}</string>
                <key>spriteSourceSize</key>
                <string>{266,231}</string>
                <key>textureRect</key>
                <string>{{576,1},{266,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,242}</string>
                <key>spriteSourceSize</key>
                <string>{279,242}</string>
                <key>textureRect</key>
                <string>{{293,1},{279,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_dwarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,252}</string>
                <key>spriteSourceSize</key>
                <string>{288,252}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_elf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,281}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1,257},{245,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,242}</string>
                <key>spriteSourceSize</key>
                <string>{241,242}</string>
                <key>textureRect</key>
                <string>{{250,493},{241,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_rider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,242}</string>
                <key>spriteSourceSize</key>
                <string>{249,242}</string>
                <key>textureRect</key>
                <string>{{293,247},{249,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,250}</string>
                <key>spriteSourceSize</key>
                <string>{230,250}</string>
                <key>textureRect</key>
                <string>{{1,542},{230,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warlock_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,287}</string>
                <key>spriteSourceSize</key>
                <string>{257,287}</string>
                <key>textureRect</key>
                <string>{{576,236},{257,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues_minimal-c9193c9342.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>dialogues_minimal-c9193c9342.png</string>
        </dict>
    </dict>
</plist>
