<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>units_shop-market-market_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,48}</string>
                <key>spriteSourceSize</key>
                <string>{43,48}</string>
                <key>textureRect</key>
                <string>{{74,65},{43,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{74,117},{39,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_cart_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{1,64},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{1,127},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{53,60}</string>
                <key>textureRect</key>
                <string>{{74,1},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{26,127},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>units_shop-afb9b46f6e.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>textureFileName</key>
            <string>units_shop-afb9b46f6e.png</string>
        </dict>
    </dict>
</plist>
