<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>units_shop-market-market_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,48}</string>
                <key>spriteSourceSize</key>
                <string>{43,48}</string>
                <key>textureRect</key>
                <string>{{134,75},{43,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,47}</string>
                <key>spriteSourceSize</key>
                <string>{75,47}</string>
                <key>textureRect</key>
                <string>{{172,1},{75,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_cart_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,70}</string>
                <key>textureRect</key>
                <string>{{76,1},{92,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,97}</string>
                <key>spriteSourceSize</key>
                <string>{71,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,24}</string>
                <key>spriteSourceSize</key>
                <string>{35,24}</string>
                <key>textureRect</key>
                <string>{{1,102},{35,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-tile_shop-shop_red_ribbon_best.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{76,75},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>units_shop-47114eaf2e.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>textureFileName</key>
            <string>units_shop-47114eaf2e.png</string>
        </dict>
    </dict>
</plist>
