<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailytasks-adicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{1,394},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-bonus_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,59}</string>
                <key>spriteSourceSize</key>
                <string>{65,59}</string>
                <key>textureRect</key>
                <string>{{79,278},{65,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-coin_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{103,92}</string>
                <key>textureRect</key>
                <string>{{1,129},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-dailytask_fb_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{201,304},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-dailytask_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{108,129},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-episode_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{201,241},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-free_moves_friends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{59,45}</string>
                <key>textureRect</key>
                <string>{{129,357},{59,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-gift_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{65,341},{60,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-hint_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{206,129},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{157,227},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{1,448},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{157,269},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{1,327},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-easy_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{148,308},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-easy_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{1,225},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-frame_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-frame_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,124}</string>
                <key>textureRect</key>
                <string>{{125,1},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-hard_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{65,398},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-hard_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{79,227},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-medium_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{192,360},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-medium_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{1,276},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-overtake_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{206,186},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dailytasks-f484b2fcf4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>dailytasks-f484b2fcf4.png</string>
        </dict>
    </dict>
</plist>
