<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy_feast-feastmissionwindow-rewards_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy_feast-feastmissionwindow-rewards_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,65}</string>
                <key>textureRect</key>
                <string>{{1,70},{97,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy_feast-leaderboard-rank-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{1,210},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy_feast-leaderboard-time-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,67}</string>
                <key>spriteSourceSize</key>
                <string>{46,67}</string>
                <key>textureRect</key>
                <string>{{1,139},{46,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_feast-c2208abd8c.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>textureFileName</key>
            <string>energy_feast-c2208abd8c.png</string>
        </dict>
    </dict>
</plist>
