<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wysiwyg-admin-delete_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{294,175},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-level_frame_regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,91}</string>
                <key>textureRect</key>
                <string>{{185,118},{105,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{294,118},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-regular_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,38}</string>
                <key>spriteSourceSize</key>
                <string>{137,38}</string>
                <key>textureRect</key>
                <string>{{356,1},{137,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-regular_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,38}</string>
                <key>spriteSourceSize</key>
                <string>{137,38}</string>
                <key>textureRect</key>
                <string>{{356,43},{137,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-selected_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,38}</string>
                <key>spriteSourceSize</key>
                <string>{137,38}</string>
                <key>textureRect</key>
                <string>{{356,85},{137,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-attach_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{185,213},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{482,319},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_icons-admin_push.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{444,325},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_icons-admin_rev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{285,299},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{285,217},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{285,258},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-clip_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{497,1},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{350,232},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,113}</string>
                <key>spriteSourceSize</key>
                <string>{167,113}</string>
                <key>textureRect</key>
                <string>{{185,1},{167,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,11}</string>
                <key>spriteSourceSize</key>
                <string>{15,11}</string>
                <key>textureRect</key>
                <string>{{326,290},{15,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_item_hidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{497,16},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{185,313},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsbug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{326,326},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscontrolspanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{405,373},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscounter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,369},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscurrent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{80,369},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsenergyfeast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{159,392},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsexclamations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{238,392},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsfield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{317,405},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsfireworks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{396,452},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,448},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{80,448},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{159,471},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshintbooster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{238,471},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsinfopanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{317,484},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adskeypad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{396,531},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adslogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,527},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmap2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{80,527},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{159,550},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmenubar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{238,550},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{317,563},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsprogressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{396,610},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adspuzzle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,606},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsscale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{80,606},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsshadowlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{159,629},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsshuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{238,629},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssidebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{317,642},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{396,689},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsspine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,685},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{80,685},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{159,708},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{238,708},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstransition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{317,721},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{396,768},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adswordslist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,764},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adswordsresult.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{80,764},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{483,283},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{480,346},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-directory_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{19,14}</string>
                <key>textureRect</key>
                <string>{{326,272},{19,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,4}</string>
                <key>spriteSourceSize</key>
                <string>{8,4}</string>
                <key>textureRect</key>
                <string>{{497,47},{8,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-fullscreen_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{457,127},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-iphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,364}</string>
                <key>spriteSourceSize</key>
                <string>{180,364}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-iphone_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{457,169},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-move_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{444,253},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-move_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{444,325},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-paste.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{326,240},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{405,326},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-preview_control.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{326,217},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-preview_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{483,253},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-scenario_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,12}</string>
                <key>spriteSourceSize</key>
                <string>{8,12}</string>
                <key>textureRect</key>
                <string>{{497,31},{8,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-sound_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{444,291},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-video_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{457,211},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-window_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{351,127},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wysiwyg-938bb3d152.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>wysiwyg-938bb3d152.png</string>
        </dict>
    </dict>
</plist>
