<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailytasks-adicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{205,166},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-bonus_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{189,118},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-coin_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,69}</string>
                <key>spriteSourceSize</key>
                <string>{77,69}</string>
                <key>textureRect</key>
                <string>{{1,98},{77,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-dailytask_fb_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{93,172},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-dailytask_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{82,98},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-episode_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{50,172},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-free_moves_friends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{205,208},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-gift_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{45,39}</string>
                <key>textureRect</key>
                <string>{{156,166},{45,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-hint_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{136,209},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{132,252},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{156,98},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{89,257},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{1,171},{45,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-easy_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{50,220},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-easy_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,35}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{189,1},{56,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-frame_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-frame_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{95,1},{90,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-hard_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{1,222},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-hard_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,35}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{189,40},{56,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-medium_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{176,246},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-medium_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,35}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{189,79},{56,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-overtake_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{93,215},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dailytasks-f484b2fcf4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>dailytasks-f484b2fcf4.png</string>
        </dict>
    </dict>
</plist>
