<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_map2d-fog-cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,193}</string>
                <key>spriteSourceSize</key>
                <string>{228,193}</string>
                <key>textureRect</key>
                <string>{{1,752},{228,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,284}</string>
                <key>spriteSourceSize</key>
                <string>{282,284}</string>
                <key>textureRect</key>
                <string>{{1,464},{282,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>points.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,150}</string>
                <key>spriteSourceSize</key>
                <string>{211,150}</string>
                <key>textureRect</key>
                <string>{{497,450},{211,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{671,294},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{547,207},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,144}</string>
                <key>spriteSourceSize</key>
                <string>{145,144}</string>
                <key>textureRect</key>
                <string>{{764,743},{145,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,167}</string>
                <key>spriteSourceSize</key>
                <string>{159,167}</string>
                <key>textureRect</key>
                <string>{{434,751},{159,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,185}</string>
                <key>spriteSourceSize</key>
                <string>{197,185}</string>
                <key>textureRect</key>
                <string>{{233,752},{197,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,135}</string>
                <key>spriteSourceSize</key>
                <string>{129,135}</string>
                <key>textureRect</key>
                <string>{{637,604},{129,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{913,165},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{913,67},{89,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,91}</string>
                <key>spriteSourceSize</key>
                <string>{88,91}</string>
                <key>textureRect</key>
                <string>{{671,351},{88,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{913,259},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{547,84},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{278,941},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{82,78}</string>
                <key>textureRect</key>
                <string>{{913,443},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{913,525},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{628,207},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{366,941},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{913,351},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,142}</string>
                <key>textureRect</key>
                <string>{{497,604},{136,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_particle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{741,294},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sparkles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,283}</string>
                <key>spriteSourceSize</key>
                <string>{206,283}</string>
                <key>textureRect</key>
                <string>{{287,464},{206,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,283}</string>
                <key>spriteSourceSize</key>
                <string>{182,283}</string>
                <key>textureRect</key>
                <string>{{361,1},{182,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiral2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,459}</string>
                <key>spriteSourceSize</key>
                <string>{356,459}</string>
                <key>textureRect</key>
                <string>{{1,1},{356,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,62}</string>
                <key>spriteSourceSize</key>
                <string>{207,62}</string>
                <key>textureRect</key>
                <string>{{67,949},{207,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,158}</string>
                <key>spriteSourceSize</key>
                <string>{155,158}</string>
                <key>textureRect</key>
                <string>{{361,288},{155,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,111}</string>
                <key>spriteSourceSize</key>
                <string>{146,111}</string>
                <key>textureRect</key>
                <string>{{627,899},{146,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{449,922},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{712,82},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,73}</string>
                <key>spriteSourceSize</key>
                <string>{62,73}</string>
                <key>textureRect</key>
                <string>{{1,949},{62,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{58,62}</string>
                <key>textureRect</key>
                <string>{{702,137},{58,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{520,288},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{666,82},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,145}</string>
                <key>spriteSourceSize</key>
                <string>{163,145}</string>
                <key>textureRect</key>
                <string>{{597,750},{163,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{67,57}</string>
                <key>textureRect</key>
                <string>{{712,525},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{98,62}</string>
                <key>textureRect</key>
                <string>{{913,1},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,78}</string>
                <key>spriteSourceSize</key>
                <string>{143,78}</string>
                <key>textureRect</key>
                <string>{{766,83},{143,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,87}</string>
                <key>spriteSourceSize</key>
                <string>{178,87}</string>
                <key>textureRect</key>
                <string>{{712,203},{178,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,75}</string>
                <key>spriteSourceSize</key>
                <string>{151,75}</string>
                <key>textureRect</key>
                <string>{{547,128},{151,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,78}</string>
                <key>spriteSourceSize</key>
                <string>{138,78}</string>
                <key>textureRect</key>
                <string>{{770,1},{138,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,79}</string>
                <key>textureRect</key>
                <string>{{547,1},{115,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,77}</string>
                <key>spriteSourceSize</key>
                <string>{92,77}</string>
                <key>textureRect</key>
                <string>{{671,1},{92,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_map2d-57b55ced9c.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>ads_map2d-57b55ced9c.png</string>
        </dict>
    </dict>
</plist>
