<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guidewindow-energyplantchest-stage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,59}</string>
                <key>spriteSourceSize</key>
                <string>{63,59}</string>
                <key>textureRect</key>
                <string>{{649,0},{63,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,201}</string>
                <key>spriteSourceSize</key>
                <string>{210,201}</string>
                <key>textureRect</key>
                <string>{{186,255},{210,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{899,0},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,110}</string>
                <key>spriteSourceSize</key>
                <string>{174,110}</string>
                <key>textureRect</key>
                <string>{{89,91},{174,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,92}</string>
                <key>spriteSourceSize</key>
                <string>{87,92}</string>
                <key>textureRect</key>
                <string>{{0,91},{87,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,213}</string>
                <key>spriteSourceSize</key>
                <string>{155,213}</string>
                <key>textureRect</key>
                <string>{{398,255},{155,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_down_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{83,54}</string>
                <key>textureRect</key>
                <string>{{476,0},{83,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{86,58}</string>
                <key>textureRect</key>
                <string>{{561,0},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_mines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,154}</string>
                <key>spriteSourceSize</key>
                <string>{157,154}</string>
                <key>textureRect</key>
                <string>{{694,91},{157,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_pickaxe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,241}</string>
                <key>spriteSourceSize</key>
                <string>{199,241}</string>
                <key>textureRect</key>
                <string>{{802,255},{199,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,63}</string>
                <key>spriteSourceSize</key>
                <string>{183,63}</string>
                <key>textureRect</key>
                <string>{{714,0},{183,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,118}</string>
                <key>spriteSourceSize</key>
                <string>{142,118}</string>
                <key>textureRect</key>
                <string>{{265,91},{142,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rewards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,162}</string>
                <key>spriteSourceSize</key>
                <string>{159,162}</string>
                <key>textureRect</key>
                <string>{{853,91},{159,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,126}</string>
                <key>spriteSourceSize</key>
                <string>{127,126}</string>
                <key>textureRect</key>
                <string>{{409,91},{127,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_stage_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{90,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_tile_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,50}</string>
                <key>spriteSourceSize</key>
                <string>{87,50}</string>
                <key>textureRect</key>
                <string>{{302,0},{87,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_up_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,53}</string>
                <key>spriteSourceSize</key>
                <string>{83,53}</string>
                <key>textureRect</key>
                <string>{{391,0},{83,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{92,48}</string>
                <key>textureRect</key>
                <string>{{208,0},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrowup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{53,0},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{24,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_three_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,47}</string>
                <key>spriteSourceSize</key>
                <string>{68,47}</string>
                <key>textureRect</key>
                <string>{{138,0},{68,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_yellow_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,231}</string>
                <key>spriteSourceSize</key>
                <string>{245,231}</string>
                <key>textureRect</key>
                <string>{{555,255},{245,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-orderswindow-attention_exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-prizes_heap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,199}</string>
                <key>spriteSourceSize</key>
                <string>{184,199}</string>
                <key>textureRect</key>
                <string>{{0,255},{184,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,137}</string>
                <key>spriteSourceSize</key>
                <string>{154,137}</string>
                <key>textureRect</key>
                <string>{{538,91},{154,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guidewindow-faaf91b403.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>guidewindow-faaf91b403.png</string>
        </dict>
    </dict>
</plist>
