<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_counter-counter-underscore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,19}</string>
                <key>spriteSourceSize</key>
                <string>{143,19}</string>
                <key>textureRect</key>
                <string>{{230,482},{143,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,284}</string>
                <key>spriteSourceSize</key>
                <string>{369,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{369,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,92}</string>
                <key>spriteSourceSize</key>
                <string>{105,92}</string>
                <key>textureRect</key>
                <string>{{371,386},{105,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,181}</string>
                <key>spriteSourceSize</key>
                <string>{225,181}</string>
                <key>textureRect</key>
                <string>{{1,394},{225,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,35}</string>
                <key>spriteSourceSize</key>
                <string>{17,35}</string>
                <key>textureRect</key>
                <string>{{493,272},{17,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,79}</string>
                <key>spriteSourceSize</key>
                <string>{28,79}</string>
                <key>textureRect</key>
                <string>{{480,386},{28,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,73}</string>
                <key>spriteSourceSize</key>
                <string>{28,73}</string>
                <key>textureRect</key>
                <string>{{480,469},{28,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,110}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{374,272},{115,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{298,394},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{298,426},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_strange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,101}</string>
                <key>spriteSourceSize</key>
                <string>{366,101}</string>
                <key>textureRect</key>
                <string>{{1,289},{366,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brainbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{374,1},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_spiral_particke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,45}</string>
                <key>spriteSourceSize</key>
                <string>{64,45}</string>
                <key>textureRect</key>
                <string>{{230,394},{64,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ogorod_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,131}</string>
                <key>textureRect</key>
                <string>{{374,137},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_counter-1be2386cd4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>ads_counter-1be2386cd4.png</string>
        </dict>
    </dict>
</plist>
