<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat-button_accept.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-button_accept_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{47,0},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-checkmark_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{94,0},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-checkmark_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{20,18}</string>
                <key>textureRect</key>
                <string>{{117,0},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-checkmark_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{139,0},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-checkmark_yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{45,39}</string>
                <key>textureRect</key>
                <string>{{169,0},{45,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-dialog_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{216,0},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-dialog_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{333,0},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-gift_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,87}</string>
                <key>textureRect</key>
                <string>{{0,108},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{88,108},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-no_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{171,108},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-no_button_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{219,108},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-panel_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{267,108},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-panel_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{337,108},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-paneldown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,173}</string>
                <key>spriteSourceSize</key>
                <string>{167,173}</string>
                <key>textureRect</key>
                <string>{{0,197},{167,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-panelup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{169,197},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{261,197},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat-9cc19994c6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>chat-9cc19994c6.png</string>
        </dict>
    </dict>
</plist>
