<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halloween-halloween_decor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,178}</string>
                <key>spriteSourceSize</key>
                <string>{131,178}</string>
                <key>textureRect</key>
                <string>{{232,221},{131,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,82}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{147,0},{93,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,187}</string>
                <key>spriteSourceSize</key>
                <string>{353,187}</string>
                <key>textureRect</key>
                <string>{{155,401},{353,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_pumpkins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,106}</string>
                <key>spriteSourceSize</key>
                <string>{205,106}</string>
                <key>textureRect</key>
                <string>{{0,85},{205,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,142}</string>
                <key>spriteSourceSize</key>
                <string>{230,142}</string>
                <key>textureRect</key>
                <string>{{0,221},{230,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,134}</string>
                <key>spriteSourceSize</key>
                <string>{167,134}</string>
                <key>textureRect</key>
                <string>{{207,85},{167,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,14}</string>
                <key>textureRect</key>
                <string>{{28,0},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{13,27}</string>
                <key>textureRect</key>
                <string>{{95,0},{13,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{110,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{62,0},{10,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,179}</string>
                <key>spriteSourceSize</key>
                <string>{153,179}</string>
                <key>textureRect</key>
                <string>{{0,401},{153,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,83}</string>
                <key>spriteSourceSize</key>
                <string>{88,83}</string>
                <key>textureRect</key>
                <string>{{242,0},{88,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{74,0},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{15,0},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,8}</string>
                <key>spriteSourceSize</key>
                <string>{7,8}</string>
                <key>textureRect</key>
                <string>{{6,0},{7,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>halloween-827215f455.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>halloween-827215f455.png</string>
        </dict>
    </dict>
</plist>
