<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_title-substrate-ananas_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,69}</string>
                <key>spriteSourceSize</key>
                <string>{42,69}</string>
                <key>textureRect</key>
                <string>{{497,990},{42,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-autumn_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,153}</string>
                <key>spriteSourceSize</key>
                <string>{168,153}</string>
                <key>textureRect</key>
                <string>{{1877,352},{168,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-black_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,75}</string>
                <key>spriteSourceSize</key>
                <string>{50,75}</string>
                <key>textureRect</key>
                <string>{{472,1233},{50,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blackpurple_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,116}</string>
                <key>spriteSourceSize</key>
                <string>{102,116}</string>
                <key>textureRect</key>
                <string>{{366,1114},{102,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blackpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{1442,555},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueblue_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{104,125}</string>
                <key>textureRect</key>
                <string>{{258,1114},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueorange_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{104,125}</string>
                <key>textureRect</key>
                <string>{{116,1186},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{871,1060},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-brown_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,50}</string>
                <key>spriteSourceSize</key>
                <string>{59,50}</string>
                <key>textureRect</key>
                <string>{{1442,727},{59,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-cheese_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,49}</string>
                <key>spriteSourceSize</key>
                <string>{71,49}</string>
                <key>textureRect</key>
                <string>{{1442,450},{71,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-cherry_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1442,663},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-coin_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{528,1188},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-coin_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,62}</string>
                <key>spriteSourceSize</key>
                <string>{92,62}</string>
                <key>textureRect</key>
                <string>{{655,1179},{92,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-dark_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,70}</string>
                <key>spriteSourceSize</key>
                <string>{260,70}</string>
                <key>textureRect</key>
                <string>{{1,990},{260,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkpurple_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,115}</string>
                <key>spriteSourceSize</key>
                <string>{102,115}</string>
                <key>textureRect</key>
                <string>{{924,962},{102,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{278,1243},{47,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkred_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{1,1292},{104,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkred_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{278,1297},{47,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-feather_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,33}</string>
                <key>spriteSourceSize</key>
                <string>{102,33}</string>
                <key>textureRect</key>
                <string>{{765,1060},{102,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-fleid_frame_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,94}</string>
                <key>spriteSourceSize</key>
                <string>{109,94}</string>
                <key>textureRect</key>
                <string>{{811,962},{109,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-halloween_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{1,1177},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-hexagreen_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{106,118}</string>
                <key>textureRect</key>
                <string>{{655,1057},{106,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-letter_keypad_bg_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,127}</string>
                <key>spriteSourceSize</key>
                <string>{108,127}</string>
                <key>textureRect</key>
                <string>{{543,1057},{108,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-light_grey_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,73}</string>
                <key>spriteSourceSize</key>
                <string>{77,73}</string>
                <key>textureRect</key>
                <string>{{1442,373},{77,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-merge_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,347}</string>
                <key>spriteSourceSize</key>
                <string>{521,347}</string>
                <key>textureRect</key>
                <string>{{1524,1},{521,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-merge_logo_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,368}</string>
                <key>spriteSourceSize</key>
                <string>{668,368}</string>
                <key>textureRect</key>
                <string>{{852,1},{668,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-mini_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{136,1064},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-mini_bg_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,48}</string>
                <key>spriteSourceSize</key>
                <string>{61,48}</string>
                <key>textureRect</key>
                <string>{{1442,611},{61,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-newyork_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,153}</string>
                <key>spriteSourceSize</key>
                <string>{168,153}</string>
                <key>textureRect</key>
                <string>{{1877,509},{168,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-orange_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1442,906},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-picture_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,352}</string>
                <key>spriteSourceSize</key>
                <string>{349,352}</string>
                <key>textureRect</key>
                <string>{{1524,352},{349,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-picture_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,352}</string>
                <key>spriteSourceSize</key>
                <string>{349,352}</string>
                <key>textureRect</key>
                <string>{{1506,708},{349,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pink_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{224,1243},{50,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pinkblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{472,1114},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pinup_dance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,134}</string>
                <key>spriteSourceSize</key>
                <string>{542,134}</string>
                <key>textureRect</key>
                <string>{{1,852},{542,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pyramid_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,48}</string>
                <key>spriteSourceSize</key>
                <string>{67,48}</string>
                <key>textureRect</key>
                <string>{{1442,503},{67,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{847,847}</string>
                <key>spriteSourceSize</key>
                <string>{847,847}</string>
                <key>textureRect</key>
                <string>{{1,1},{847,847}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-ribbon_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,98}</string>
                <key>spriteSourceSize</key>
                <string>{260,98}</string>
                <key>textureRect</key>
                <string>{{547,955},{260,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seabeach_starfish_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1442,847},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seabeach_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,135}</string>
                <key>spriteSourceSize</key>
                <string>{166,135}</string>
                <key>textureRect</key>
                <string>{{1859,823},{166,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seashell_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{472,1174},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-shanghai_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,153}</string>
                <key>spriteSourceSize</key>
                <string>{168,153}</string>
                <key>textureRect</key>
                <string>{{1877,666},{168,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-table_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,585}</string>
                <key>spriteSourceSize</key>
                <string>{586,585}</string>
                <key>textureRect</key>
                <string>{{852,373},{586,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,109}</string>
                <key>spriteSourceSize</key>
                <string>{131,109}</string>
                <key>textureRect</key>
                <string>{{1,1064},{131,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,106}</string>
                <key>spriteSourceSize</key>
                <string>{95,106}</string>
                <key>textureRect</key>
                <string>{{765,1097},{95,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_green_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,73}</string>
                <key>textureRect</key>
                <string>{{366,1234},{80,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-transparent_white_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,135}</string>
                <key>spriteSourceSize</key>
                <string>{166,135}</string>
                <key>textureRect</key>
                <string>{{1859,962},{166,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-violet_flower_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{1442,781},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-wood_counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,120}</string>
                <key>spriteSourceSize</key>
                <string>{228,120}</string>
                <key>textureRect</key>
                <string>{{265,990},{228,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-wood_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,99}</string>
                <key>spriteSourceSize</key>
                <string>{260,99}</string>
                <key>textureRect</key>
                <string>{{547,852},{260,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_title-f4f3e20ad1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>ads_title-f4f3e20ad1.png</string>
        </dict>
    </dict>
</plist>
