<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>subscription_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,41}</string>
                <key>spriteSourceSize</key>
                <string>{110,41}</string>
                <key>textureRect</key>
                <string>{{154,0},{110,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,139}</string>
                <key>spriteSourceSize</key>
                <string>{214,139}</string>
                <key>textureRect</key>
                <string>{{702,0},{214,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_upper_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,211}</string>
                <key>spriteSourceSize</key>
                <string>{454,211}</string>
                <key>textureRect</key>
                <string>{{0,153},{454,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_upper_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,49}</string>
                <key>spriteSourceSize</key>
                <string>{26,49}</string>
                <key>textureRect</key>
                <string>{{11,0},{26,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-starter_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,43}</string>
                <key>spriteSourceSize</key>
                <string>{120,43}</string>
                <key>textureRect</key>
                <string>{{266,0},{120,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,151}</string>
                <key>spriteSourceSize</key>
                <string>{158,151}</string>
                <key>textureRect</key>
                <string>{{542,0},{158,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_dworf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,349}</string>
                <key>spriteSourceSize</key>
                <string>{536,349}</string>
                <key>textureRect</key>
                <string>{{456,153},{536,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,143}</string>
                <key>spriteSourceSize</key>
                <string>{152,143}</string>
                <key>textureRect</key>
                <string>{{388,0},{152,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-timer_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{94,0},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-timer_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,33}</string>
                <key>spriteSourceSize</key>
                <string>{53,33}</string>
                <key>textureRect</key>
                <string>{{39,0},{53,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>subscription_window-7607e50faf.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>subscription_window-7607e50faf.png</string>
        </dict>
    </dict>
</plist>
