<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newelements-board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,342}</string>
                <key>spriteSourceSize</key>
                <string>{348,342}</string>
                <key>textureRect</key>
                <string>{{650,81},{348,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,637}</string>
                <key>spriteSourceSize</key>
                <string>{468,637}</string>
                <key>textureRect</key>
                <string>{{1,103},{468,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{473,103},{150,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-title_new_quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,76}</string>
                <key>spriteSourceSize</key>
                <string>{355,76}</string>
                <key>textureRect</key>
                <string>{{650,1},{355,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-title_questcompleted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,98}</string>
                <key>spriteSourceSize</key>
                <string>{645,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{645,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newelements-3404726bb0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>newelements-3404726bb0.png</string>
        </dict>
    </dict>
</plist>
