<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>units_shop-market-market_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,95}</string>
                <key>spriteSourceSize</key>
                <string>{86,95}</string>
                <key>textureRect</key>
                <string>{{224,0},{86,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,94}</string>
                <key>textureRect</key>
                <string>{{72,0},{150,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_cart_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,139}</string>
                <key>spriteSourceSize</key>
                <string>{184,139}</string>
                <key>textureRect</key>
                <string>{{0,106},{184,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,194}</string>
                <key>spriteSourceSize</key>
                <string>{141,194}</string>
                <key>textureRect</key>
                <string>{{186,106},{141,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-tile_shop-shop_red_ribbon_best.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,104}</string>
                <key>textureRect</key>
                <string>{{312,0},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>units_shop-47114eaf2e.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>units_shop-47114eaf2e.png</string>
        </dict>
    </dict>
</plist>
