<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_user_gold_view-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{101,191},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{288,185},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{247,370},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{134,191},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{167,191},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{153,301},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{200,191},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{232,191},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{85,312},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{185,301},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,37}</string>
                <key>spriteSourceSize</key>
                <string>{15,37}</string>
                <key>textureRect</key>
                <string>{{272,465},{15,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{312,183},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{261,185},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{217,370},{26,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{248,465},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{119,312},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{315,224},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{445,284},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{477,176},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{387,122},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{345,122},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{294,408},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{428,122},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{420,230},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{276,354},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{469,122},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,50}</string>
                <key>spriteSourceSize</key>
                <string>{19,50}</string>
                <key>textureRect</key>
                <string>{{473,338},{19,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{445,338},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{377,440},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{399,176},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{414,284},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{248,300},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,65}</string>
                <key>spriteSourceSize</key>
                <string>{47,65}</string>
                <key>textureRect</key>
                <string>{{112,433},{47,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,65}</string>
                <key>spriteSourceSize</key>
                <string>{31,65}</string>
                <key>textureRect</key>
                <string>{{213,411},{31,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,65}</string>
                <key>spriteSourceSize</key>
                <string>{41,65}</string>
                <key>textureRect</key>
                <string>{{135,232},{41,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{85,243},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{78,364},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{130,353},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{163,422},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,65}</string>
                <key>spriteSourceSize</key>
                <string>{42,65}</string>
                <key>textureRect</key>
                <string>{{150,122},{42,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{49,65}</string>
                <key>textureRect</key>
                <string>{{59,435},{49,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{45,65}</string>
                <key>textureRect</key>
                <string>{{101,122},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,65}</string>
                <key>spriteSourceSize</key>
                <string>{20,65}</string>
                <key>textureRect</key>
                <string>{{218,232},{20,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{27,65}</string>
                <key>textureRect</key>
                <string>{{217,301},{27,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,65}</string>
                <key>spriteSourceSize</key>
                <string>{33,65}</string>
                <key>textureRect</key>
                <string>{{180,342},{33,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,65}</string>
                <key>spriteSourceSize</key>
                <string>{41,65}</string>
                <key>textureRect</key>
                <string>{{196,122},{41,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,65}</string>
                <key>spriteSourceSize</key>
                <string>{34,65}</string>
                <key>textureRect</key>
                <string>{{180,232},{34,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,65}</string>
                <key>spriteSourceSize</key>
                <string>{54,65}</string>
                <key>textureRect</key>
                <string>{{1,435},{54,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{319,354},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{474,284},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{457,230},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{336,408},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{337,278},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{357,176},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{361,332},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{377,386},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{294,300},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{379,230},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,50}</string>
                <key>spriteSourceSize</key>
                <string>{19,50}</string>
                <key>textureRect</key>
                <string>{{445,392},{19,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{414,338},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{411,440},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{438,176},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{414,284},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{248,411},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,117}</string>
                <key>spriteSourceSize</key>
                <string>{113,117}</string>
                <key>textureRect</key>
                <string>{{270,1},{113,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-coin_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{241,122},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,117}</string>
                <key>spriteSourceSize</key>
                <string>{80,117}</string>
                <key>textureRect</key>
                <string>{{1,243},{80,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-energy_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,57}</string>
                <key>spriteSourceSize</key>
                <string>{39,57}</string>
                <key>textureRect</key>
                <string>{{302,122},{39,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,117}</string>
                <key>spriteSourceSize</key>
                <string>{133,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,117}</string>
                <key>textureRect</key>
                <string>{{138,1},{128,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{242,232},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,67}</string>
                <key>spriteSourceSize</key>
                <string>{73,67}</string>
                <key>textureRect</key>
                <string>{{1,364},{73,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,117}</string>
                <key>spriteSourceSize</key>
                <string>{107,117}</string>
                <key>textureRect</key>
                <string>{{387,1},{107,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,117}</string>
                <key>spriteSourceSize</key>
                <string>{96,117}</string>
                <key>textureRect</key>
                <string>{{1,122},{96,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop_user_gold_view-7f74e3051e.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>shop_user_gold_view-7f74e3051e.png</string>
        </dict>
    </dict>
</plist>
