<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guidewindow-energyplantchest-stage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{863,1321},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,401}</string>
                <key>spriteSourceSize</key>
                <string>{420,401}</string>
                <key>textureRect</key>
                <string>{{571,1},{420,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,311}</string>
                <key>spriteSourceSize</key>
                <string>{337,311}</string>
                <key>textureRect</key>
                <string>{{1,971},{337,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_blue_light3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,194}</string>
                <key>spriteSourceSize</key>
                <string>{104,194}</string>
                <key>textureRect</key>
                <string>{{919,892},{104,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,183}</string>
                <key>spriteSourceSize</key>
                <string>{173,183}</string>
                <key>textureRect</key>
                <string>{{373,773},{173,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,410}</string>
                <key>spriteSourceSize</key>
                <string>{317,410}</string>
                <key>textureRect</key>
                <string>{{1,1286},{317,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_down_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,113}</string>
                <key>spriteSourceSize</key>
                <string>{164,113}</string>
                <key>textureRect</key>
                <string>{{373,960},{164,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,130}</string>
                <key>textureRect</key>
                <string>{{863,1187},{131,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_mines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,308}</string>
                <key>spriteSourceSize</key>
                <string>{313,308}</string>
                <key>textureRect</key>
                <string>{{536,1350},{313,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_pickaxe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,482}</string>
                <key>spriteSourceSize</key>
                <string>{397,482}</string>
                <key>textureRect</key>
                <string>{{571,406},{397,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,126}</string>
                <key>spriteSourceSize</key>
                <string>{365,126}</string>
                <key>textureRect</key>
                <string>{{550,892},{365,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,236}</string>
                <key>spriteSourceSize</key>
                <string>{283,236}</string>
                <key>textureRect</key>
                <string>{{1,1700},{283,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_rewards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,324}</string>
                <key>spriteSourceSize</key>
                <string>{318,324}</string>
                <key>textureRect</key>
                <string>{{541,1022},{318,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,233}</string>
                <key>spriteSourceSize</key>
                <string>{242,233}</string>
                <key>textureRect</key>
                <string>{{288,1700},{242,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_stage_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{342,1194},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_tile_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{373,669},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_up_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,113}</string>
                <key>spriteSourceSize</key>
                <string>{164,113}</string>
                <key>textureRect</key>
                <string>{{342,1077},{164,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,96}</string>
                <key>spriteSourceSize</key>
                <string>{183,96}</string>
                <key>textureRect</key>
                <string>{{373,569},{183,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_arrowup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{437,1194},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{54,57}</string>
                <key>textureRect</key>
                <string>{{1,1940},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_white_three_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,93}</string>
                <key>spriteSourceSize</key>
                <string>{135,93}</string>
                <key>textureRect</key>
                <string>{{863,1090},{135,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-guidewindow_yellow_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,564}</string>
                <key>spriteSourceSize</key>
                <string>{566,564}</string>
                <key>textureRect</key>
                <string>{{1,1},{566,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-orderswindow-attention_exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{972,406},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-prizes_heap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,398}</string>
                <key>spriteSourceSize</key>
                <string>{368,398}</string>
                <key>textureRect</key>
                <string>{{1,569},{368,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guidewindow-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,249}</string>
                <key>spriteSourceSize</key>
                <string>{210,249}</string>
                <key>textureRect</key>
                <string>{{322,1289},{210,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guidewindow-322cc06b28.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>guidewindow-322cc06b28.png</string>
        </dict>
    </dict>
</plist>
