<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_bar-bar-1_cristmas_santa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,89}</string>
                <key>spriteSourceSize</key>
                <string>{81,89}</string>
                <key>textureRect</key>
                <string>{{776,1},{81,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{318,148},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,52}</string>
                <key>spriteSourceSize</key>
                <string>{586,52}</string>
                <key>textureRect</key>
                <string>{{414,138},{586,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,16}</string>
                <key>spriteSourceSize</key>
                <string>{23,16}</string>
                <key>textureRect</key>
                <string>{{128,362},{23,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{155,362},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_medieval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{272,148},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{963,87},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{467,283},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{776,94},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{20,13}</string>
                <key>textureRect</key>
                <string>{{174,362},{20,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{198,362},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_medieval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{470,194},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{495,419},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,43}</string>
                <key>spriteSourceSize</key>
                <string>{197,43}</string>
                <key>textureRect</key>
                <string>{{533,419},{197,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple_merge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{397,283},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple_merge_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{98,86}</string>
                <key>textureRect</key>
                <string>{{861,1},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bg_bar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{835,94},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bg_gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{349,440},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{62,51}</string>
                <key>textureRect</key>
                <string>{{206,148},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{250,203},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{397,202},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-coins_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,143}</string>
                <key>spriteSourceSize</key>
                <string>{145,143}</string>
                <key>textureRect</key>
                <string>{{206,1},{145,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-cookie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{358,138},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_1_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,68}</string>
                <key>spriteSourceSize</key>
                <string>{73,68}</string>
                <key>textureRect</key>
                <string>{{272,440},{73,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_1_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,82}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{963,1},{54,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_2_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{272,350},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_2_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,107}</string>
                <key>spriteSourceSize</key>
                <string>{76,107}</string>
                <key>textureRect</key>
                <string>{{492,1},{76,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_3_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,114}</string>
                <key>spriteSourceSize</key>
                <string>{141,114}</string>
                <key>textureRect</key>
                <string>{{127,388},{141,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_3_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{572,1},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_4_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,181}</string>
                <key>spriteSourceSize</key>
                <string>{123,181}</string>
                <key>textureRect</key>
                <string>{{1,203},{123,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_4_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,155}</string>
                <key>spriteSourceSize</key>
                <string>{118,155}</string>
                <key>textureRect</key>
                <string>{{128,203},{118,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{457,339},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_orange_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,198}</string>
                <key>spriteSourceSize</key>
                <string>{201,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_orange_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{355,1},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-glow_under_the_element_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{369,350},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-glow_under_the_element_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,123}</string>
                <key>spriteSourceSize</key>
                <string>{122,123}</string>
                <key>textureRect</key>
                <string>{{1,388},{122,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{422,439},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-gray_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{495,467},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,103}</string>
                <key>spriteSourceSize</key>
                <string>{94,103}</string>
                <key>textureRect</key>
                <string>{{678,1},{94,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_bar-357a53b74f.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>ads_bar-357a53b74f.png</string>
        </dict>
    </dict>
</plist>
