<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_words_list-white_things-bread.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,48}</string>
                <key>textureRect</key>
                <string>{{172,274},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{63,109},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-foam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{198,88},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-milk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,53}</string>
                <key>spriteSourceSize</key>
                <string>{49,53}</string>
                <key>textureRect</key>
                <string>{{1,457},{49,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-rice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{137,67},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-salt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{1,70},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-snow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,65}</string>
                <key>spriteSourceSize</key>
                <string>{69,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{69,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-swan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{74,46},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-white_things-wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,41}</string>
                <key>spriteSourceSize</key>
                <string>{69,41}</string>
                <key>textureRect</key>
                <string>{{74,1},{69,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-ananas_yellow_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{54,474},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blackblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{51,60}</string>
                <key>textureRect</key>
                <string>{{172,326},{51,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blackpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{51,60}</string>
                <key>textureRect</key>
                <string>{{114,330},{51,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blue_ice_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{54,440},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blueblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{229,211},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blueorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{229,242},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-bottom_bllue_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{88,474},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-bottom_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{227,335},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cheese_red_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{214,1},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cheese_yellow_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{227,364},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-chocolate_dark_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{88,440},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-chocolate_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{214,30},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cyanorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{229,273},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-darkpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{58,296},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-darkred_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{1,321},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-greyblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{1,123},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-greygrey_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{121,133},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-hexagreen_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{172,211},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-hexaindigo_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{115,267},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-juice_orange_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{214,59},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-marbelbrown_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{53,60}</string>
                <key>textureRect</key>
                <string>{{58,232},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-marbelyellow_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,60}</string>
                <key>spriteSourceSize</key>
                <string>{53,60}</string>
                <key>textureRect</key>
                <string>{{1,257},{53,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-orange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{49,63}</string>
                <key>textureRect</key>
                <string>{{1,384},{49,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-orangeline_valentine_word_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{228,304},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pillow_green_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{122,474},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pillow_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{122,440},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pinkblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{58,165},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pinkpink_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{1,190},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-seabeach_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,23}</string>
                <key>spriteSourceSize</key>
                <string>{31,23}</string>
                <key>textureRect</key>
                <string>{{222,393},{31,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-seabeach_substrate_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{54,413},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-violet_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,23}</string>
                <key>spriteSourceSize</key>
                <string>{31,23}</string>
                <key>textureRect</key>
                <string>{{222,420},{31,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-violet_turquoise_substare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,23}</string>
                <key>spriteSourceSize</key>
                <string>{31,23}</string>
                <key>textureRect</key>
                <string>{{222,447},{31,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-woodbrown_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{178,144},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-woodwhite_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{115,200},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-yellow_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{49,63}</string>
                <key>textureRect</key>
                <string>{{169,390},{49,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{147,1},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{57,359},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{111,394},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{198,67},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stripe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,3}</string>
                <key>spriteSourceSize</key>
                <string>{10,3}</string>
                <key>textureRect</key>
                <string>{{121,109},{10,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_words_list-cbb3c42cf2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>ads_words_list-cbb3c42cf2.png</string>
        </dict>
    </dict>
</plist>
