<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,361}</string>
                <key>spriteSourceSize</key>
                <string>{688,361}</string>
                <key>textureRect</key>
                <string>{{1,143},{688,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-character_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,267}</string>
                <key>spriteSourceSize</key>
                <string>{197,267}</string>
                <key>textureRect</key>
                <string>{{817,131},{197,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-chef_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{693,316},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{833,43},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,89}</string>
                <key>spriteSourceSize</key>
                <string>{144,89}</string>
                <key>textureRect</key>
                <string>{{1,916},{144,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-coloured_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,144}</string>
                <key>spriteSourceSize</key>
                <string>{323,144}</string>
                <key>textureRect</key>
                <string>{{693,402},{323,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-cutout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,267}</string>
                <key>spriteSourceSize</key>
                <string>{211,267}</string>
                <key>textureRect</key>
                <string>{{368,642},{211,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-diamond_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,108}</string>
                <key>spriteSourceSize</key>
                <string>{126,108}</string>
                <key>textureRect</key>
                <string>{{368,913},{126,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-discount_listing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{891,1},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-energy_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,98}</string>
                <key>spriteSourceSize</key>
                <string>{147,98}</string>
                <key>textureRect</key>
                <string>{{532,508},{147,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-gift_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,56}</string>
                <key>spriteSourceSize</key>
                <string>{134,56}</string>
                <key>textureRect</key>
                <string>{{149,916},{134,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-gift_bag_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,270}</string>
                <key>spriteSourceSize</key>
                <string>{363,270}</string>
                <key>textureRect</key>
                <string>{{1,642},{363,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,129}</string>
                <key>spriteSourceSize</key>
                <string>{141,129}</string>
                <key>textureRect</key>
                <string>{{683,550},{141,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-monkey_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,169}</string>
                <key>spriteSourceSize</key>
                <string>{110,169}</string>
                <key>textureRect</key>
                <string>{{693,143},{110,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-roof.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{812,96}</string>
                <key>spriteSourceSize</key>
                <string>{812,96}</string>
                <key>textureRect</key>
                <string>{{1,43},{812,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{886,38}</string>
                <key>spriteSourceSize</key>
                <string>{886,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{886,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-sling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,79}</string>
                <key>spriteSourceSize</key>
                <string>{12,79}</string>
                <key>textureRect</key>
                <string>{{817,43},{12,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,39}</string>
                <key>spriteSourceSize</key>
                <string>{170,39}</string>
                <key>textureRect</key>
                <string>{{149,976},{170,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>limited_time_gift_pack-limitedtimegiftpack-title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,130}</string>
                <key>spriteSourceSize</key>
                <string>{527,130}</string>
                <key>textureRect</key>
                <string>{{1,508},{527,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>limited_time_gift_pack-23eb21b562.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>limited_time_gift_pack-23eb21b562.png</string>
        </dict>
    </dict>
</plist>
