<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,259}</string>
                <key>spriteSourceSize</key>
                <string>{622,259}</string>
                <key>textureRect</key>
                <string>{{688,1485},{622,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,315}</string>
                <key>spriteSourceSize</key>
                <string>{717,315}</string>
                <key>textureRect</key>
                <string>{{1,1166},{717,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{991,253}</string>
                <key>spriteSourceSize</key>
                <string>{991,253}</string>
                <key>textureRect</key>
                <string>{{1,1},{991,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_es.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,216}</string>
                <key>spriteSourceSize</key>
                <string>{695,216}</string>
                <key>textureRect</key>
                <string>{{1314,1462},{695,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_fr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,251}</string>
                <key>spriteSourceSize</key>
                <string>{884,251}</string>
                <key>textureRect</key>
                <string>{{973,499},{884,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,221}</string>
                <key>spriteSourceSize</key>
                <string>{732,221}</string>
                <key>textureRect</key>
                <string>{{839,1007},{732,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,351}</string>
                <key>spriteSourceSize</key>
                <string>{834,351}</string>
                <key>textureRect</key>
                <string>{{1,811},{834,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,257}</string>
                <key>spriteSourceSize</key>
                <string>{542,257}</string>
                <key>textureRect</key>
                <string>{{688,1748},{542,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{971,248}</string>
                <key>spriteSourceSize</key>
                <string>{971,248}</string>
                <key>textureRect</key>
                <string>{{996,1},{971,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_nl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{869,249}</string>
                <key>spriteSourceSize</key>
                <string>{869,249}</string>
                <key>textureRect</key>
                <string>{{970,754},{869,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,276}</string>
                <key>spriteSourceSize</key>
                <string>{884,276}</string>
                <key>textureRect</key>
                <string>{{1,258},{884,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{881,269}</string>
                <key>spriteSourceSize</key>
                <string>{881,269}</string>
                <key>textureRect</key>
                <string>{{1,538},{881,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,226}</string>
                <key>spriteSourceSize</key>
                <string>{700,226}</string>
                <key>textureRect</key>
                <string>{{722,1232},{700,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,242}</string>
                <key>spriteSourceSize</key>
                <string>{916,242}</string>
                <key>textureRect</key>
                <string>{{996,253},{916,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,401}</string>
                <key>spriteSourceSize</key>
                <string>{683,401}</string>
                <key>textureRect</key>
                <string>{{1,1485},{683,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{1843,754},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1971,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1971,43},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1971,85},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1971,127},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1971,169},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{1987,547},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1971,211},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1916,253},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1958,253},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{2000,253},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1916,295},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1958,295},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{2000,295},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1916,337},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1958,337},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{2000,337},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,21}</string>
                <key>textureRect</key>
                <string>{{1945,547},{38,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1916,379},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1958,379},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{2000,379},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1916,421},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1958,421},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{2000,421},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{2013,1},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1916,463},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1958,463},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{1945,572},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{2000,463},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{889,258},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{931,258},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{889,300},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{931,300},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{889,342},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{931,342},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{889,384},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{931,384},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{889,426},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{931,426},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{889,468},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{931,468},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1861,499},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{889,510},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{931,510},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{886,552},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{928,552},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{886,594},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{928,594},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{886,636},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{928,636},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{886,678},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{928,678},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{886,720},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{928,720},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1903,505},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1861,541},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1945,505},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1987,505},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1903,547},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1861,583},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{2013,43},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>screenshots-c40af76ee5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>screenshots-c40af76ee5.png</string>
        </dict>
    </dict>
</plist>
