<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halloween-halloween_decor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,223}</string>
                <key>spriteSourceSize</key>
                <string>{164,223}</string>
                <key>textureRect</key>
                <string>{{0,106},{164,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,103}</string>
                <key>spriteSourceSize</key>
                <string>{116,103}</string>
                <key>textureRect</key>
                <string>{{293,0},{116,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,234}</string>
                <key>spriteSourceSize</key>
                <string>{441,234}</string>
                <key>textureRect</key>
                <string>{{0,682},{441,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_pumpkins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,133}</string>
                <key>spriteSourceSize</key>
                <string>{256,133}</string>
                <key>textureRect</key>
                <string>{{211,332},{256,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,178}</string>
                <key>spriteSourceSize</key>
                <string>{288,178}</string>
                <key>textureRect</key>
                <string>{{0,502},{288,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,168}</string>
                <key>spriteSourceSize</key>
                <string>{209,168}</string>
                <key>textureRect</key>
                <string>{{0,332},{209,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,18}</string>
                <key>spriteSourceSize</key>
                <string>{41,18}</string>
                <key>textureRect</key>
                <string>{{92,0},{41,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{48,0},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{135,0},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{17,0},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,224}</string>
                <key>spriteSourceSize</key>
                <string>{191,224}</string>
                <key>textureRect</key>
                <string>{{166,106},{191,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{110,104}</string>
                <key>textureRect</key>
                <string>{{181,0},{110,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{66,0},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,7}</string>
                <key>spriteSourceSize</key>
                <string>{5,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{32,0},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{7,0},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>halloween-827215f455.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>halloween-827215f455.png</string>
        </dict>
    </dict>
</plist>
