<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailytasks-adicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{68,74}</string>
                <key>textureRect</key>
                <string>{{276,65},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-bonus_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,70}</string>
                <key>spriteSourceSize</key>
                <string>{77,70}</string>
                <key>textureRect</key>
                <string>{{182,141},{77,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-coin_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,111}</string>
                <key>spriteSourceSize</key>
                <string>{123,111}</string>
                <key>textureRect</key>
                <string>{{0,256},{123,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-dailytask_fb_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{73,65},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-dailytask_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{335,141},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-episode_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,71}</string>
                <key>spriteSourceSize</key>
                <string>{63,71}</string>
                <key>textureRect</key>
                <string>{{137,65},{63,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-free_moves_friends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,54}</string>
                <key>textureRect</key>
                <string>{{0,65},{71,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-gift_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{72,63}</string>
                <key>textureRect</key>
                <string>{{202,65},{72,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-hint_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{383,0},{58,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{50,0},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{100,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{261,141},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-easy_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{148,0},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-easy_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,57}</string>
                <key>spriteSourceSize</key>
                <string>{89,57}</string>
                <key>textureRect</key>
                <string>{{346,65},{89,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-frame_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,149}</string>
                <key>spriteSourceSize</key>
                <string>{144,149}</string>
                <key>textureRect</key>
                <string>{{125,256},{144,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-frame_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,149}</string>
                <key>spriteSourceSize</key>
                <string>{144,149}</string>
                <key>textureRect</key>
                <string>{{271,256},{144,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-hard_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{207,0},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-hard_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,57}</string>
                <key>spriteSourceSize</key>
                <string>{89,57}</string>
                <key>textureRect</key>
                <string>{{0,141},{89,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-medium_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{266,0},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-mission-medium_top_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,57}</string>
                <key>spriteSourceSize</key>
                <string>{89,57}</string>
                <key>textureRect</key>
                <string>{{91,141},{89,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailytasks-overtake_task.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,61}</string>
                <key>spriteSourceSize</key>
                <string>{56,61}</string>
                <key>textureRect</key>
                <string>{{325,0},{56,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dailytasks-c214068797.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>dailytasks-c214068797.png</string>
        </dict>
    </dict>
</plist>
