<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_pass-batlepass_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,108}</string>
                <key>spriteSourceSize</key>
                <string>{25,108}</string>
                <key>textureRect</key>
                <string>{{979,181},{25,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-blik_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,301}</string>
                <key>spriteSourceSize</key>
                <string>{324,301}</string>
                <key>textureRect</key>
                <string>{{414,1},{324,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,49}</string>
                <key>spriteSourceSize</key>
                <string>{64,49}</string>
                <key>textureRect</key>
                <string>{{950,392},{64,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,107}</string>
                <key>spriteSourceSize</key>
                <string>{128,107}</string>
                <key>textureRect</key>
                <string>{{77,306},{128,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar_scala.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,105}</string>
                <key>spriteSourceSize</key>
                <string>{32,105}</string>
                <key>textureRect</key>
                <string>{{979,43},{32,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{979,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-gradient_goldpass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,587}</string>
                <key>spriteSourceSize</key>
                <string>{72,587}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,587}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-guide_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{77,150},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-guide_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{77,1},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-icon_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,408}</string>
                <key>spriteSourceSize</key>
                <string>{409,408}</string>
                <key>textureRect</key>
                <string>{{1,592},{409,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-icon_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{165,167}</string>
                <key>textureRect</key>
                <string>{{426,306},{165,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-offer_badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,208}</string>
                <key>spriteSourceSize</key>
                <string>{204,208}</string>
                <key>textureRect</key>
                <string>{{742,220},{204,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-timer_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{211,150},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-timer_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,44}</string>
                <key>spriteSourceSize</key>
                <string>{70,44}</string>
                <key>textureRect</key>
                <string>{{950,293},{70,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-under_bg_goldpass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,156}</string>
                <key>spriteSourceSize</key>
                <string>{23,156}</string>
                <key>textureRect</key>
                <string>{{77,432},{23,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-under_worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,145}</string>
                <key>spriteSourceSize</key>
                <string>{104,145}</string>
                <key>textureRect</key>
                <string>{{305,1},{104,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,215}</string>
                <key>spriteSourceSize</key>
                <string>{233,215}</string>
                <key>textureRect</key>
                <string>{{742,1},{233,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,154}</string>
                <key>spriteSourceSize</key>
                <string>{158,154}</string>
                <key>textureRect</key>
                <string>{{264,432},{158,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,35}</string>
                <key>spriteSourceSize</key>
                <string>{78,35}</string>
                <key>textureRect</key>
                <string>{{211,1},{78,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,155}</string>
                <key>spriteSourceSize</key>
                <string>{156,155}</string>
                <key>textureRect</key>
                <string>{{104,432},{156,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_particles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,47}</string>
                <key>spriteSourceSize</key>
                <string>{65,47}</string>
                <key>textureRect</key>
                <string>{{950,341},{65,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{979,152},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blik_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{209,306},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_pass-4a8b7e987f.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>battle_pass-4a8b7e987f.png</string>
        </dict>
    </dict>
</plist>
