<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>subscription_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,27}</string>
                <key>spriteSourceSize</key>
                <string>{74,27}</string>
                <key>textureRect</key>
                <string>{{105,0},{74,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,93}</string>
                <key>spriteSourceSize</key>
                <string>{143,93}</string>
                <key>textureRect</key>
                <string>{{0,103},{143,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_upper_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,141}</string>
                <key>spriteSourceSize</key>
                <string>{303,141}</string>
                <key>textureRect</key>
                <string>{{145,103},{303,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_upper_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,33}</string>
                <key>spriteSourceSize</key>
                <string>{17,33}</string>
                <key>textureRect</key>
                <string>{{8,0},{17,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-starter_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,29}</string>
                <key>spriteSourceSize</key>
                <string>{80,29}</string>
                <key>textureRect</key>
                <string>{{181,0},{80,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,101}</string>
                <key>spriteSourceSize</key>
                <string>{106,101}</string>
                <key>textureRect</key>
                <string>{{366,0},{106,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_dworf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,233}</string>
                <key>spriteSourceSize</key>
                <string>{357,233}</string>
                <key>textureRect</key>
                <string>{{0,246},{357,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,96}</string>
                <key>spriteSourceSize</key>
                <string>{101,96}</string>
                <key>textureRect</key>
                <string>{{263,0},{101,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-timer_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{64,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-timer_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,22}</string>
                <key>textureRect</key>
                <string>{{27,0},{35,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>subscription_window-7607e50faf.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>subscription_window-7607e50faf.png</string>
        </dict>
    </dict>
</plist>
