<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_scale-scale-cupid_heart_scale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,13}</string>
                <key>spriteSourceSize</key>
                <string>{201,13}</string>
                <key>textureRect</key>
                <string>{{307,141},{201,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-cutebrain_grandma_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,55}</string>
                <key>spriteSourceSize</key>
                <string>{332,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-smartbrain_brown_einstein_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,58}</string>
                <key>spriteSourceSize</key>
                <string>{302,58}</string>
                <key>textureRect</key>
                <string>{{1,60},{302,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-smartbrain_white_einstein_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,57}</string>
                <key>spriteSourceSize</key>
                <string>{302,57}</string>
                <key>textureRect</key>
                <string>{{1,122},{302,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-witch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{439,158},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-witch_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,71}</string>
                <key>spriteSourceSize</key>
                <string>{283,71}</string>
                <key>textureRect</key>
                <string>{{1,183},{283,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-xmas_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,57}</string>
                <key>spriteSourceSize</key>
                <string>{262,57}</string>
                <key>textureRect</key>
                <string>{{1,258},{262,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_scale-scale-xmas_santa_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{369,256},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,40}</string>
                <key>spriteSourceSize</key>
                <string>{128,40}</string>
                <key>textureRect</key>
                <string>{{307,158},{128,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,122}</string>
                <key>spriteSourceSize</key>
                <string>{138,122}</string>
                <key>textureRect</key>
                <string>{{337,1},{138,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_heart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{288,183},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcupid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{39,46}</string>
                <key>textureRect</key>
                <string>{{472,241},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{267,310},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,12}</string>
                <key>spriteSourceSize</key>
                <string>{6,12}</string>
                <key>textureRect</key>
                <string>{{307,122},{6,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,6}</string>
                <key>spriteSourceSize</key>
                <string>{3,6}</string>
                <key>textureRect</key>
                <string>{{506,127},{3,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutebrain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,8}</string>
                <key>spriteSourceSize</key>
                <string>{4,8}</string>
                <key>textureRect</key>
                <string>{{506,115},{4,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,125}</string>
                <key>spriteSourceSize</key>
                <string>{58,125}</string>
                <key>textureRect</key>
                <string>{{307,202},{58,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{369,202},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smartbrain_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{479,1},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smartbrain_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{479,40},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,12}</string>
                <key>spriteSourceSize</key>
                <string>{36,12}</string>
                <key>textureRect</key>
                <string>{{267,294},{36,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{267,258},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solid_heart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{288,205},{15,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solidcupid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{423,241},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{307,106},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{479,115},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,7}</string>
                <key>spriteSourceSize</key>
                <string>{48,7}</string>
                <key>textureRect</key>
                <string>{{317,127},{48,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{479,76},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,14}</string>
                <key>spriteSourceSize</key>
                <string>{21,14}</string>
                <key>textureRect</key>
                <string>{{307,88},{21,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>witch4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{307,60},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_scale-451930a554.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ads_scale-451930a554.png</string>
        </dict>
    </dict>
</plist>
