<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boy_speak instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{97,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{194,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{291,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{485,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{582,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{679,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{776,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{873,0},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{97,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{194,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{291,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{485,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{582,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{679,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{776,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{873,174},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{97,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{194,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{291,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{485,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{582,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{679,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{776,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boy_speak instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,174}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,174}</string>
				<key>spriteSourceSize</key>
				<string>{97,174}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{873,348},{97,174}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>boy_speak.png</string>
				<key>textureFileName</key>
				<string>boy_speak</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
