<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogues_minimal-dialogues-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,154}</string>
                <key>spriteSourceSize</key>
                <string>{177,154}</string>
                <key>textureRect</key>
                <string>{{168,169},{177,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,161}</string>
                <key>spriteSourceSize</key>
                <string>{186,161}</string>
                <key>textureRect</key>
                <string>{{0,332},{186,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_dwarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,168}</string>
                <key>spriteSourceSize</key>
                <string>{192,168}</string>
                <key>textureRect</key>
                <string>{{0,521},{192,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_elf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,187}</string>
                <key>spriteSourceSize</key>
                <string>{163,187}</string>
                <key>textureRect</key>
                <string>{{188,332},{163,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{229,0},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_rider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,161}</string>
                <key>spriteSourceSize</key>
                <string>{166,161}</string>
                <key>textureRect</key>
                <string>{{0,169},{166,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,167}</string>
                <key>spriteSourceSize</key>
                <string>{154,167}</string>
                <key>textureRect</key>
                <string>{{73,0},{154,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warlock_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,191}</string>
                <key>spriteSourceSize</key>
                <string>{171,191}</string>
                <key>textureRect</key>
                <string>{{194,521},{171,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues_minimal-c9193c9342.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>dialogues_minimal-c9193c9342.png</string>
        </dict>
    </dict>
</plist>
