<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_menu-cat_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,319}</string>
                <key>spriteSourceSize</key>
                <string>{199,319}</string>
                <key>textureRect</key>
                <string>{{1,324},{199,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-cat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,319}</string>
                <key>spriteSourceSize</key>
                <string>{222,319}</string>
                <key>textureRect</key>
                <string>{{1,1},{222,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-cat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,319}</string>
                <key>spriteSourceSize</key>
                <string>{199,319}</string>
                <key>textureRect</key>
                <string>{{1,647},{199,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-island_bottom_off1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,179}</string>
                <key>spriteSourceSize</key>
                <string>{209,179}</string>
                <key>textureRect</key>
                <string>{{227,1},{209,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-island_bottom_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,179}</string>
                <key>spriteSourceSize</key>
                <string>{209,179}</string>
                <key>textureRect</key>
                <string>{{227,184},{209,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-title_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{85,66}</string>
                <key>textureRect</key>
                <string>{{204,367},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-title_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,66}</string>
                <key>spriteSourceSize</key>
                <string>{85,66}</string>
                <key>textureRect</key>
                <string>{{293,367},{85,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-title_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,66}</string>
                <key>textureRect</key>
                <string>{{382,367},{84,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_menu-cedc59321d.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>ads_menu-cedc59321d.png</string>
        </dict>
    </dict>
</plist>
