<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>units_shop-market-market_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,95}</string>
                <key>spriteSourceSize</key>
                <string>{86,95}</string>
                <key>textureRect</key>
                <string>{{142,125},{86,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,85}</string>
                <key>spriteSourceSize</key>
                <string>{78,85}</string>
                <key>textureRect</key>
                <string>{{142,224},{78,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,117}</string>
                <key>spriteSourceSize</key>
                <string>{137,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_cart_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,117}</string>
                <key>spriteSourceSize</key>
                <string>{137,117}</string>
                <key>textureRect</key>
                <string>{{1,122},{137,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{42,68}</string>
                <key>textureRect</key>
                <string>{{1,243},{42,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,120}</string>
                <key>spriteSourceSize</key>
                <string>{105,120}</string>
                <key>textureRect</key>
                <string>{{142,1},{105,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_shop-market-market_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{224,224},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>units_shop-afb9b46f6e.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>units_shop-afb9b46f6e.png</string>
        </dict>
    </dict>
</plist>
