<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy_time-energy_time_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,339}</string>
                <key>spriteSourceSize</key>
                <string>{338,339}</string>
                <key>textureRect</key>
                <string>{{0,0},{338,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_arm_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,100}</string>
                <key>spriteSourceSize</key>
                <string>{69,100}</string>
                <key>textureRect</key>
                <string>{{340,0},{69,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_arm_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,104}</string>
                <key>spriteSourceSize</key>
                <string>{66,104}</string>
                <key>textureRect</key>
                <string>{{411,0},{66,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,419}</string>
                <key>spriteSourceSize</key>
                <string>{361,419}</string>
                <key>textureRect</key>
                <string>{{479,0},{361,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,276}</string>
                <key>spriteSourceSize</key>
                <string>{204,276}</string>
                <key>textureRect</key>
                <string>{{0,421},{204,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,27}</string>
                <key>spriteSourceSize</key>
                <string>{78,27}</string>
                <key>textureRect</key>
                <string>{{206,421},{78,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,202}</string>
                <key>spriteSourceSize</key>
                <string>{151,202}</string>
                <key>textureRect</key>
                <string>{{286,421},{151,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,97}</string>
                <key>spriteSourceSize</key>
                <string>{152,97}</string>
                <key>textureRect</key>
                <string>{{439,421},{152,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_left_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,98}</string>
                <key>spriteSourceSize</key>
                <string>{34,98}</string>
                <key>textureRect</key>
                <string>{{593,421},{34,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,84}</string>
                <key>spriteSourceSize</key>
                <string>{73,84}</string>
                <key>textureRect</key>
                <string>{{629,421},{73,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,168}</string>
                <key>spriteSourceSize</key>
                <string>{130,168}</string>
                <key>textureRect</key>
                <string>{{704,421},{130,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,121}</string>
                <key>spriteSourceSize</key>
                <string>{124,121}</string>
                <key>textureRect</key>
                <string>{{836,421},{124,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,97}</string>
                <key>textureRect</key>
                <string>{{0,699},{123,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{62,97}</string>
                <key>textureRect</key>
                <string>{{125,699},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{189,699},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_shoulder_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,148}</string>
                <key>spriteSourceSize</key>
                <string>{108,148}</string>
                <key>textureRect</key>
                <string>{{206,699},{108,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_shoulder_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{132,156}</string>
                <key>textureRect</key>
                <string>{{316,699},{132,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_time-5a976acaeb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>energy_time-5a976acaeb.png</string>
        </dict>
    </dict>
</plist>
