<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_counter-counter-underscore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,14}</string>
                <key>spriteSourceSize</key>
                <string>{107,14}</string>
                <key>textureRect</key>
                <string>{{282,141},{107,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,213}</string>
                <key>spriteSourceSize</key>
                <string>{277,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{277,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,69}</string>
                <key>spriteSourceSize</key>
                <string>{79,69}</string>
                <key>textureRect</key>
                <string>{{1,385},{79,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,136}</string>
                <key>spriteSourceSize</key>
                <string>{169,136}</string>
                <key>textureRect</key>
                <string>{{282,1},{169,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,26}</string>
                <key>spriteSourceSize</key>
                <string>{13,26}</string>
                <key>textureRect</key>
                <string>{{498,39},{13,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,59}</string>
                <key>spriteSourceSize</key>
                <string>{21,59}</string>
                <key>textureRect</key>
                <string>{{455,97},{21,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,55}</string>
                <key>spriteSourceSize</key>
                <string>{21,55}</string>
                <key>textureRect</key>
                <string>{{480,97},{21,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,83}</string>
                <key>spriteSourceSize</key>
                <string>{86,83}</string>
                <key>textureRect</key>
                <string>{{1,298},{86,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,21}</string>
                <key>textureRect</key>
                <string>{{455,39},{39,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{455,64},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brain_strange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,76}</string>
                <key>spriteSourceSize</key>
                <string>{275,76}</string>
                <key>textureRect</key>
                <string>{{1,218},{275,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_brainbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{282,159},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_spiral_particke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{455,1},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ogorod_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{385,160},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_counter-1be2386cd4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ads_counter-1be2386cd4.png</string>
        </dict>
    </dict>
</plist>
