<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wysiwyg-admin-delete_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{40,466},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-level_frame_regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{69,398},{70,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1,466},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-regular_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,25}</string>
                <key>spriteSourceSize</key>
                <string>{92,25}</string>
                <key>textureRect</key>
                <string>{{70,463},{92,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-regular_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,25}</string>
                <key>spriteSourceSize</key>
                <string>{92,25}</string>
                <key>textureRect</key>
                <string>{{125,217},{92,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-selected_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,25}</string>
                <key>spriteSourceSize</key>
                <string>{92,25}</string>
                <key>textureRect</key>
                <string>{{332,1},{92,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-attach_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,398},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{40,496},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_icons-admin_push.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{117,302},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_icons-admin_rev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{190,300},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{299,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{179,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-clip_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{151,381},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{73,327},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{112,75}</string>
                <key>textureRect</key>
                <string>{{1,248},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{10,8}</string>
                <key>textureRect</key>
                <string>{{137,381},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_item_hidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{163,381},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{117,248},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsbug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{137,327},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscontrolspanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{143,393},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscounter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{170,447},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscurrent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{125,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsenergyfeast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{125,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsexclamations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{125,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsfield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{125,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsfireworks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{171,246},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{191,327},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{197,381},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{245,327},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshintbooster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{224,435},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsinfopanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{251,381},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adskeypad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{278,435},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adslogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{225,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmap2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{428,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{332,30},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmenubar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{246,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{179,59},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsprogressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{386,55},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adspuzzle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{332,84},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsscale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{440,59},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsshadowlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{386,109},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsshuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{179,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssidebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{332,138},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{440,113},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsspine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{386,163},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{332,192},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{225,246},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{440,167},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstransition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{386,217},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{332,246},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adswordslist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{440,221},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adswordsresult.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{386,271},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{143,302},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{59,496},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-directory_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,9}</string>
                <key>spriteSourceSize</key>
                <string>{13,9}</string>
                <key>textureRect</key>
                <string>{{153,492},{13,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,3}</string>
                <key>spriteSourceSize</key>
                <string>{6,3}</string>
                <key>textureRect</key>
                <string>{{1,505},{6,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-fullscreen_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{179,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-iphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,243}</string>
                <key>spriteSourceSize</key>
                <string>{120,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-iphone_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{482,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-move_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{219,300},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-move_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{117,302},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-paste.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{78,492},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{116,492},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-preview_control.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{135,492},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-preview_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{95,492},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-scenario_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{5,8}</string>
                <key>textureRect</key>
                <string>{{175,381},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-sound_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,20}</string>
                <key>spriteSourceSize</key>
                <string>{23,20}</string>
                <key>textureRect</key>
                <string>{{163,302},{23,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-video_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{482,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-window_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1,327},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wysiwyg-938bb3d152.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>wysiwyg-938bb3d152.png</string>
        </dict>
    </dict>
</plist>
