<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,173}</string>
                <key>spriteSourceSize</key>
                <string>{415,173}</string>
                <key>textureRect</key>
                <string>{{595,508},{415,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,210}</string>
                <key>spriteSourceSize</key>
                <string>{478,210}</string>
                <key>textureRect</key>
                <string>{{493,1492},{478,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{661,169}</string>
                <key>spriteSourceSize</key>
                <string>{661,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{661,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_es.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,144}</string>
                <key>spriteSourceSize</key>
                <string>{463,144}</string>
                <key>textureRect</key>
                <string>{{472,1706},{463,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_fr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,167}</string>
                <key>spriteSourceSize</key>
                <string>{590,167}</string>
                <key>textureRect</key>
                <string>{{1,696},{590,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,147}</string>
                <key>spriteSourceSize</key>
                <string>{488,147}</string>
                <key>textureRect</key>
                <string>{{1,1458},{488,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,234}</string>
                <key>spriteSourceSize</key>
                <string>{556,234}</string>
                <key>textureRect</key>
                <string>{{1,1220},{556,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,172}</string>
                <key>spriteSourceSize</key>
                <string>{361,172}</string>
                <key>textureRect</key>
                <string>{{652,193},{361,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,165}</string>
                <key>spriteSourceSize</key>
                <string>{647,165}</string>
                <key>textureRect</key>
                <string>{{1,174},{647,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_nl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,166}</string>
                <key>spriteSourceSize</key>
                <string>{579,166}</string>
                <key>textureRect</key>
                <string>{{1,1050},{579,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,184}</string>
                <key>spriteSourceSize</key>
                <string>{590,184}</string>
                <key>textureRect</key>
                <string>{{1,508},{590,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,179}</string>
                <key>spriteSourceSize</key>
                <string>{588,179}</string>
                <key>textureRect</key>
                <string>{{1,867},{588,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,151}</string>
                <key>spriteSourceSize</key>
                <string>{467,151}</string>
                <key>textureRect</key>
                <string>{{1,1609},{467,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,161}</string>
                <key>spriteSourceSize</key>
                <string>{611,161}</string>
                <key>textureRect</key>
                <string>{{1,343},{611,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,268}</string>
                <key>spriteSourceSize</key>
                <string>{456,268}</string>
                <key>textureRect</key>
                <string>{{561,1220},{456,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{134,130}</string>
                <key>textureRect</key>
                <string>{{666,1},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{804,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{833,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{862,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{891,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{920,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{949,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{978,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{804,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{833,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{862,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{891,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{920,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{949,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{978,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{804,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{833,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{782,175},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{862,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{891,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{920,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{949,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{978,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{804,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{761,369},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{833,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{862,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{891,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{920,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{949,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{978,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{804,117},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{666,135},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{695,135},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{724,135},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{753,135},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{833,117},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{862,117},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{891,117},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{920,117},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{949,117},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{978,117},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{782,146},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{666,164},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{695,164},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{724,164},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{753,164},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{811,146},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{840,146},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{869,146},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{898,146},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{927,146},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{956,146},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{985,146},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{616,343},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{645,369},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{616,372},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{674,369},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{703,369},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{732,369},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{1007,1},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>screenshots-c40af76ee5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>screenshots-c40af76ee5.png</string>
        </dict>
    </dict>
</plist>
