<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyfogwindow-orderswindow-icon_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{186,151},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_blick_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,80}</string>
                <key>textureRect</key>
                <string>{{95,193},{84,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{1,240},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{183,252},{43,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{42,245},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{1,195},{43,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{1,280},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{80,277},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_stone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{43,49}</string>
                <key>textureRect</key>
                <string>{{183,199},{43,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,5}</string>
                <key>spriteSourceSize</key>
                <string>{10,5}</string>
                <key>textureRect</key>
                <string>{{243,34},{10,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,29}</string>
                <key>spriteSourceSize</key>
                <string>{50,29}</string>
                <key>textureRect</key>
                <string>{{192,1},{50,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,52}</string>
                <key>textureRect</key>
                <string>{{1,139},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_growing_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{246,12},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_left_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{246,1},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{38,293},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,48}</string>
                <key>spriteSourceSize</key>
                <string>{47,48}</string>
                <key>textureRect</key>
                <string>{{192,34},{47,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_sacks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{48,195},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_treasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{189,86},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,50}</string>
                <key>spriteSourceSize</key>
                <string>{87,50}</string>
                <key>textureRect</key>
                <string>{{95,139},{87,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,64}</string>
                <key>textureRect</key>
                <string>{{1,71},{90,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,64}</string>
                <key>textureRect</key>
                <string>{{95,71},{90,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,66}</string>
                <key>spriteSourceSize</key>
                <string>{93,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,66}</string>
                <key>textureRect</key>
                <string>{{98,1},{90,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyfogwindow-c2abd345dd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>buyfogwindow-c2abd345dd.png</string>
        </dict>
    </dict>
</plist>
