<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_world_valentines-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{71,457},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{356,121},{22,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{269,377},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{107,457},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{143,457},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{179,457},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{147,333},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{289,301},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{34,457},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{182,333},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{319,241},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,41}</string>
                <key>spriteSourceSize</key>
                <string>{17,41}</string>
                <key>textureRect</key>
                <string>{{280,422},{17,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{376,61},{22,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{328,181},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{217,333},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{377,1},{22,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{1,457},{29,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{110,213},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{292,121},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{251,121},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{182,61},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{147,273},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{156,213},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{190,1},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{272,61},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{135,77},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{206,121},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,56}</string>
                <key>spriteSourceSize</key>
                <string>{35,56}</string>
                <key>textureRect</key>
                <string>{{250,317},{35,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,56}</string>
                <key>spriteSourceSize</key>
                <string>{21,56}</string>
                <key>textureRect</key>
                <string>{{352,1},{21,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,56}</string>
                <key>spriteSourceSize</key>
                <string>{27,56}</string>
                <key>textureRect</key>
                <string>{{321,1},{27,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{282,241},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{239,257},{39,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{313,61},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,56}</string>
                <key>textureRect</key>
                <string>{{229,378},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{1,153},{52,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,72}</string>
                <key>spriteSourceSize</key>
                <string>{34,72}</string>
                <key>textureRect</key>
                <string>{{146,381},{34,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{59,1},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,72}</string>
                <key>spriteSourceSize</key>
                <string>{51,72}</string>
                <key>textureRect</key>
                <string>{{1,229},{51,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,72}</string>
                <key>spriteSourceSize</key>
                <string>{53,72}</string>
                <key>textureRect</key>
                <string>{{1,77},{53,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,72}</string>
                <key>spriteSourceSize</key>
                <string>{51,72}</string>
                <key>textureRect</key>
                <string>{{1,305},{51,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,72}</string>
                <key>spriteSourceSize</key>
                <string>{51,72}</string>
                <key>textureRect</key>
                <string>{{1,381},{51,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{58,77},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,72}</string>
                <key>textureRect</key>
                <string>{{56,229},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{44,72}</string>
                <key>textureRect</key>
                <string>{{56,381},{44,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,72}</string>
                <key>spriteSourceSize</key>
                <string>{22,72}</string>
                <key>textureRect</key>
                <string>{{109,77},{22,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,72}</string>
                <key>spriteSourceSize</key>
                <string>{30,72}</string>
                <key>textureRect</key>
                <string>{{109,1},{30,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,72}</string>
                <key>spriteSourceSize</key>
                <string>{37,72}</string>
                <key>textureRect</key>
                <string>{{106,305},{37,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{56,305},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,72}</string>
                <key>spriteSourceSize</key>
                <string>{38,72}</string>
                <key>textureRect</key>
                <string>{{104,381},{38,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{57,153},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{193,273},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{324,121},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{280,1},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{227,61},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{160,137},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{202,197},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{235,1},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{214,438},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{143,1},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{184,378},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,56}</string>
                <key>spriteSourceSize</key>
                <string>{21,56}</string>
                <key>textureRect</key>
                <string>{{255,438},{21,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,56}</string>
                <key>spriteSourceSize</key>
                <string>{27,56}</string>
                <key>textureRect</key>
                <string>{{345,61},{27,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{291,181},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{248,181},{39,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{313,61},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{109,153},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus_world_valentines-c705f0107c.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>bonus_world_valentines-c705f0107c.png</string>
        </dict>
    </dict>
</plist>
