<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wysiwyg-admin-delete_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{473,138},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-level_frame_regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,73}</string>
                <key>spriteSourceSize</key>
                <string>{84,73}</string>
                <key>textureRect</key>
                <string>{{401,35},{84,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{225,95},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-regular_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,30}</string>
                <key>textureRect</key>
                <string>{{287,1},{110,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-regular_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,30}</string>
                <key>textureRect</key>
                <string>{{401,1},{110,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-selected_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,30}</string>
                <key>textureRect</key>
                <string>{{287,35},{110,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-attach_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{392,112},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{489,88},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_icons-admin_push.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{480,399},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_icons-admin_rev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{213,275},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{213,209},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{213,242},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-clip_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{473,125},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{149,95},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,90}</string>
                <key>spriteSourceSize</key>
                <string>{134,90}</string>
                <key>textureRect</key>
                <string>{{149,1},{134,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,9}</string>
                <key>spriteSourceSize</key>
                <string>{12,9}</string>
                <key>textureRect</key>
                <string>{{473,112},{12,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_item_hidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{373,151},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{149,171},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsbug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{259,153},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscontrolspanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{323,164},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscounter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{149,235},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscurrent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{246,217},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsenergyfeast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{387,193},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsexclamations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{451,207},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsfield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{310,228},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsfireworks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{246,281},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{374,257},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{310,292},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{438,271},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshintbooster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{374,321},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsinfopanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{438,335},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adskeypad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,296},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adslogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{65,296},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmap2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{129,299},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{224,345},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmenubar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{288,356},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{352,385},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsprogressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{416,399},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adspuzzle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,360},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsscale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{65,360},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsshadowlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{129,363},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsshuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{193,409},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssidebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{257,420},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{321,449},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsspine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,424},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{65,424},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{129,427},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{193,473},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstransition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{257,484},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,488},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adswordslist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{65,488},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adswordsresult.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{129,491},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{489,59},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{489,110},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-directory_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,11}</string>
                <key>spriteSourceSize</key>
                <string>{15,11}</string>
                <key>textureRect</key>
                <string>{{373,136},{15,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,3}</string>
                <key>spriteSourceSize</key>
                <string>{7,3}</string>
                <key>textureRect</key>
                <string>{{271,95},{7,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-fullscreen_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{473,173},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-iphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,291}</string>
                <key>spriteSourceSize</key>
                <string>{144,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-iphone_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{225,141},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-move_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{193,306},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-move_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{480,399},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-paste.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{373,110},{15,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{373,69},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-preview_control.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{373,91},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-preview_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{489,35},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-scenario_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{271,102},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-sound_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{193,337},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-video_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{213,175},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-window_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{287,69},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wysiwyg-938bb3d152.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>wysiwyg-938bb3d152.png</string>
        </dict>
    </dict>
</plist>
