<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_title-substrate-ananas_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{32,52}</string>
                <key>textureRect</key>
                <string>{{991,342},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-autumn_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,115}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{856,1004},{126,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-black_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{983,754},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blackpurple_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,87}</string>
                <key>spriteSourceSize</key>
                <string>{77,87}</string>
                <key>textureRect</key>
                <string>{{901,823},{77,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blackpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{445,920},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueblue_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{906,534},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueorange_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{901,632},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-blueorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{988,534},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-brown_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,38}</string>
                <key>spriteSourceSize</key>
                <string>{44,38}</string>
                <key>textureRect</key>
                <string>{{900,1242},{44,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-cheese_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,37}</string>
                <key>spriteSourceSize</key>
                <string>{53,37}</string>
                <key>textureRect</key>
                <string>{{839,655},{53,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-cherry_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{575,1234},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-coin_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{575,1125},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-coin_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,47}</string>
                <key>spriteSourceSize</key>
                <string>{69,47}</string>
                <key>textureRect</key>
                <string>{{506,640},{69,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-dark_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,53}</string>
                <key>spriteSourceSize</key>
                <string>{195,53}</string>
                <key>textureRect</key>
                <string>{{445,1068},{195,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkpurple_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,86}</string>
                <key>spriteSourceSize</key>
                <string>{77,86}</string>
                <key>textureRect</key>
                <string>{{901,914},{77,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{988,579},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkred_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,89}</string>
                <key>spriteSourceSize</key>
                <string>{78,89}</string>
                <key>textureRect</key>
                <string>{{901,730},{78,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-darkred_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{988,621},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-feather_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,25}</string>
                <key>spriteSourceSize</key>
                <string>{77,25}</string>
                <key>textureRect</key>
                <string>{{900,1284},{77,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-fleid_frame_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,71}</string>
                <key>spriteSourceSize</key>
                <string>{82,71}</string>
                <key>textureRect</key>
                <string>{{906,267},{82,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-halloween_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{906,180},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-hexagreen_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{906,441},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-letter_keypad_bg_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,95}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{906,342},{81,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-light_grey_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{839,596},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-merge_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,260}</string>
                <key>spriteSourceSize</key>
                <string>{391,260}</string>
                <key>textureRect</key>
                <string>{{506,696},{391,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-merge_logo_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,276}</string>
                <key>spriteSourceSize</key>
                <string>{501,276}</string>
                <key>textureRect</key>
                <string>{{1,640},{501,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-mini_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{906,87},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-mini_bg_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{575,1194},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-newyork_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,115}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{445,1125},{126,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-orange_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{982,871},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-picture_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,264}</string>
                <key>spriteSourceSize</key>
                <string>{262,264}</string>
                <key>textureRect</key>
                <string>{{640,1},{262,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-picture_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,264}</string>
                <key>spriteSourceSize</key>
                <string>{262,264}</string>
                <key>textureRect</key>
                <string>{{640,269},{262,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pink_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,53}</string>
                <key>spriteSourceSize</key>
                <string>{38,53}</string>
                <key>textureRect</key>
                <string>{{983,814},{38,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pinkblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{983,663},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pinup_dance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,101}</string>
                <key>spriteSourceSize</key>
                <string>{407,101}</string>
                <key>textureRect</key>
                <string>{{445,963},{407,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-pyramid_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{949,1207},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,635}</string>
                <key>spriteSourceSize</key>
                <string>{635,635}</string>
                <key>textureRect</key>
                <string>{{1,1},{635,635}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-ribbon_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,74}</string>
                <key>spriteSourceSize</key>
                <string>{195,74}</string>
                <key>textureRect</key>
                <string>{{640,537},{195,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seabeach_starfish_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{773,1162},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seabeach_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{125,101}</string>
                <key>textureRect</key>
                <string>{{644,1162},{125,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-seashell_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{983,709},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-shanghai_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,115}</string>
                <key>spriteSourceSize</key>
                <string>{126,115}</string>
                <key>textureRect</key>
                <string>{{819,1123},{126,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-table_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,439}</string>
                <key>spriteSourceSize</key>
                <string>{440,439}</string>
                <key>textureRect</key>
                <string>{{1,920},{440,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,82}</string>
                <key>spriteSourceSize</key>
                <string>{98,82}</string>
                <key>textureRect</key>
                <string>{{906,1},{98,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,80}</string>
                <key>spriteSourceSize</key>
                <string>{71,80}</string>
                <key>textureRect</key>
                <string>{{949,1123},{71,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-text_bg_green_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{60,55}</string>
                <key>textureRect</key>
                <string>{{839,537},{60,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-transparent_black_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,100}</string>
                <key>spriteSourceSize</key>
                <string>{123,100}</string>
                <key>textureRect</key>
                <string>{{773,1242},{123,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-transparent_white_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{125,101}</string>
                <key>textureRect</key>
                <string>{{445,1244},{125,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-violet_flower_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{579,640},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-wood_counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,90}</string>
                <key>spriteSourceSize</key>
                <string>{171,90}</string>
                <key>textureRect</key>
                <string>{{644,1068},{171,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_title-substrate-wood_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,74}</string>
                <key>spriteSourceSize</key>
                <string>{195,74}</string>
                <key>textureRect</key>
                <string>{{640,615},{195,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_title-cefbaed11b.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>ads_title-cefbaed11b.png</string>
        </dict>
    </dict>
</plist>
