<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blink_promo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1125,682},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-10hearticon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{1986,82},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-11clubsicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1283,666},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-12spadesicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{49,54}</string>
                <key>textureRect</key>
                <string>{{1076,1981},{49,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-13diamondsicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{1366,86},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-14bombicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,59}</string>
                <key>spriteSourceSize</key>
                <string>{47,59}</string>
                <key>textureRect</key>
                <string>{{813,1981},{47,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-15lockicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,55}</string>
                <key>spriteSourceSize</key>
                <string>{41,55}</string>
                <key>textureRect</key>
                <string>{{1031,1981},{41,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-16jeverlyicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{864,1981},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-17cherryicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,53}</string>
                <key>spriteSourceSize</key>
                <string>{39,53}</string>
                <key>textureRect</key>
                <string>{{1181,610},{39,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-18dollarsicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{977,1981},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-19coinicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{1366,142},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-1cristall_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{1986,139},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-20dollarcoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,68}</string>
                <key>spriteSourceSize</key>
                <string>{31,68}</string>
                <key>textureRect</key>
                <string>{{1186,153},{31,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-21staricon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{1283,610},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-22glassesicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,77}</string>
                <key>spriteSourceSize</key>
                <string>{56,77}</string>
                <key>textureRect</key>
                <string>{{1986,1},{56,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-2chesticon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{1224,610},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-3cubokicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,61}</string>
                <key>spriteSourceSize</key>
                <string>{65,61}</string>
                <key>textureRect</key>
                <string>{{616,1981},{65,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-4cubikicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{921,1981},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-5giftbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{1125,610},{52,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-6clipsgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{750,1981},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-7jokericon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{1224,666},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-8magniticon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,52}</string>
                <key>spriteSourceSize</key>
                <string>{55,52}</string>
                <key>textureRect</key>
                <string>{{1251,722},{55,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-9bowicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,53}</string>
                <key>spriteSourceSize</key>
                <string>{65,53}</string>
                <key>textureRect</key>
                <string>{{1129,1981},{65,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-table_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,617}</string>
                <key>spriteSourceSize</key>
                <string>{611,617}</string>
                <key>textureRect</key>
                <string>{{1,1421},{611,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1084,1303},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,82}</string>
                <key>spriteSourceSize</key>
                <string>{53,82}</string>
                <key>textureRect</key>
                <string>{{1354,1289},{53,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{1228,1},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,83}</string>
                <key>spriteSourceSize</key>
                <string>{57,83}</string>
                <key>textureRect</key>
                <string>{{792,1330},{57,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,81}</string>
                <key>spriteSourceSize</key>
                <string>{63,81}</string>
                <key>textureRect</key>
                <string>{{1294,1},{63,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{1294,1289},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,86}</string>
                <key>spriteSourceSize</key>
                <string>{59,86}</string>
                <key>textureRect</key>
                <string>{{667,1330},{59,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{57,81}</string>
                <key>textureRect</key>
                <string>{{1125,153},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{58,86}</string>
                <key>textureRect</key>
                <string>{{730,1330},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{667,958},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{667,1144},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{854,958},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{854,1144},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{751,1},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{751,187},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{751,373},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{751,559},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{877,745},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,669}</string>
                <key>spriteSourceSize</key>
                <string>{662,669}</string>
                <key>textureRect</key>
                <string>{{1,748},{662,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,556}</string>
                <key>spriteSourceSize</key>
                <string>{559,556}</string>
                <key>textureRect</key>
                <string>{{616,1421},{559,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-piece.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{667,748},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,82}</string>
                <key>spriteSourceSize</key>
                <string>{53,82}</string>
                <key>textureRect</key>
                <string>{{1354,1289},{53,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{970,1330},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,82}</string>
                <key>spriteSourceSize</key>
                <string>{102,82}</string>
                <key>textureRect</key>
                <string>{{938,87},{102,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{1180,1303},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,82}</string>
                <key>spriteSourceSize</key>
                <string>{109,82}</string>
                <key>textureRect</key>
                <string>{{1312,1957},{109,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,82}</string>
                <key>spriteSourceSize</key>
                <string>{113,82}</string>
                <key>textureRect</key>
                <string>{{853,1330},{113,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,82}</string>
                <key>spriteSourceSize</key>
                <string>{109,82}</string>
                <key>textureRect</key>
                <string>{{938,1},{109,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{1198,1957},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{1228,1},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,83}</string>
                <key>spriteSourceSize</key>
                <string>{57,83}</string>
                <key>textureRect</key>
                <string>{{792,1330},{57,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,81}</string>
                <key>spriteSourceSize</key>
                <string>{63,81}</string>
                <key>textureRect</key>
                <string>{{1294,1},{63,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{1294,1289},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,86}</string>
                <key>spriteSourceSize</key>
                <string>{59,86}</string>
                <key>textureRect</key>
                <string>{{667,1330},{59,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{57,81}</string>
                <key>textureRect</key>
                <string>{{1125,153},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{58,86}</string>
                <key>textureRect</key>
                <string>{{730,1330},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{55,81}</string>
                <key>textureRect</key>
                <string>{{1366,1},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1041,931},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1041,1117},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1179,1399},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1179,1585},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1179,1771},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1425,1},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{938,173},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{938,359},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{938,545},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1064,731},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1228,917},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1228,1103},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1612,1},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1799,1},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1125,238},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,182}</string>
                <key>spriteSourceSize</key>
                <string>{183,182}</string>
                <key>textureRect</key>
                <string>{{1125,424},{183,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{746,743}</string>
                <key>spriteSourceSize</key>
                <string>{746,743}</string>
                <key>textureRect</key>
                <string>{{1,1},{746,743}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-static-connect_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,36}</string>
                <key>spriteSourceSize</key>
                <string>{49,36}</string>
                <key>textureRect</key>
                <string>{{1171,682},{49,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-static-detach_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1228,87},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-static-unit_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,59}</string>
                <key>spriteSourceSize</key>
                <string>{61,59}</string>
                <key>textureRect</key>
                <string>{{685,1981},{61,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sparkle_promo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{152,148}</string>
                <key>textureRect</key>
                <string>{{1064,1},{152,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puzzle15-1785ee0802.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>puzzle15-1785ee0802.png</string>
        </dict>
    </dict>
</plist>
