<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jiazigu10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10001</key>
			<dict>
				<key>frame</key>
				<string>{{250,0},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10002</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10003</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10005</key>
			<dict>
				<key>frame</key>
				<string>{{250,175},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10006</key>
			<dict>
				<key>frame</key>
				<string>{{500,175},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10007</key>
			<dict>
				<key>frame</key>
				<string>{{750,175},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10009</key>
			<dict>
				<key>frame</key>
				<string>{{250,350},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10010</key>
			<dict>
				<key>frame</key>
				<string>{{500,350},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10011</key>
			<dict>
				<key>frame</key>
				<string>{{750,350},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,525},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10013</key>
			<dict>
				<key>frame</key>
				<string>{{250,525},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10014</key>
			<dict>
				<key>frame</key>
				<string>{{500,525},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10015</key>
			<dict>
				<key>frame</key>
				<string>{{750,525},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10017</key>
			<dict>
				<key>frame</key>
				<string>{{250,700},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10018</key>
			<dict>
				<key>frame</key>
				<string>{{500,700},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10019</key>
			<dict>
				<key>frame</key>
				<string>{{750,700},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,875},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10021</key>
			<dict>
				<key>frame</key>
				<string>{{250,875},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10022</key>
			<dict>
				<key>frame</key>
				<string>{{500,875},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10023</key>
			<dict>
				<key>frame</key>
				<string>{{750,875},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10025</key>
			<dict>
				<key>frame</key>
				<string>{{250,1050},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10026</key>
			<dict>
				<key>frame</key>
				<string>{{500,1050},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10027</key>
			<dict>
				<key>frame</key>
				<string>{{750,1050},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,1225},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
			<key>jiazigu10029</key>
			<dict>
				<key>frame</key>
				<string>{{250,1225},{250,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,175}}</string>
				<key>sourceSize</key>
				<string>{250,175}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>jiazigu.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>jiazigu.png</string>
		</dict>
	</dict>
</plist>
