<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jinghu10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10001</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10002</key>
			<dict>
				<key>frame</key>
				<string>{{462,0},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10003</key>
			<dict>
				<key>frame</key>
				<string>{{693,0},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10005</key>
			<dict>
				<key>frame</key>
				<string>{{231,184},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10006</key>
			<dict>
				<key>frame</key>
				<string>{{462,184},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10007</key>
			<dict>
				<key>frame</key>
				<string>{{693,184},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10009</key>
			<dict>
				<key>frame</key>
				<string>{{231,368},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10010</key>
			<dict>
				<key>frame</key>
				<string>{{462,368},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10011</key>
			<dict>
				<key>frame</key>
				<string>{{693,368},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,552},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10013</key>
			<dict>
				<key>frame</key>
				<string>{{231,552},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10014</key>
			<dict>
				<key>frame</key>
				<string>{{462,552},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10015</key>
			<dict>
				<key>frame</key>
				<string>{{693,552},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10017</key>
			<dict>
				<key>frame</key>
				<string>{{231,736},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10018</key>
			<dict>
				<key>frame</key>
				<string>{{462,736},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10019</key>
			<dict>
				<key>frame</key>
				<string>{{693,736},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10021</key>
			<dict>
				<key>frame</key>
				<string>{{231,920},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10022</key>
			<dict>
				<key>frame</key>
				<string>{{462,920},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10023</key>
			<dict>
				<key>frame</key>
				<string>{{693,920},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,1104},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10025</key>
			<dict>
				<key>frame</key>
				<string>{{231,1104},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10026</key>
			<dict>
				<key>frame</key>
				<string>{{462,1104},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10027</key>
			<dict>
				<key>frame</key>
				<string>{{693,1104},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,1288},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
			<key>jinghu10029</key>
			<dict>
				<key>frame</key>
				<string>{{231,1288},{231,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,184}}</string>
				<key>sourceSize</key>
				<string>{231,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>jinghu.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>jinghu.png</string>
		</dict>
	</dict>
</plist>
