<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sglfengqin10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10001</key>
			<dict>
				<key>frame</key>
				<string>{{143,0},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10002</key>
			<dict>
				<key>frame</key>
				<string>{{286,0},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10003</key>
			<dict>
				<key>frame</key>
				<string>{{429,0},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10004</key>
			<dict>
				<key>frame</key>
				<string>{{572,0},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10005</key>
			<dict>
				<key>frame</key>
				<string>{{715,0},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10006</key>
			<dict>
				<key>frame</key>
				<string>{{858,0},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10007</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10008</key>
			<dict>
				<key>frame</key>
				<string>{{143,200},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10009</key>
			<dict>
				<key>frame</key>
				<string>{{286,200},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10010</key>
			<dict>
				<key>frame</key>
				<string>{{429,200},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10011</key>
			<dict>
				<key>frame</key>
				<string>{{572,200},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10012</key>
			<dict>
				<key>frame</key>
				<string>{{715,200},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10013</key>
			<dict>
				<key>frame</key>
				<string>{{858,200},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10014</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10015</key>
			<dict>
				<key>frame</key>
				<string>{{143,400},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10016</key>
			<dict>
				<key>frame</key>
				<string>{{286,400},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10017</key>
			<dict>
				<key>frame</key>
				<string>{{429,400},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10018</key>
			<dict>
				<key>frame</key>
				<string>{{572,400},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10019</key>
			<dict>
				<key>frame</key>
				<string>{{715,400},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10020</key>
			<dict>
				<key>frame</key>
				<string>{{858,400},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10021</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10022</key>
			<dict>
				<key>frame</key>
				<string>{{143,600},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10023</key>
			<dict>
				<key>frame</key>
				<string>{{286,600},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10024</key>
			<dict>
				<key>frame</key>
				<string>{{429,600},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10025</key>
			<dict>
				<key>frame</key>
				<string>{{572,600},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10026</key>
			<dict>
				<key>frame</key>
				<string>{{715,600},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10027</key>
			<dict>
				<key>frame</key>
				<string>{{858,600},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
			<key>sglfengqin10029</key>
			<dict>
				<key>frame</key>
				<string>{{143,800},{143,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,200}}</string>
				<key>sourceSize</key>
				<string>{143,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sglfengqin.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sglfengqin.png</string>
		</dict>
	</dict>
</plist>
