<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xiaohao10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10001</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10002</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10003</key>
			<dict>
				<key>frame</key>
				<string>{{483,0},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10004</key>
			<dict>
				<key>frame</key>
				<string>{{644,0},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10005</key>
			<dict>
				<key>frame</key>
				<string>{{805,0},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10006</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10007</key>
			<dict>
				<key>frame</key>
				<string>{{161,201},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10008</key>
			<dict>
				<key>frame</key>
				<string>{{322,201},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10009</key>
			<dict>
				<key>frame</key>
				<string>{{483,201},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10010</key>
			<dict>
				<key>frame</key>
				<string>{{644,201},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10011</key>
			<dict>
				<key>frame</key>
				<string>{{805,201},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10013</key>
			<dict>
				<key>frame</key>
				<string>{{161,402},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10014</key>
			<dict>
				<key>frame</key>
				<string>{{322,402},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10015</key>
			<dict>
				<key>frame</key>
				<string>{{483,402},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10016</key>
			<dict>
				<key>frame</key>
				<string>{{644,402},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10017</key>
			<dict>
				<key>frame</key>
				<string>{{805,402},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10018</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10019</key>
			<dict>
				<key>frame</key>
				<string>{{161,603},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10020</key>
			<dict>
				<key>frame</key>
				<string>{{322,603},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10021</key>
			<dict>
				<key>frame</key>
				<string>{{483,603},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10022</key>
			<dict>
				<key>frame</key>
				<string>{{644,603},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10023</key>
			<dict>
				<key>frame</key>
				<string>{{805,603},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10025</key>
			<dict>
				<key>frame</key>
				<string>{{161,804},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10026</key>
			<dict>
				<key>frame</key>
				<string>{{322,804},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10027</key>
			<dict>
				<key>frame</key>
				<string>{{483,804},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10028</key>
			<dict>
				<key>frame</key>
				<string>{{644,804},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
			<key>xiaohao10029</key>
			<dict>
				<key>frame</key>
				<string>{{805,804},{161,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,201}}</string>
				<key>sourceSize</key>
				<string>{161,201}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>xiaohao.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>xiaohao.png</string>
		</dict>
	</dict>
</plist>
