<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhudi10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10001</key>
			<dict>
				<key>frame</key>
				<string>{{144,0},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10002</key>
			<dict>
				<key>frame</key>
				<string>{{288,0},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10003</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10004</key>
			<dict>
				<key>frame</key>
				<string>{{576,0},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10005</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10006</key>
			<dict>
				<key>frame</key>
				<string>{{864,0},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10007</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10008</key>
			<dict>
				<key>frame</key>
				<string>{{144,199},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10009</key>
			<dict>
				<key>frame</key>
				<string>{{288,199},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10010</key>
			<dict>
				<key>frame</key>
				<string>{{432,199},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10011</key>
			<dict>
				<key>frame</key>
				<string>{{576,199},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10012</key>
			<dict>
				<key>frame</key>
				<string>{{720,199},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10013</key>
			<dict>
				<key>frame</key>
				<string>{{864,199},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10014</key>
			<dict>
				<key>frame</key>
				<string>{{0,398},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10015</key>
			<dict>
				<key>frame</key>
				<string>{{144,398},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10016</key>
			<dict>
				<key>frame</key>
				<string>{{288,398},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10017</key>
			<dict>
				<key>frame</key>
				<string>{{432,398},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10018</key>
			<dict>
				<key>frame</key>
				<string>{{576,398},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10019</key>
			<dict>
				<key>frame</key>
				<string>{{720,398},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10020</key>
			<dict>
				<key>frame</key>
				<string>{{864,398},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10021</key>
			<dict>
				<key>frame</key>
				<string>{{0,597},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10022</key>
			<dict>
				<key>frame</key>
				<string>{{144,597},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10023</key>
			<dict>
				<key>frame</key>
				<string>{{288,597},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10024</key>
			<dict>
				<key>frame</key>
				<string>{{432,597},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10025</key>
			<dict>
				<key>frame</key>
				<string>{{576,597},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10026</key>
			<dict>
				<key>frame</key>
				<string>{{720,597},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10027</key>
			<dict>
				<key>frame</key>
				<string>{{864,597},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,796},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
			<key>zhudi10029</key>
			<dict>
				<key>frame</key>
				<string>{{144,796},{144,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,199}}</string>
				<key>sourceSize</key>
				<string>{144,199}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>zhudi.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>zhudi.png</string>
		</dict>
	</dict>
</plist>
