<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mailwindow-mail-icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{80,1},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailwindow-mail-info_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,391}</string>
                <key>spriteSourceSize</key>
                <string>{75,391}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailwindow-mail-list_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{80,339},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailwindow-mail-list_item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{80,151},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailwindow-mail-list_item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{80,198},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailwindow-mail-mail_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{80,245},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailwindow-mail-mail_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{80,292},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailwindow-mail-mail_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{80,108},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mailwindow-mail-red_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,52}</string>
                <key>spriteSourceSize</key>
                <string>{43,52}</string>
                <key>textureRect</key>
                <string>{{80,52},{43,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mailwindow-74a1deb843.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>textureFileName</key>
            <string>mailwindow-74a1deb843.png</string>
        </dict>
    </dict>
</plist>
