<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starter_pack-packwindow-background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,567}</string>
                <key>spriteSourceSize</key>
                <string>{799,567}</string>
                <key>textureRect</key>
                <string>{{1,1},{799,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-packwindow-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{804,479},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-packwindow-button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{1,642},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-packwindow-item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{295,751},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-packwindow-item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{295,834},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-packwindow-item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{383,751},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-packwindow-item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{383,834},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-packwindow-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,15}</string>
                <key>spriteSourceSize</key>
                <string>{82,15}</string>
                <key>textureRect</key>
                <string>{{1,572},{82,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-packwindow-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,91}</string>
                <key>spriteSourceSize</key>
                <string>{398,91}</string>
                <key>textureRect</key>
                <string>{{160,932},{398,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,123}</string>
                <key>spriteSourceSize</key>
                <string>{131,123}</string>
                <key>textureRect</key>
                <string>{{160,805},{131,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1,805},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,214}</string>
                <key>spriteSourceSize</key>
                <string>{201,214}</string>
                <key>textureRect</key>
                <string>{{804,1},{201,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-price.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,74}</string>
                <key>spriteSourceSize</key>
                <string>{161,74}</string>
                <key>textureRect</key>
                <string>{{804,401},{161,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,178}</string>
                <key>spriteSourceSize</key>
                <string>{198,178}</string>
                <key>textureRect</key>
                <string>{{804,219},{198,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,106}</string>
                <key>spriteSourceSize</key>
                <string>{114,106}</string>
                <key>textureRect</key>
                <string>{{164,642},{114,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starter_pack-rewards-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,105}</string>
                <key>spriteSourceSize</key>
                <string>{119,105}</string>
                <key>textureRect</key>
                <string>{{282,642},{119,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>starter_pack-8950bd0e2e.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>starter_pack-8950bd0e2e.png</string>
        </dict>
    </dict>
</plist>
