<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wysiwyg-admin-delete_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{200,44},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-level_frame_regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,68}</string>
                <key>spriteSourceSize</key>
                <string>{79,68}</string>
                <key>textureRect</key>
                <string>{{81,366},{79,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{200,1},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-regular_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,28}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{140,241},{103,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-regular_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,28}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{257,482},{103,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-admin-selected_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,28}</string>
                <key>spriteSourceSize</key>
                <string>{103,28}</string>
                <key>textureRect</key>
                <string>{{200,201},{103,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-attach_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{121,438},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{329,181},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_icons-admin_push.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{295,325},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_icons-admin_rev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{201,333},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{200,77},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{200,109},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-checkbox_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{148,349},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-checkbox_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{163,349},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-clip_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{179,424},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{130,278},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,84}</string>
                <key>spriteSourceSize</key>
                <string>{125,84}</string>
                <key>textureRect</key>
                <string>{{1,278},{125,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,8}</string>
                <key>spriteSourceSize</key>
                <string>{11,8}</string>
                <key>textureRect</key>
                <string>{{164,424},{11,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-component_item_hidden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{191,424},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,445},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsbug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{61,445},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscontainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{164,364},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscontrolspanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{197,436},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscounter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{140,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adscurrent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{140,61},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsenergyfeast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{140,121},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsexclamations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{140,181},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsfield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{201,273},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsfireworks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{224,362},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{257,422},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{247,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{233,61},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adshintbooster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{200,141},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsinfopanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{261,265},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adskeypad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{284,357},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adslogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{317,417},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmap2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{260,121},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{293,61},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsmenubar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{307,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{320,121},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsprogressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{353,61},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adspuzzle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{367,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsquestionnaire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{321,257},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsscale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{351,181},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsscroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{380,121},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsshadowlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{413,61},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsshuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{427,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssidebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{344,317},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{381,241},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adsspine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{411,181},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adssprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{440,121},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{377,377},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{404,301},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstransition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{441,241},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adstree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{393,437},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adswordslist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{437,361},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-components-adswordsresult.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{453,421},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{307,181},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{329,232},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-directory_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,10}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{130,349},{14,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,3}</string>
                <key>spriteSourceSize</key>
                <string>{6,3}</string>
                <key>textureRect</key>
                <string>{{1,505},{6,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{232,121},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-fullscreen_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{247,233},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-iphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,273}</string>
                <key>spriteSourceSize</key>
                <string>{135,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-iphone_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{279,233},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-move_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{233,333},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-move_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{295,325},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-paste.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,21}</string>
                <key>spriteSourceSize</key>
                <string>{14,21}</string>
                <key>textureRect</key>
                <string>{{311,232},{14,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{330,202},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-preview_control.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{197,496},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-preview_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{307,209},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-scenario_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{178,349},{6,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-sound_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{364,477},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-video_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{263,325},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wysiwyg-window_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{1,366},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wysiwyg-31da0fdefe.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>wysiwyg-31da0fdefe.png</string>
        </dict>
    </dict>
</plist>
