<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile_shop-banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,62}</string>
                <key>spriteSourceSize</key>
                <string>{197,62}</string>
                <key>textureRect</key>
                <string>{{657,1},{197,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-energy_for_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,118}</string>
                <key>spriteSourceSize</key>
                <string>{134,118}</string>
                <key>textureRect</key>
                <string>{{283,190},{134,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-energy_for_coins_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,118}</string>
                <key>spriteSourceSize</key>
                <string>{134,118}</string>
                <key>textureRect</key>
                <string>{{144,199},{134,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-energy_for_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,122}</string>
                <key>spriteSourceSize</key>
                <string>{139,122}</string>
                <key>textureRect</key>
                <string>{{1,83},{139,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-energy_for_share_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,122}</string>
                <key>spriteSourceSize</key>
                <string>{139,122}</string>
                <key>textureRect</key>
                <string>{{1,83},{139,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-energy_for_video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,112}</string>
                <key>spriteSourceSize</key>
                <string>{132,112}</string>
                <key>textureRect</key>
                <string>{{139,321},{132,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-energy_for_video_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,112}</string>
                <key>spriteSourceSize</key>
                <string>{132,112}</string>
                <key>textureRect</key>
                <string>{{1,331},{132,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-energy_lottery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,118}</string>
                <key>spriteSourceSize</key>
                <string>{134,118}</string>
                <key>textureRect</key>
                <string>{{1,209},{134,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-energy_lottery_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,118}</string>
                <key>spriteSourceSize</key>
                <string>{134,118}</string>
                <key>textureRect</key>
                <string>{{282,312},{134,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-infinity_bag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,98}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{275,434},{105,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-infinity_bag2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,98}</string>
                <key>spriteSourceSize</key>
                <string>{105,98}</string>
                <key>textureRect</key>
                <string>{{137,437},{105,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-infoview-game_ui_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{834,67},{15,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{769,419},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-coin_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{814,290},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-coin_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{531,511},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{531,457},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-energy_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{814,391},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{709,459},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-infinity_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,26}</string>
                <key>spriteSourceSize</key>
                <string>{49,26}</string>
                <key>textureRect</key>
                <string>{{585,457},{49,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-island_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{826,110},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-island_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{826,170},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-island_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{826,230},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-island_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{814,331},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,17}</string>
                <key>spriteSourceSize</key>
                <string>{93,17}</string>
                <key>textureRect</key>
                <string>{{553,337},{93,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{649,406},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-ruby_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{585,487},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-ruby_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{638,466},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{764,475},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{709,406},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-rewards-badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,49}</string>
                <key>spriteSourceSize</key>
                <string>{67,49}</string>
                <key>textureRect</key>
                <string>{{1,447},{67,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_best_seller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,72}</string>
                <key>spriteSourceSize</key>
                <string>{156,72}</string>
                <key>textureRect</key>
                <string>{{856,168},{156,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_bg_best.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,332}</string>
                <key>spriteSourceSize</key>
                <string>{202,332}</string>
                <key>textureRect</key>
                <string>{{451,1},{202,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_bg_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,332}</string>
                <key>spriteSourceSize</key>
                <string>{202,332}</string>
                <key>textureRect</key>
                <string>{{451,1},{202,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_1800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,103}</string>
                <key>spriteSourceSize</key>
                <string>{135,103}</string>
                <key>textureRect</key>
                <string>{{283,83},{135,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_25000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,125}</string>
                <key>spriteSourceSize</key>
                <string>{153,125}</string>
                <key>textureRect</key>
                <string>{{657,277},{153,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_3800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,125}</string>
                <key>spriteSourceSize</key>
                <string>{151,125}</string>
                <key>textureRect</key>
                <string>{{856,244},{151,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,91}</string>
                <key>spriteSourceSize</key>
                <string>{129,91}</string>
                <key>textureRect</key>
                <string>{{420,337},{129,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_6000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,112}</string>
                <key>spriteSourceSize</key>
                <string>{135,112}</string>
                <key>textureRect</key>
                <string>{{144,83},{135,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,163}</string>
                <key>spriteSourceSize</key>
                <string>{165,163}</string>
                <key>textureRect</key>
                <string>{{858,1},{165,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_purple_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{1,500},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_red_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{72,447},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-soft_currency_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,163}</string>
                <key>spriteSourceSize</key>
                <string>{165,163}</string>
                <key>textureRect</key>
                <string>{{657,110},{165,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-soft_currency_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,97}</string>
                <key>spriteSourceSize</key>
                <string>{107,97}</string>
                <key>textureRect</key>
                <string>{{420,432},{107,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-soft_currency_medium.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{553,358},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-soft_currency_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{59,43}</string>
                <key>textureRect</key>
                <string>{{69,509},{59,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,39}</string>
                <key>spriteSourceSize</key>
                <string>{173,39}</string>
                <key>textureRect</key>
                <string>{{657,67},{173,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,78}</string>
                <key>spriteSourceSize</key>
                <string>{446,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,103}</string>
                <key>spriteSourceSize</key>
                <string>{149,103}</string>
                <key>textureRect</key>
                <string>{{844,373},{149,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tile_shop-ec4bc7a57e.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>tile_shop-ec4bc7a57e.png</string>
        </dict>
    </dict>
</plist>
