<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,372}</string>
                <key>spriteSourceSize</key>
                <string>{372,372}</string>
                <key>textureRect</key>
                <string>{{1,581},{372,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,60}</string>
                <key>spriteSourceSize</key>
                <string>{242,60}</string>
                <key>textureRect</key>
                <string>{{1,957},{242,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_up_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,67}</string>
                <key>spriteSourceSize</key>
                <string>{252,67}</string>
                <key>textureRect</key>
                <string>{{1,492},{252,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{931,1},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{931,117},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{931,233},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{899,349},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{899,465},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{377,492},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{749,540},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{838,581},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{749,656},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{927,581},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,23}</string>
                <key>spriteSourceSize</key>
                <string>{10,23}</string>
                <key>textureRect</key>
                <string>{{917,187},{10,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,23}</string>
                <key>spriteSourceSize</key>
                <string>{12,23}</string>
                <key>textureRect</key>
                <string>{{899,214},{12,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{899,187},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{899,160},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,23}</string>
                <key>spriteSourceSize</key>
                <string>{12,23}</string>
                <key>textureRect</key>
                <string>{{915,214},{12,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelupwindow-goldFont-200pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{899,132},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,487}</string>
                <key>spriteSourceSize</key>
                <string>{486,487}</string>
                <key>textureRect</key>
                <string>{{1,1},{486,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,404}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{491,132},{404,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,179}</string>
                <key>spriteSourceSize</key>
                <string>{164,179}</string>
                <key>textureRect</key>
                <string>{{581,540},{164,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silk_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,127}</string>
                <key>spriteSourceSize</key>
                <string>{436,127}</string>
                <key>textureRect</key>
                <string>{{491,1},{436,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,90}</string>
                <key>spriteSourceSize</key>
                <string>{85,90}</string>
                <key>textureRect</key>
                <string>{{377,924},{85,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,312}</string>
                <key>spriteSourceSize</key>
                <string>{200,312}</string>
                <key>textureRect</key>
                <string>{{377,608},{200,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>levelupwindow-0c4c6320b1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>levelupwindow-0c4c6320b1.png</string>
        </dict>
    </dict>
</plist>
