<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat-button_accept.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{101,149},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-button_accept_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{101,185},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-checkmark_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,15}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{80,242},{17,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-checkmark_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,15}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{80,261},{17,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-checkmark_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,15}</string>
                <key>spriteSourceSize</key>
                <string>{23,15}</string>
                <key>textureRect</key>
                <string>{{219,224},{23,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-checkmark_yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{101,221},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-dialog_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{144,131},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-dialog_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{1,149},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-gift_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{143,224},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1,326},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-no_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{101,257},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-no_button_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{1,459},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-panel_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{80,293},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-panel_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1,398},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-paneldown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,144}</string>
                <key>spriteSourceSize</key>
                <string>{139,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-panelup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,80}</string>
                <key>spriteSourceSize</key>
                <string>{75,80}</string>
                <key>textureRect</key>
                <string>{{1,242},{75,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat-textbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,126}</string>
                <key>spriteSourceSize</key>
                <string>{97,126}</string>
                <key>textureRect</key>
                <string>{{144,1},{97,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat-9cc19994c6.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>chat-9cc19994c6.png</string>
        </dict>
    </dict>
</plist>
