<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_pass-batlepass_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,81}</string>
                <key>spriteSourceSize</key>
                <string>{19,81}</string>
                <key>textureRect</key>
                <string>{{491,24},{19,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-blik_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,226}</string>
                <key>spriteSourceSize</key>
                <string>{243,226}</string>
                <key>textureRect</key>
                <string>{{1,311},{243,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,37}</string>
                <key>spriteSourceSize</key>
                <string>{48,37}</string>
                <key>textureRect</key>
                <string>{{427,608},{48,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{96,80}</string>
                <key>textureRect</key>
                <string>{{1,899},{96,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar_scala.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,79}</string>
                <key>spriteSourceSize</key>
                <string>{24,79}</string>
                <key>textureRect</key>
                <string>{{469,263},{24,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{469,230},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-gradient_goldpass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,440}</string>
                <key>spriteSourceSize</key>
                <string>{54,440}</string>
                <key>textureRect</key>
                <string>{{248,341},{54,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-guide_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{306,695},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-guide_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{408,695},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-icon_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,306}</string>
                <key>spriteSourceSize</key>
                <string>{307,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-icon_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{311,326},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-offer_badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,156}</string>
                <key>spriteSourceSize</key>
                <string>{153,156}</string>
                <key>textureRect</key>
                <string>{{312,166},{153,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-timer_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,98}</string>
                <key>textureRect</key>
                <string>{{1,797},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-timer_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,33}</string>
                <key>spriteSourceSize</key>
                <string>{53,33}</string>
                <key>textureRect</key>
                <string>{{439,419},{53,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-under_bg_goldpass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,117}</string>
                <key>spriteSourceSize</key>
                <string>{17,117}</string>
                <key>textureRect</key>
                <string>{{491,109},{17,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-under_worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,109}</string>
                <key>spriteSourceSize</key>
                <string>{78,109}</string>
                <key>textureRect</key>
                <string>{{429,456},{78,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,161}</string>
                <key>spriteSourceSize</key>
                <string>{175,161}</string>
                <key>textureRect</key>
                <string>{{312,1},{175,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,116}</string>
                <key>spriteSourceSize</key>
                <string>{119,116}</string>
                <key>textureRect</key>
                <string>{{306,455},{119,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,26}</string>
                <key>spriteSourceSize</key>
                <string>{59,26}</string>
                <key>textureRect</key>
                <string>{{248,311},{59,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,116}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{306,575},{117,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_particles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{429,569},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{491,1},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blik_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{439,346},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_pass-4a8b7e987f.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>battle_pass-4a8b7e987f.png</string>
        </dict>
    </dict>
</plist>
