<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_user_gold_view-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{204,286},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{189,255},{11,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,21}</string>
                <key>spriteSourceSize</key>
                <string>{14,21}</string>
                <key>textureRect</key>
                <string>{{85,300},{14,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{71,275},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{47,279},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{1,291},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{21,291},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,21}</string>
                <key>spriteSourceSize</key>
                <string>{14,21}</string>
                <key>textureRect</key>
                <string>{{103,315},{14,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,21}</string>
                <key>spriteSourceSize</key>
                <string>{17,21}</string>
                <key>textureRect</key>
                <string>{{168,255},{17,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{91,275},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{246,118},{9,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{189,280},{11,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{242,158},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{145,287},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{130,275},{11,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,21}</string>
                <key>spriteSourceSize</key>
                <string>{17,21}</string>
                <key>textureRect</key>
                <string>{{168,280},{17,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{133,179},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{164,305},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{80,243},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{158,191},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{183,191},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{208,222},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{233,247},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{48,247},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{81,179},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{81,211},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,28}</string>
                <key>spriteSourceSize</key>
                <string>{11,28}</string>
                <key>textureRect</key>
                <string>{{242,183},{11,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{182,305},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{126,243},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{231,279},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{130,312},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{214,158},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{1,139},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{150,139},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,36}</string>
                <key>spriteSourceSize</key>
                <string>{23,36}</string>
                <key>textureRect</key>
                <string>{{1,179},{23,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{31,139},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{217,78},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{61,139},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{91,139},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{171,151},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{215,118},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,36}</string>
                <key>spriteSourceSize</key>
                <string>{25,36}</string>
                <key>textureRect</key>
                <string>{{121,139},{25,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,36}</string>
                <key>spriteSourceSize</key>
                <string>{11,36}</string>
                <key>textureRect</key>
                <string>{{199,151},{11,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,36}</string>
                <key>spriteSourceSize</key>
                <string>{15,36}</string>
                <key>textureRect</key>
                <string>{{111,275},{15,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,36}</string>
                <key>spriteSourceSize</key>
                <string>{19,36}</string>
                <key>textureRect</key>
                <string>{{25,219},{19,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,36}</string>
                <key>spriteSourceSize</key>
                <string>{23,36}</string>
                <key>textureRect</key>
                <string>{{28,179},{23,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,36}</string>
                <key>spriteSourceSize</key>
                <string>{19,36}</string>
                <key>textureRect</key>
                <string>{{1,251},{19,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{221,38},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{55,215},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{67,300},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{24,259},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{106,211},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{131,211},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{156,223},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{181,223},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{103,243},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{107,179},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{206,254},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,28}</string>
                <key>spriteSourceSize</key>
                <string>{11,28}</string>
                <key>textureRect</key>
                <string>{{242,215},{11,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{41,304},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{147,255},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{1,219},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,28}</string>
                <key>spriteSourceSize</key>
                <string>{14,28}</string>
                <key>textureRect</key>
                <string>{{130,312},{14,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{214,190},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{154,1},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-coin_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{221,1},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{45,65}</string>
                <key>textureRect</key>
                <string>{{123,70},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-energy_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{55,179},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,65}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{79,1},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{172,111},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{41,37}</string>
                <key>textureRect</key>
                <string>{{172,70},{41,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{1,70},{60,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,65}</string>
                <key>spriteSourceSize</key>
                <string>{54,65}</string>
                <key>textureRect</key>
                <string>{{65,70},{54,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop_user_gold_view-7f74e3051e.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>shop_user_gold_view-7f74e3051e.png</string>
        </dict>
    </dict>
</plist>
