<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_finger-fingers-adventure_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{699,1097},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-archer_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,216}</string>
                <key>spriteSourceSize</key>
                <string>{207,216}</string>
                <key>textureRect</key>
                <string>{{805,220},{207,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-armor_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,226}</string>
                <key>spriteSourceSize</key>
                <string>{227,226}</string>
                <key>textureRect</key>
                <string>{{468,907},{227,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-big_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,902}</string>
                <key>spriteSourceSize</key>
                <string>{800,902}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,902}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-blue_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,212}</string>
                <key>spriteSourceSize</key>
                <string>{203,212}</string>
                <key>textureRect</key>
                <string>{{805,440},{203,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-candy_cane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,221}</string>
                <key>spriteSourceSize</key>
                <string>{200,221}</string>
                <key>textureRect</key>
                <string>{{805,872},{200,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-cartoon_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{468,1137},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,222}</string>
                <key>spriteSourceSize</key>
                <string>{190,222}</string>
                <key>textureRect</key>
                <string>{{468,1535},{190,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-hand_halloween.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,222}</string>
                <key>spriteSourceSize</key>
                <string>{190,222}</string>
                <key>textureRect</key>
                <string>{{468,1761},{190,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-hand_with_pen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,763}</string>
                <key>spriteSourceSize</key>
                <string>{463,763}</string>
                <key>textureRect</key>
                <string>{{1,1097},{463,763}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-heroes_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,151}</string>
                <key>spriteSourceSize</key>
                <string>{160,151}</string>
                <key>textureRect</key>
                <string>{{1,1864},{160,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-leather_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,212}</string>
                <key>spriteSourceSize</key>
                <string>{191,212}</string>
                <key>textureRect</key>
                <string>{{672,1495},{191,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-mage_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,215}</string>
                <key>spriteSourceSize</key>
                <string>{208,215}</string>
                <key>textureRect</key>
                <string>{{805,1},{208,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-merge_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,220}</string>
                <key>spriteSourceSize</key>
                <string>{183,220}</string>
                <key>textureRect</key>
                <string>{{662,1711},{183,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-mitten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,187}</string>
                <key>spriteSourceSize</key>
                <string>{170,187}</string>
                <key>textureRect</key>
                <string>{{849,1711},{170,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-realistic_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{672,1296},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-riddles_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{468,1336},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-yellow_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,212}</string>
                <key>spriteSourceSize</key>
                <string>{203,212}</string>
                <key>textureRect</key>
                <string>{{805,656},{203,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_finger-a0abeed1ec.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>ads_finger-a0abeed1ec.png</string>
        </dict>
    </dict>
</plist>
