<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_user_gold_view-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{297,471},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{254,335},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{303,103},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{235,195},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{259,149},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{276,103},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{254,230},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{254,265},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{239,471},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{263,184},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,31}</string>
                <key>spriteSourceSize</key>
                <string>{13,31}</string>
                <key>textureRect</key>
                <string>{{279,265},{13,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{275,335},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{254,300},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{287,138},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{277,300},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{268,471},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{105,195},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{210,195},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{222,287},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{187,287},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{124,241},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{151,287},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{187,333},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{222,333},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{151,333},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{209,379},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,42}</string>
                <key>spriteSourceSize</key>
                <string>{16,42}</string>
                <key>textureRect</key>
                <string>{{236,103},{16,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{211,149},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{182,103},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{177,195},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{229,241},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{72,103},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,54}</string>
                <key>spriteSourceSize</key>
                <string>{39,54}</string>
                <key>textureRect</key>
                <string>{{1,439},{39,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,54}</string>
                <key>spriteSourceSize</key>
                <string>{26,54}</string>
                <key>textureRect</key>
                <string>{{121,321},{26,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{66,205},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{44,439},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{1,381},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{45,381},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{46,323},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{86,439},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,54}</string>
                <key>spriteSourceSize</key>
                <string>{41,54}</string>
                <key>textureRect</key>
                <string>{{1,323},{41,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{50,265},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,54}</string>
                <key>spriteSourceSize</key>
                <string>{17,54}</string>
                <key>textureRect</key>
                <string>{{126,379},{17,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,54}</string>
                <key>spriteSourceSize</key>
                <string>{23,54}</string>
                <key>textureRect</key>
                <string>{{125,439},{23,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{92,263},{28,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{87,381},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,54}</string>
                <key>spriteSourceSize</key>
                <string>{29,54}</string>
                <key>textureRect</key>
                <string>{{88,323},{29,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{1,265},{45,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{111,103},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{211,103},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{244,379},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{239,425},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{111,149},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{141,195},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{147,103},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{274,425},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{160,241},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{147,149},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,42}</string>
                <key>spriteSourceSize</key>
                <string>{16,42}</string>
                <key>textureRect</key>
                <string>{{256,103},{16,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{235,149},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{182,149},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{196,241},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{229,241},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{72,149},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{94,98}</string>
                <key>textureRect</key>
                <string>{{227,1},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-coin_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{152,436},{47,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,98}</string>
                <key>spriteSourceSize</key>
                <string>{67,98}</string>
                <key>textureRect</key>
                <string>{{1,103},{67,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-energy_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{203,436},{32,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,98}</string>
                <key>spriteSourceSize</key>
                <string>{111,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,98}</string>
                <key>spriteSourceSize</key>
                <string>{107,98}</string>
                <key>textureRect</key>
                <string>{{116,1},{107,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{147,379},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-ruby_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,56}</string>
                <key>spriteSourceSize</key>
                <string>{61,56}</string>
                <key>textureRect</key>
                <string>{{1,205},{61,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,98}</string>
                <key>spriteSourceSize</key>
                <string>{89,98}</string>
                <key>textureRect</key>
                <string>{{325,1},{89,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_user_gold_view-reward_icons-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{418,1},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop_user_gold_view-7f74e3051e.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>shop_user_gold_view-7f74e3051e.png</string>
        </dict>
    </dict>
</plist>
