<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogues_minimal-dialogues-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,129}</string>
                <key>spriteSourceSize</key>
                <string>{148,129}</string>
                <key>textureRect</key>
                <string>{{61,0},{148,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,135}</string>
                <key>spriteSourceSize</key>
                <string>{155,135}</string>
                <key>textureRect</key>
                <string>{{211,0},{155,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_dwarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{0,137},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_elf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,156}</string>
                <key>spriteSourceSize</key>
                <string>{136,156}</string>
                <key>textureRect</key>
                <string>{{162,137},{136,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,135}</string>
                <key>spriteSourceSize</key>
                <string>{134,135}</string>
                <key>textureRect</key>
                <string>{{300,137},{134,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_rider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,135}</string>
                <key>spriteSourceSize</key>
                <string>{139,135}</string>
                <key>textureRect</key>
                <string>{{0,295},{139,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,139}</string>
                <key>spriteSourceSize</key>
                <string>{128,139}</string>
                <key>textureRect</key>
                <string>{{141,295},{128,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warlock_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,160}</string>
                <key>spriteSourceSize</key>
                <string>{143,160}</string>
                <key>textureRect</key>
                <string>{{271,295},{143,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues_minimal-c9193c9342.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>dialogues_minimal-c9193c9342.png</string>
        </dict>
    </dict>
</plist>
