<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_words_list-words_list-ananas_yellow_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{436,484},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blackblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{102,120}</string>
                <key>textureRect</key>
                <string>{{220,376},{102,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blackpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{102,120}</string>
                <key>textureRect</key>
                <string>{{110,383},{102,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blue_ice_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{427,537},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blueblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{460,1},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-blueorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{460,59},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-bottom_bllue_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{427,590},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-bottom_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{162,637},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cheese_red_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,49}</string>
                <key>spriteSourceSize</key>
                <string>{64,49}</string>
                <key>textureRect</key>
                <string>{{441,175},{64,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cheese_yellow_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{254,587},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-chocolate_dark_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{102,507},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-chocolate_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,49}</string>
                <key>spriteSourceSize</key>
                <string>{61,49}</string>
                <key>textureRect</key>
                <string>{{441,281},{61,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-cyanorange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{460,117},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-darkpurple_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{220,254},{104,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-darkred_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{104,118}</string>
                <key>textureRect</key>
                <string>{{328,374},{104,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-greyblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,125}</string>
                <key>spriteSourceSize</key>
                <string>{105,125}</string>
                <key>textureRect</key>
                <string>{{111,254},{105,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-greygrey_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,125}</string>
                <key>spriteSourceSize</key>
                <string>{105,125}</string>
                <key>textureRect</key>
                <string>{{1,258},{105,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-hexagreen_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{106,118}</string>
                <key>textureRect</key>
                <string>{{331,130},{106,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-hexaindigo_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{106,118}</string>
                <key>textureRect</key>
                <string>{{331,252},{106,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-juice_orange_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{62,49}</string>
                <key>textureRect</key>
                <string>{{441,228},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-marbelbrown_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{111,130},{106,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-marbelyellow_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{221,130},{106,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-orange_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,125}</string>
                <key>spriteSourceSize</key>
                <string>{97,125}</string>
                <key>textureRect</key>
                <string>{{1,490},{97,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-orangeline_valentine_word_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{165,507},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pillow_green_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{102,560},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pillow_pink_wbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{102,613},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pinkblue_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,125}</string>
                <key>spriteSourceSize</key>
                <string>{106,125}</string>
                <key>textureRect</key>
                <string>{{130,1},{106,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-pinkpink_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,125}</string>
                <key>spriteSourceSize</key>
                <string>{106,125}</string>
                <key>textureRect</key>
                <string>{{1,129},{106,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-seabeach_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,46}</string>
                <key>textureRect</key>
                <string>{{441,334},{61,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-seabeach_substrate_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,46}</string>
                <key>spriteSourceSize</key>
                <string>{57,46}</string>
                <key>textureRect</key>
                <string>{{193,587},{57,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-violet_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,46}</string>
                <key>textureRect</key>
                <string>{{436,384},{61,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-violet_turquoise_substare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,46}</string>
                <key>textureRect</key>
                <string>{{436,434},{61,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-woodbrown_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,125}</string>
                <key>spriteSourceSize</key>
                <string>{106,125}</string>
                <key>textureRect</key>
                <string>{{240,1},{106,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-woodwhite_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,125}</string>
                <key>spriteSourceSize</key>
                <string>{106,125}</string>
                <key>textureRect</key>
                <string>{{350,1},{106,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_words_list-words_list-yellow_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,125}</string>
                <key>spriteSourceSize</key>
                <string>{97,125}</string>
                <key>textureRect</key>
                <string>{{326,496},{97,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,124}</string>
                <key>spriteSourceSize</key>
                <string>{125,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,387},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,83}</string>
                <key>spriteSourceSize</key>
                <string>{97,83}</string>
                <key>textureRect</key>
                <string>{{216,500},{97,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shine_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{165,564},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stripe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,6}</string>
                <key>spriteSourceSize</key>
                <string>{20,6}</string>
                <key>textureRect</key>
                <string>{{490,537},{20,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_words_list-c82f237fb3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>ads_words_list-c82f237fb3.png</string>
        </dict>
    </dict>
</plist>
