<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_crown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{1,215},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-level-level_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{111,38},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-level-progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{1,113},{53,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,55}</string>
                <key>spriteSourceSize</key>
                <string>{106,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-bar_timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,33}</string>
                <key>spriteSourceSize</key>
                <string>{73,33}</string>
                <key>textureRect</key>
                <string>{{111,1},{73,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{1,158},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,57}</string>
                <key>spriteSourceSize</key>
                <string>{39,57}</string>
                <key>textureRect</key>
                <string>{{58,108},{39,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{41,215},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{55,169},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{1,60},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{76,204},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{56,62}</string>
                <key>textureRect</key>
                <string>{{188,1},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{187,67},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-orderswindow-attention_exclamation_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{58,60},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>race-30afdc27b4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>race-30afdc27b4.png</string>
        </dict>
    </dict>
</plist>
