<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viberfakeadswindow-ads1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1079,607}</string>
                <key>spriteSourceSize</key>
                <string>{1079,607}</string>
                <key>textureRect</key>
                <string>{{1,1},{1079,607}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viberfakeadswindow-ads2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1079,607}</string>
                <key>spriteSourceSize</key>
                <string>{1079,607}</string>
                <key>textureRect</key>
                <string>{{1,612},{1079,607}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viberfakeadswindow-ads3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1079,607}</string>
                <key>spriteSourceSize</key>
                <string>{1079,607}</string>
                <key>textureRect</key>
                <string>{{1,1223},{1079,607}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viberfakeadswindow-close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1,1834},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>viberfakeadswindow-0546fa0b1d.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>viberfakeadswindow-0546fa0b1d.png</string>
        </dict>
    </dict>
</plist>
