<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_pass-batlepass_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,65}</string>
                <key>spriteSourceSize</key>
                <string>{15,65}</string>
                <key>textureRect</key>
                <string>{{495,1},{15,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-blik_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,181}</string>
                <key>spriteSourceSize</key>
                <string>{194,181}</string>
                <key>textureRect</key>
                <string>{{297,1},{194,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,29}</string>
                <key>spriteSourceSize</key>
                <string>{38,29}</string>
                <key>textureRect</key>
                <string>{{271,346},{38,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{336,350},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar_scala.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,63}</string>
                <key>spriteSourceSize</key>
                <string>{19,63}</string>
                <key>textureRect</key>
                <string>{{313,346},{19,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{234,483},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-gradient_goldpass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,352}</string>
                <key>spriteSourceSize</key>
                <string>{43,352}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-guide_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{356,186},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-guide_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{348,268},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-icon_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,245}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{48,1},{245,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-icon_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{99,100}</string>
                <key>textureRect</key>
                <string>{{48,250},{99,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-offer_badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,125}</string>
                <key>spriteSourceSize</key>
                <string>{122,125}</string>
                <key>textureRect</key>
                <string>{{145,354},{122,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-timer_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{77,78}</string>
                <key>textureRect</key>
                <string>{{430,277},{77,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-timer_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{188,483},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-under_bg_goldpass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,94}</string>
                <key>spriteSourceSize</key>
                <string>{14,94}</string>
                <key>textureRect</key>
                <string>{{495,70},{14,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-under_worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{62,87}</string>
                <key>textureRect</key>
                <string>{{438,186},{62,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,129}</string>
                <key>spriteSourceSize</key>
                <string>{140,129}</string>
                <key>textureRect</key>
                <string>{{1,357},{140,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{249,250},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,21}</string>
                <key>textureRect</key>
                <string>{{1,490},{47,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,93}</string>
                <key>spriteSourceSize</key>
                <string>{94,93}</string>
                <key>textureRect</key>
                <string>{{151,250},{94,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_particles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,28}</string>
                <key>textureRect</key>
                <string>{{145,483},{39,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battlepass_ticket_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{52,490},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blik_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{297,186},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_pass-4a8b7e987f.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>battle_pass-4a8b7e987f.png</string>
        </dict>
    </dict>
</plist>
