<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_crown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{200,140},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-level-level_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{138,46},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-level-progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,51}</string>
                <key>spriteSourceSize</key>
                <string>{66,51}</string>
                <key>textureRect</key>
                <string>{{129,205},{66,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,68}</string>
                <key>spriteSourceSize</key>
                <string>{133,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-bar_timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,41}</string>
                <key>spriteSourceSize</key>
                <string>{92,41}</string>
                <key>textureRect</key>
                <string>{{138,1},{92,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{1,229},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,71}</string>
                <key>spriteSourceSize</key>
                <string>{49,71}</string>
                <key>textureRect</key>
                <string>{{76,132},{49,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{200,192},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{74,207},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,61}</string>
                <key>spriteSourceSize</key>
                <string>{67,61}</string>
                <key>textureRect</key>
                <string>{{129,140},{67,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{199,234},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{71,77}</string>
                <key>textureRect</key>
                <string>{{1,73},{71,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{1,154},{69,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-orderswindow-attention_exclamation_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{76,73},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>race-30afdc27b4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>race-30afdc27b4.png</string>
        </dict>
    </dict>
</plist>
