<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>changdi10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10001</key>
			<dict>
				<key>frame</key>
				<string>{{143,0},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10002</key>
			<dict>
				<key>frame</key>
				<string>{{286,0},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10003</key>
			<dict>
				<key>frame</key>
				<string>{{429,0},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10004</key>
			<dict>
				<key>frame</key>
				<string>{{572,0},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10005</key>
			<dict>
				<key>frame</key>
				<string>{{715,0},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10006</key>
			<dict>
				<key>frame</key>
				<string>{{858,0},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10007</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10008</key>
			<dict>
				<key>frame</key>
				<string>{{143,198},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10009</key>
			<dict>
				<key>frame</key>
				<string>{{286,198},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10010</key>
			<dict>
				<key>frame</key>
				<string>{{429,198},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10011</key>
			<dict>
				<key>frame</key>
				<string>{{572,198},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10012</key>
			<dict>
				<key>frame</key>
				<string>{{715,198},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10013</key>
			<dict>
				<key>frame</key>
				<string>{{858,198},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10014</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10015</key>
			<dict>
				<key>frame</key>
				<string>{{143,396},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10016</key>
			<dict>
				<key>frame</key>
				<string>{{286,396},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10017</key>
			<dict>
				<key>frame</key>
				<string>{{429,396},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10018</key>
			<dict>
				<key>frame</key>
				<string>{{572,396},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10019</key>
			<dict>
				<key>frame</key>
				<string>{{715,396},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10020</key>
			<dict>
				<key>frame</key>
				<string>{{858,396},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10021</key>
			<dict>
				<key>frame</key>
				<string>{{0,594},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10022</key>
			<dict>
				<key>frame</key>
				<string>{{143,594},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10023</key>
			<dict>
				<key>frame</key>
				<string>{{286,594},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10024</key>
			<dict>
				<key>frame</key>
				<string>{{429,594},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10025</key>
			<dict>
				<key>frame</key>
				<string>{{572,594},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10026</key>
			<dict>
				<key>frame</key>
				<string>{{715,594},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10027</key>
			<dict>
				<key>frame</key>
				<string>{{858,594},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
			<key>changdi10029</key>
			<dict>
				<key>frame</key>
				<string>{{143,792},{143,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,198}}</string>
				<key>sourceSize</key>
				<string>{143,198}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>changdi.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>changdi.png</string>
		</dict>
	</dict>
</plist>
