<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>datiqin10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10001</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10002</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10003</key>
			<dict>
				<key>frame</key>
				<string>{{675,0},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,223},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10005</key>
			<dict>
				<key>frame</key>
				<string>{{225,223},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10006</key>
			<dict>
				<key>frame</key>
				<string>{{450,223},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10007</key>
			<dict>
				<key>frame</key>
				<string>{{675,223},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,446},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10009</key>
			<dict>
				<key>frame</key>
				<string>{{225,446},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10010</key>
			<dict>
				<key>frame</key>
				<string>{{450,446},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10011</key>
			<dict>
				<key>frame</key>
				<string>{{675,446},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,669},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10013</key>
			<dict>
				<key>frame</key>
				<string>{{225,669},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10014</key>
			<dict>
				<key>frame</key>
				<string>{{450,669},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10015</key>
			<dict>
				<key>frame</key>
				<string>{{675,669},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,892},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10017</key>
			<dict>
				<key>frame</key>
				<string>{{225,892},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10018</key>
			<dict>
				<key>frame</key>
				<string>{{450,892},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10019</key>
			<dict>
				<key>frame</key>
				<string>{{675,892},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,1115},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10021</key>
			<dict>
				<key>frame</key>
				<string>{{225,1115},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10022</key>
			<dict>
				<key>frame</key>
				<string>{{450,1115},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10023</key>
			<dict>
				<key>frame</key>
				<string>{{675,1115},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,1338},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10025</key>
			<dict>
				<key>frame</key>
				<string>{{225,1338},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10026</key>
			<dict>
				<key>frame</key>
				<string>{{450,1338},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10027</key>
			<dict>
				<key>frame</key>
				<string>{{675,1338},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,1561},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
			<key>datiqin10029</key>
			<dict>
				<key>frame</key>
				<string>{{225,1561},{225,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,223}}</string>
				<key>sourceSize</key>
				<string>{225,223}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>datiqin.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>datiqin.png</string>
		</dict>
	</dict>
</plist>
