<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gangqin10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10001</key>
			<dict>
				<key>frame</key>
				<string>{{283,0},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10002</key>
			<dict>
				<key>frame</key>
				<string>{{566,0},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10003</key>
			<dict>
				<key>frame</key>
				<string>{{0,203},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10004</key>
			<dict>
				<key>frame</key>
				<string>{{283,203},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10005</key>
			<dict>
				<key>frame</key>
				<string>{{566,203},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10006</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10007</key>
			<dict>
				<key>frame</key>
				<string>{{283,406},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10008</key>
			<dict>
				<key>frame</key>
				<string>{{566,406},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10009</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10010</key>
			<dict>
				<key>frame</key>
				<string>{{283,609},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10011</key>
			<dict>
				<key>frame</key>
				<string>{{566,609},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,812},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10013</key>
			<dict>
				<key>frame</key>
				<string>{{283,812},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10014</key>
			<dict>
				<key>frame</key>
				<string>{{566,812},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10015</key>
			<dict>
				<key>frame</key>
				<string>{{0,1015},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10016</key>
			<dict>
				<key>frame</key>
				<string>{{283,1015},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10017</key>
			<dict>
				<key>frame</key>
				<string>{{566,1015},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10018</key>
			<dict>
				<key>frame</key>
				<string>{{0,1218},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10019</key>
			<dict>
				<key>frame</key>
				<string>{{283,1218},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10020</key>
			<dict>
				<key>frame</key>
				<string>{{566,1218},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10021</key>
			<dict>
				<key>frame</key>
				<string>{{0,1421},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10022</key>
			<dict>
				<key>frame</key>
				<string>{{283,1421},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10023</key>
			<dict>
				<key>frame</key>
				<string>{{566,1421},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,1624},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10025</key>
			<dict>
				<key>frame</key>
				<string>{{283,1624},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10026</key>
			<dict>
				<key>frame</key>
				<string>{{566,1624},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10027</key>
			<dict>
				<key>frame</key>
				<string>{{0,1827},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10028</key>
			<dict>
				<key>frame</key>
				<string>{{283,1827},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
			<key>gangqin10029</key>
			<dict>
				<key>frame</key>
				<string>{{566,1827},{283,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,203}}</string>
				<key>sourceSize</key>
				<string>{283,203}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>gangqin.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>gangqin.png</string>
		</dict>
	</dict>
</plist>
