<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guqin10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10001</key>
			<dict>
				<key>frame</key>
				<string>{{247,0},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10002</key>
			<dict>
				<key>frame</key>
				<string>{{494,0},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10003</key>
			<dict>
				<key>frame</key>
				<string>{{741,0},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,168},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10005</key>
			<dict>
				<key>frame</key>
				<string>{{247,168},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10006</key>
			<dict>
				<key>frame</key>
				<string>{{494,168},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10007</key>
			<dict>
				<key>frame</key>
				<string>{{741,168},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10009</key>
			<dict>
				<key>frame</key>
				<string>{{247,336},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10010</key>
			<dict>
				<key>frame</key>
				<string>{{494,336},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10011</key>
			<dict>
				<key>frame</key>
				<string>{{741,336},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,504},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10013</key>
			<dict>
				<key>frame</key>
				<string>{{247,504},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10014</key>
			<dict>
				<key>frame</key>
				<string>{{494,504},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10015</key>
			<dict>
				<key>frame</key>
				<string>{{741,504},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10017</key>
			<dict>
				<key>frame</key>
				<string>{{247,672},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10018</key>
			<dict>
				<key>frame</key>
				<string>{{494,672},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10019</key>
			<dict>
				<key>frame</key>
				<string>{{741,672},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10021</key>
			<dict>
				<key>frame</key>
				<string>{{247,840},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10022</key>
			<dict>
				<key>frame</key>
				<string>{{494,840},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10023</key>
			<dict>
				<key>frame</key>
				<string>{{741,840},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,1008},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10025</key>
			<dict>
				<key>frame</key>
				<string>{{247,1008},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10026</key>
			<dict>
				<key>frame</key>
				<string>{{494,1008},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10027</key>
			<dict>
				<key>frame</key>
				<string>{{741,1008},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,1176},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
			<key>guqin10029</key>
			<dict>
				<key>frame</key>
				<string>{{247,1176},{247,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,168}}</string>
				<key>sourceSize</key>
				<string>{247,168}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>guqin.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>guqin.png</string>
		</dict>
	</dict>
</plist>
