<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>muqin10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10001</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10002</key>
			<dict>
				<key>frame</key>
				<string>{{464,0},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10003</key>
			<dict>
				<key>frame</key>
				<string>{{696,0},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10005</key>
			<dict>
				<key>frame</key>
				<string>{{232,175},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10006</key>
			<dict>
				<key>frame</key>
				<string>{{464,175},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10007</key>
			<dict>
				<key>frame</key>
				<string>{{696,175},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10009</key>
			<dict>
				<key>frame</key>
				<string>{{232,350},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10010</key>
			<dict>
				<key>frame</key>
				<string>{{464,350},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10011</key>
			<dict>
				<key>frame</key>
				<string>{{696,350},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,525},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10013</key>
			<dict>
				<key>frame</key>
				<string>{{232,525},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10014</key>
			<dict>
				<key>frame</key>
				<string>{{464,525},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10015</key>
			<dict>
				<key>frame</key>
				<string>{{696,525},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10017</key>
			<dict>
				<key>frame</key>
				<string>{{232,700},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10018</key>
			<dict>
				<key>frame</key>
				<string>{{464,700},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10019</key>
			<dict>
				<key>frame</key>
				<string>{{696,700},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,875},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10021</key>
			<dict>
				<key>frame</key>
				<string>{{232,875},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10022</key>
			<dict>
				<key>frame</key>
				<string>{{464,875},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10023</key>
			<dict>
				<key>frame</key>
				<string>{{696,875},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,1050},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10025</key>
			<dict>
				<key>frame</key>
				<string>{{232,1050},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10026</key>
			<dict>
				<key>frame</key>
				<string>{{464,1050},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10027</key>
			<dict>
				<key>frame</key>
				<string>{{696,1050},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,1225},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
			<key>muqin10029</key>
			<dict>
				<key>frame</key>
				<string>{{232,1225},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>muqin.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>muqin.png</string>
		</dict>
	</dict>
</plist>
