<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pipa10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10001</key>
			<dict>
				<key>frame</key>
				<string>{{235,0},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10002</key>
			<dict>
				<key>frame</key>
				<string>{{470,0},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10003</key>
			<dict>
				<key>frame</key>
				<string>{{705,0},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10005</key>
			<dict>
				<key>frame</key>
				<string>{{235,188},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10006</key>
			<dict>
				<key>frame</key>
				<string>{{470,188},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10007</key>
			<dict>
				<key>frame</key>
				<string>{{705,188},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10009</key>
			<dict>
				<key>frame</key>
				<string>{{235,376},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10010</key>
			<dict>
				<key>frame</key>
				<string>{{470,376},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10011</key>
			<dict>
				<key>frame</key>
				<string>{{705,376},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10013</key>
			<dict>
				<key>frame</key>
				<string>{{235,564},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10014</key>
			<dict>
				<key>frame</key>
				<string>{{470,564},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10015</key>
			<dict>
				<key>frame</key>
				<string>{{705,564},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,752},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10017</key>
			<dict>
				<key>frame</key>
				<string>{{235,752},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10018</key>
			<dict>
				<key>frame</key>
				<string>{{470,752},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10019</key>
			<dict>
				<key>frame</key>
				<string>{{705,752},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,940},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10021</key>
			<dict>
				<key>frame</key>
				<string>{{235,940},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10022</key>
			<dict>
				<key>frame</key>
				<string>{{470,940},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10023</key>
			<dict>
				<key>frame</key>
				<string>{{705,940},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,1128},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10025</key>
			<dict>
				<key>frame</key>
				<string>{{235,1128},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10026</key>
			<dict>
				<key>frame</key>
				<string>{{470,1128},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10027</key>
			<dict>
				<key>frame</key>
				<string>{{705,1128},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,1316},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
			<key>pipa10029</key>
			<dict>
				<key>frame</key>
				<string>{{235,1316},{235,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,188}}</string>
				<key>sourceSize</key>
				<string>{235,188}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>pipa.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>pipa.png</string>
		</dict>
	</dict>
</plist>
