<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sakesi10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10001</key>
			<dict>
				<key>frame</key>
				<string>{{149,0},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10002</key>
			<dict>
				<key>frame</key>
				<string>{{298,0},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10003</key>
			<dict>
				<key>frame</key>
				<string>{{447,0},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10004</key>
			<dict>
				<key>frame</key>
				<string>{{596,0},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10005</key>
			<dict>
				<key>frame</key>
				<string>{{745,0},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10006</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10007</key>
			<dict>
				<key>frame</key>
				<string>{{149,201},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10008</key>
			<dict>
				<key>frame</key>
				<string>{{298,201},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10009</key>
			<dict>
				<key>frame</key>
				<string>{{447,201},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10010</key>
			<dict>
				<key>frame</key>
				<string>{{596,201},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10011</key>
			<dict>
				<key>frame</key>
				<string>{{745,201},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10013</key>
			<dict>
				<key>frame</key>
				<string>{{149,402},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10014</key>
			<dict>
				<key>frame</key>
				<string>{{298,402},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10015</key>
			<dict>
				<key>frame</key>
				<string>{{447,402},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10016</key>
			<dict>
				<key>frame</key>
				<string>{{596,402},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10017</key>
			<dict>
				<key>frame</key>
				<string>{{745,402},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10018</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10019</key>
			<dict>
				<key>frame</key>
				<string>{{149,603},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10020</key>
			<dict>
				<key>frame</key>
				<string>{{298,603},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10021</key>
			<dict>
				<key>frame</key>
				<string>{{447,603},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10022</key>
			<dict>
				<key>frame</key>
				<string>{{596,603},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10023</key>
			<dict>
				<key>frame</key>
				<string>{{745,603},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10025</key>
			<dict>
				<key>frame</key>
				<string>{{149,804},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10026</key>
			<dict>
				<key>frame</key>
				<string>{{298,804},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10027</key>
			<dict>
				<key>frame</key>
				<string>{{447,804},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10028</key>
			<dict>
				<key>frame</key>
				<string>{{596,804},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
			<key>sakesi10029</key>
			<dict>
				<key>frame</key>
				<string>{{745,804},{149,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,201}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sakesi.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sakesi.png</string>
		</dict>
	</dict>
</plist>
