<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xiaotiqin10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10001</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10002</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10003</key>
			<dict>
				<key>frame</key>
				<string>{{435,0},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10004</key>
			<dict>
				<key>frame</key>
				<string>{{580,0},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10005</key>
			<dict>
				<key>frame</key>
				<string>{{725,0},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10006</key>
			<dict>
				<key>frame</key>
				<string>{{870,0},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10007</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10008</key>
			<dict>
				<key>frame</key>
				<string>{{145,200},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10009</key>
			<dict>
				<key>frame</key>
				<string>{{290,200},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10010</key>
			<dict>
				<key>frame</key>
				<string>{{435,200},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10011</key>
			<dict>
				<key>frame</key>
				<string>{{580,200},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10012</key>
			<dict>
				<key>frame</key>
				<string>{{725,200},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10013</key>
			<dict>
				<key>frame</key>
				<string>{{870,200},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10014</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10015</key>
			<dict>
				<key>frame</key>
				<string>{{145,400},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10016</key>
			<dict>
				<key>frame</key>
				<string>{{290,400},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10017</key>
			<dict>
				<key>frame</key>
				<string>{{435,400},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10018</key>
			<dict>
				<key>frame</key>
				<string>{{580,400},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10019</key>
			<dict>
				<key>frame</key>
				<string>{{725,400},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10020</key>
			<dict>
				<key>frame</key>
				<string>{{870,400},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10021</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10022</key>
			<dict>
				<key>frame</key>
				<string>{{145,600},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10023</key>
			<dict>
				<key>frame</key>
				<string>{{290,600},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10024</key>
			<dict>
				<key>frame</key>
				<string>{{435,600},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10025</key>
			<dict>
				<key>frame</key>
				<string>{{580,600},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10026</key>
			<dict>
				<key>frame</key>
				<string>{{725,600},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10027</key>
			<dict>
				<key>frame</key>
				<string>{{870,600},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10028</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
			<key>xiaotiqin10029</key>
			<dict>
				<key>frame</key>
				<string>{{145,800},{145,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,200}}</string>
				<key>sourceSize</key>
				<string>{145,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>xiaotiqin.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>xiaotiqin.png</string>
		</dict>
	</dict>
</plist>
