<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_sprites-sprites-basket_strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,309}</string>
                <key>spriteSourceSize</key>
                <string>{257,309}</string>
                <key>textureRect</key>
                <string>{{613,2556},{257,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-build_combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,346}</string>
                <key>spriteSourceSize</key>
                <string>{302,346}</string>
                <key>textureRect</key>
                <string>{{1,2280},{302,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-build_dwarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,355}</string>
                <key>spriteSourceSize</key>
                <string>{302,355}</string>
                <key>textureRect</key>
                <string>{{308,2181},{302,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,62}</string>
                <key>spriteSourceSize</key>
                <string>{189,62}</string>
                <key>textureRect</key>
                <string>{{1222,2656},{189,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1172,357}</string>
                <key>spriteSourceSize</key>
                <string>{1172,357}</string>
                <key>textureRect</key>
                <string>{{1,1},{1172,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,357}</string>
                <key>spriteSourceSize</key>
                <string>{620,357}</string>
                <key>textureRect</key>
                <string>{{1054,1322},{620,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence_left_landscape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,432}</string>
                <key>spriteSourceSize</key>
                <string>{750,432}</string>
                <key>textureRect</key>
                <string>{{1066,781},{750,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,357}</string>
                <key>spriteSourceSize</key>
                <string>{504,357}</string>
                <key>textureRect</key>
                <string>{{1013,1683},{504,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-design_fence_right_landscape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,357}</string>
                <key>spriteSourceSize</key>
                <string>{645,357}</string>
                <key>textureRect</key>
                <string>{{1,1274},{645,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,95}</string>
                <key>spriteSourceSize</key>
                <string>{303,95}</string>
                <key>textureRect</key>
                <string>{{1,2082},{303,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-green_island.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,287}</string>
                <key>spriteSourceSize</key>
                <string>{343,287}</string>
                <key>textureRect</key>
                <string>{{649,1923},{343,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-harvest_bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,229}</string>
                <key>spriteSourceSize</key>
                <string>{302,229}</string>
                <key>textureRect</key>
                <string>{{1,2630},{302,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-harvest_shovel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,302}</string>
                <key>spriteSourceSize</key>
                <string>{219,302}</string>
                <key>textureRect</key>
                <string>{{1820,1008},{219,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-ice_island.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,314}</string>
                <key>spriteSourceSize</key>
                <string>{333,314}</string>
                <key>textureRect</key>
                <string>{{1419,2388},{333,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,95}</string>
                <key>spriteSourceSize</key>
                <string>{303,95}</string>
                <key>textureRect</key>
                <string>{{308,2082},{303,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_bigstone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,176}</string>
                <key>spriteSourceSize</key>
                <string>{204,176}</string>
                <key>textureRect</key>
                <string>{{1,2863},{204,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,170}</string>
                <key>spriteSourceSize</key>
                <string>{427,170}</string>
                <key>textureRect</key>
                <string>{{1521,2040},{427,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,223}</string>
                <key>spriteSourceSize</key>
                <string>{224,223}</string>
                <key>textureRect</key>
                <string>{{1820,781},{224,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,224}</string>
                <key>spriteSourceSize</key>
                <string>{232,224}</string>
                <key>textureRect</key>
                <string>{{1813,1314},{232,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,368}</string>
                <key>spriteSourceSize</key>
                <string>{257,368}</string>
                <key>textureRect</key>
                <string>{{1756,2420},{257,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_scroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,392}</string>
                <key>spriteSourceSize</key>
                <string>{419,392}</string>
                <key>textureRect</key>
                <string>{{996,2044},{419,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_soldier1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,97}</string>
                <key>spriteSourceSize</key>
                <string>{53,97}</string>
                <key>textureRect</key>
                <string>{{1977,99},{53,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_soldier2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{1977,1},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_soldier3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{1066,592},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_soldier4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,126}</string>
                <key>spriteSourceSize</key>
                <string>{107,126}</string>
                <key>textureRect</key>
                <string>{{1066,362},{107,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-m_warior_items.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{796,776}</string>
                <key>spriteSourceSize</key>
                <string>{796,776}</string>
                <key>textureRect</key>
                <string>{{1177,1},{796,776}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_buble_cake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,170}</string>
                <key>spriteSourceSize</key>
                <string>{157,170}</string>
                <key>textureRect</key>
                <string>{{1583,2706},{157,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,202}</string>
                <key>spriteSourceSize</key>
                <string>{281,202}</string>
                <key>textureRect</key>
                <string>{{1762,2214},{281,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_corn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{164,168}</string>
                <key>textureRect</key>
                <string>{{1415,2706},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_hero_svin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,127}</string>
                <key>spriteSourceSize</key>
                <string>{134,127}</string>
                <key>textureRect</key>
                <string>{{511,1908},{134,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_korol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,315}</string>
                <key>spriteSourceSize</key>
                <string>{302,315}</string>
                <key>textureRect</key>
                <string>{{307,2540},{302,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_light_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,380}</string>
                <key>spriteSourceSize</key>
                <string>{362,380}</string>
                <key>textureRect</key>
                <string>{{1678,1656},{362,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_magic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,338}</string>
                <key>spriteSourceSize</key>
                <string>{302,338}</string>
                <key>textureRect</key>
                <string>{{614,2214},{302,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_scroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,279}</string>
                <key>spriteSourceSize</key>
                <string>{298,279}</string>
                <key>textureRect</key>
                <string>{{920,2440},{298,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,122}</string>
                <key>spriteSourceSize</key>
                <string>{111,122}</string>
                <key>textureRect</key>
                <string>{{1678,1322},{111,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,336}</string>
                <key>spriteSourceSize</key>
                <string>{359,336}</string>
                <key>textureRect</key>
                <string>{{650,1583},{359,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-marketing_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,96}</string>
                <key>textureRect</key>
                <string>{{1066,492},{100,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-mcarthur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,170}</string>
                <key>spriteSourceSize</key>
                <string>{339,170}</string>
                <key>textureRect</key>
                <string>{{1419,2214},{339,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-move_arrows.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{1977,200},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-new_sceenshot_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,110}</string>
                <key>spriteSourceSize</key>
                <string>{369,110}</string>
                <key>textureRect</key>
                <string>{{1678,1542},{369,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,269}</string>
                <key>spriteSourceSize</key>
                <string>{525,269}</string>
                <key>textureRect</key>
                <string>{{1,1635},{525,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-sand_island.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,305}</string>
                <key>spriteSourceSize</key>
                <string>{400,305}</string>
                <key>textureRect</key>
                <string>{{650,1274},{400,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-screenshot_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,110}</string>
                <key>spriteSourceSize</key>
                <string>{369,110}</string>
                <key>textureRect</key>
                <string>{{1678,1542},{369,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-search.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,101}</string>
                <key>spriteSourceSize</key>
                <string>{743,101}</string>
                <key>textureRect</key>
                <string>{{1066,1217},{743,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-select_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,170}</string>
                <key>spriteSourceSize</key>
                <string>{506,170}</string>
                <key>textureRect</key>
                <string>{{1,1908},{506,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-sickle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,303}</string>
                <key>spriteSourceSize</key>
                <string>{254,303}</string>
                <key>textureRect</key>
                <string>{{307,2859},{254,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-tablet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1061,908}</string>
                <key>spriteSourceSize</key>
                <string>{1061,908}</string>
                <key>textureRect</key>
                <string>{{1,362},{1061,908}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,212}</string>
                <key>spriteSourceSize</key>
                <string>{191,212}</string>
                <key>textureRect</key>
                <string>{{1222,2440},{191,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,313}</string>
                <key>spriteSourceSize</key>
                <string>{201,313}</string>
                <key>textureRect</key>
                <string>{{1,3043},{201,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_sprites-sprites-wands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,95}</string>
                <key>spriteSourceSize</key>
                <string>{303,95}</string>
                <key>textureRect</key>
                <string>{{1,2181},{303,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_sprites-cd66fe7171.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>textureFileName</key>
            <string>ads_sprites-cd66fe7171.png</string>
        </dict>
    </dict>
</plist>
