<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy_time-energy_time_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{254,254}</string>
                <key>textureRect</key>
                <string>{{0,0},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_arm_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,75}</string>
                <key>spriteSourceSize</key>
                <string>{52,75}</string>
                <key>textureRect</key>
                <string>{{256,0},{52,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_arm_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,78}</string>
                <key>spriteSourceSize</key>
                <string>{50,78}</string>
                <key>textureRect</key>
                <string>{{310,0},{50,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,314}</string>
                <key>spriteSourceSize</key>
                <string>{271,314}</string>
                <key>textureRect</key>
                <string>{{0,256},{271,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,207}</string>
                <key>spriteSourceSize</key>
                <string>{153,207}</string>
                <key>textureRect</key>
                <string>{{273,256},{153,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,20}</string>
                <key>spriteSourceSize</key>
                <string>{59,20}</string>
                <key>textureRect</key>
                <string>{{428,256},{59,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,152}</string>
                <key>spriteSourceSize</key>
                <string>{113,152}</string>
                <key>textureRect</key>
                <string>{{0,572},{113,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,73}</string>
                <key>spriteSourceSize</key>
                <string>{114,73}</string>
                <key>textureRect</key>
                <string>{{115,572},{114,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_left_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,74}</string>
                <key>spriteSourceSize</key>
                <string>{26,74}</string>
                <key>textureRect</key>
                <string>{{231,572},{26,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,63}</string>
                <key>spriteSourceSize</key>
                <string>{55,63}</string>
                <key>textureRect</key>
                <string>{{259,572},{55,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{98,126}</string>
                <key>textureRect</key>
                <string>{{316,572},{98,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,91}</string>
                <key>spriteSourceSize</key>
                <string>{93,91}</string>
                <key>textureRect</key>
                <string>{{416,572},{93,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,73}</string>
                <key>spriteSourceSize</key>
                <string>{92,73}</string>
                <key>textureRect</key>
                <string>{{0,726},{92,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,73}</string>
                <key>spriteSourceSize</key>
                <string>{47,73}</string>
                <key>textureRect</key>
                <string>{{94,726},{47,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{143,726},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_shoulder_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,111}</string>
                <key>spriteSourceSize</key>
                <string>{81,111}</string>
                <key>textureRect</key>
                <string>{{156,726},{81,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_shoulder_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,117}</string>
                <key>spriteSourceSize</key>
                <string>{99,117}</string>
                <key>textureRect</key>
                <string>{{239,726},{99,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_time-5a976acaeb.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>energy_time-5a976acaeb.png</string>
        </dict>
    </dict>
</plist>
