<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_world_summer-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{75,457},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{289,226},{22,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{298,61},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{111,457},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{139,409},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{175,409},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{210,409},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{320,1},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{1,457},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{282,181},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,41}</string>
                <key>spriteSourceSize</key>
                <string>{17,41}</string>
                <key>textureRect</key>
                <string>{{315,271},{17,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{289,271},{22,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{329,437},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{292,121},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{315,226},{22,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{38,457},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{111,289},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{229,121},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{248,257},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{239,454},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{139,349},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{157,289},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{162,213},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{276,317},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{147,77},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{203,273},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,56}</string>
                <key>spriteSourceSize</key>
                <string>{21,56}</string>
                <key>textureRect</key>
                <string>{{270,1},{21,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,56}</string>
                <key>spriteSourceSize</key>
                <string>{27,56}</string>
                <key>textureRect</key>
                <string>{{261,121},{27,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{196,1},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{186,137},{39,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{235,61},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{111,229},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{1,229},{52,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,72}</string>
                <key>spriteSourceSize</key>
                <string>{34,72}</string>
                <key>textureRect</key>
                <string>{{109,77},{34,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{59,77},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,72}</string>
                <key>spriteSourceSize</key>
                <string>{51,72}</string>
                <key>textureRect</key>
                <string>{{1,305},{51,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,72}</string>
                <key>spriteSourceSize</key>
                <string>{53,72}</string>
                <key>textureRect</key>
                <string>{{1,153},{53,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,72}</string>
                <key>spriteSourceSize</key>
                <string>{51,72}</string>
                <key>textureRect</key>
                <string>{{1,381},{51,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,72}</string>
                <key>spriteSourceSize</key>
                <string>{51,72}</string>
                <key>textureRect</key>
                <string>{{56,305},{51,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{58,153},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{1,77},{54,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,72}</string>
                <key>textureRect</key>
                <string>{{57,229},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,72}</string>
                <key>spriteSourceSize</key>
                <string>{22,72}</string>
                <key>textureRect</key>
                <string>{{109,153},{22,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,72}</string>
                <key>spriteSourceSize</key>
                <string>{30,72}</string>
                <key>textureRect</key>
                <string>{{115,1},{30,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,72}</string>
                <key>spriteSourceSize</key>
                <string>{37,72}</string>
                <key>textureRect</key>
                <string>{{98,381},{37,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{65,1},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,72}</string>
                <key>spriteSourceSize</key>
                <string>{38,72}</string>
                <key>textureRect</key>
                <string>{{56,381},{38,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{147,454},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{250,181},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{290,377},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{231,333},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{185,349},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{42,56}</string>
                <key>textureRect</key>
                <string>{{193,454},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{245,393},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{194,61},{37,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,56}</string>
                <key>spriteSourceSize</key>
                <string>{43,56}</string>
                <key>textureRect</key>
                <string>{{149,1},{43,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{284,453},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,56}</string>
                <key>spriteSourceSize</key>
                <string>{21,56}</string>
                <key>textureRect</key>
                <string>{{295,1},{21,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,56}</string>
                <key>spriteSourceSize</key>
                <string>{27,56}</string>
                <key>textureRect</key>
                <string>{{267,61},{27,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{233,1},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{207,197},{39,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{28,56}</string>
                <key>textureRect</key>
                <string>{{235,61},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_summer-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{135,153},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus_world_summer-50ce70c53d.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>bonus_world_summer-50ce70c53d.png</string>
        </dict>
    </dict>
</plist>
