<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy_time-energy_time_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,170}</string>
                <key>spriteSourceSize</key>
                <string>{169,170}</string>
                <key>textureRect</key>
                <string>{{273,1},{169,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_arm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,111}</string>
                <key>spriteSourceSize</key>
                <string>{48,111}</string>
                <key>textureRect</key>
                <string>{{113,345},{48,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_arm_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,30}</string>
                <key>spriteSourceSize</key>
                <string>{51,30}</string>
                <key>textureRect</key>
                <string>{{1,233},{51,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,165}</string>
                <key>spriteSourceSize</key>
                <string>{108,165}</string>
                <key>textureRect</key>
                <string>{{1,345},{108,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_chocoegg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,93}</string>
                <key>spriteSourceSize</key>
                <string>{73,93}</string>
                <key>textureRect</key>
                <string>{{405,248},{73,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,132}</string>
                <key>spriteSourceSize</key>
                <string>{63,132}</string>
                <key>textureRect</key>
                <string>{{446,1},{63,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{405,213},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,279},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_eyelids.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,53}</string>
                <key>spriteSourceSize</key>
                <string>{119,53}</string>
                <key>textureRect</key>
                <string>{{61,279},{119,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,86}</string>
                <key>spriteSourceSize</key>
                <string>{47,86}</string>
                <key>textureRect</key>
                <string>{{223,345},{47,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,228}</string>
                <key>spriteSourceSize</key>
                <string>{268,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_iris.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{405,175},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_legs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,100}</string>
                <key>textureRect</key>
                <string>{{273,175},{128,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_shoulder_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,74}</string>
                <key>spriteSourceSize</key>
                <string>{55,74}</string>
                <key>textureRect</key>
                <string>{{184,233},{55,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_shoulder_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,88}</string>
                <key>spriteSourceSize</key>
                <string>{54,88}</string>
                <key>textureRect</key>
                <string>{{165,345},{54,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_strap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,107}</string>
                <key>spriteSourceSize</key>
                <string>{61,107}</string>
                <key>textureRect</key>
                <string>{{446,137},{61,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_time-4ee939c850.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>energy_time-4ee939c850.png</string>
        </dict>
    </dict>
</plist>
