<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_menu-cat_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,213}</string>
                <key>spriteSourceSize</key>
                <string>{133,213}</string>
                <key>textureRect</key>
                <string>{{1,218},{133,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-cat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,213}</string>
                <key>spriteSourceSize</key>
                <string>{148,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-cat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,213}</string>
                <key>spriteSourceSize</key>
                <string>{133,213}</string>
                <key>textureRect</key>
                <string>{{138,218},{133,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-island_bottom_off1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{140,120}</string>
                <key>textureRect</key>
                <string>{{153,1},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-island_bottom_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,120}</string>
                <key>spriteSourceSize</key>
                <string>{139,120}</string>
                <key>textureRect</key>
                <string>{{297,1},{139,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-title_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,44}</string>
                <key>spriteSourceSize</key>
                <string>{57,44}</string>
                <key>textureRect</key>
                <string>{{1,435},{57,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-title_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,44}</string>
                <key>spriteSourceSize</key>
                <string>{57,44}</string>
                <key>textureRect</key>
                <string>{{62,435},{57,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_menu-title_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{123,435},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_menu-cedc59321d.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ads_menu-cedc59321d.png</string>
        </dict>
    </dict>
</plist>
