<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogues_lower-bunny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,221}</string>
                <key>spriteSourceSize</key>
                <string>{120,221}</string>
                <key>textureRect</key>
                <string>{{839,395},{120,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_lower-cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,189}</string>
                <key>spriteSourceSize</key>
                <string>{121,189}</string>
                <key>textureRect</key>
                <string>{{503,282},{121,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_lower-dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,161}</string>
                <key>spriteSourceSize</key>
                <string>{136,161}</string>
                <key>textureRect</key>
                <string>{{510,117},{136,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_lower-fox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,184}</string>
                <key>spriteSourceSize</key>
                <string>{112,184}</string>
                <key>textureRect</key>
                <string>{{1,673},{112,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_lower-panda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,161}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{306,173},{128,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_lower-raccoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,152}</string>
                <key>spriteSourceSize</key>
                <string>{148,152}</string>
                <key>textureRect</key>
                <string>{{853,1},{148,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_lower-tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,170}</string>
                <key>spriteSourceSize</key>
                <string>{147,170}</string>
                <key>textureRect</key>
                <string>{{700,108},{147,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_lower-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,103}</string>
                <key>spriteSourceSize</key>
                <string>{149,103}</string>
                <key>textureRect</key>
                <string>{{700,1},{149,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_arm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,125}</string>
                <key>spriteSourceSize</key>
                <string>{54,125}</string>
                <key>textureRect</key>
                <string>{{963,544},{54,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_arm_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,34}</string>
                <key>spriteSourceSize</key>
                <string>{57,34}</string>
                <key>textureRect</key>
                <string>{{963,506},{57,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,185}</string>
                <key>spriteSourceSize</key>
                <string>{121,185}</string>
                <key>textureRect</key>
                <string>{{684,345},{121,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_chocoegg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,105}</string>
                <key>spriteSourceSize</key>
                <string>{81,105}</string>
                <key>textureRect</key>
                <string>{{150,261},{81,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,148}</string>
                <key>spriteSourceSize</key>
                <string>{70,148}</string>
                <key>textureRect</key>
                <string>{{1,861},{70,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{809,387},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{438,173},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_eyelids.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,59}</string>
                <key>spriteSourceSize</key>
                <string>{133,59}</string>
                <key>textureRect</key>
                <string>{{685,282},{133,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,97}</string>
                <key>spriteSourceSize</key>
                <string>{52,97}</string>
                <key>textureRect</key>
                <string>{{628,300},{52,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,256}</string>
                <key>spriteSourceSize</key>
                <string>{301,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{301,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_iris.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{809,345},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_legs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,112}</string>
                <key>spriteSourceSize</key>
                <string>{143,112}</string>
                <key>textureRect</key>
                <string>{{851,279},{143,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_shoulder_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{438,239},{61,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_shoulder_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,98}</string>
                <key>spriteSourceSize</key>
                <string>{60,98}</string>
                <key>textureRect</key>
                <string>{{438,326},{60,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_strap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,120}</string>
                <key>spriteSourceSize</key>
                <string>{69,120}</string>
                <key>textureRect</key>
                <string>{{1,534},{69,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_bowtie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{963,462},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_ear_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,43}</string>
                <key>textureRect</key>
                <string>{{628,401},{52,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,46}</string>
                <key>spriteSourceSize</key>
                <string>{41,46}</string>
                <key>textureRect</key>
                <string>{{650,190},{41,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,106}</string>
                <key>spriteSourceSize</key>
                <string>{71,106}</string>
                <key>textureRect</key>
                <string>{{75,861},{71,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_forearm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{963,395},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_forearm_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,69}</string>
                <key>spriteSourceSize</key>
                <string>{46,69}</string>
                <key>textureRect</key>
                <string>{{650,117},{46,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{650,263},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{628,448},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{1,428},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,112}</string>
                <key>spriteSourceSize</key>
                <string>{186,112}</string>
                <key>textureRect</key>
                <string>{{510,1},{186,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,118}</string>
                <key>spriteSourceSize</key>
                <string>{143,118}</string>
                <key>textureRect</key>
                <string>{{851,157},{143,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_thigh_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,118}</string>
                <key>spriteSourceSize</key>
                <string>{69,118}</string>
                <key>textureRect</key>
                <string>{{74,534},{69,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_torso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,168}</string>
                <key>textureRect</key>
                <string>{{306,1},{200,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_upperarm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{1,338},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_upperarm_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,66}</string>
                <key>spriteSourceSize</key>
                <string>{90,66}</string>
                <key>textureRect</key>
                <string>{{1,261},{90,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_seller_whisker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,19}</string>
                <key>spriteSourceSize</key>
                <string>{36,19}</string>
                <key>textureRect</key>
                <string>{{650,240},{36,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues_lower-93521672c1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>dialogues_lower-93521672c1.png</string>
        </dict>
    </dict>
</plist>
