<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy_time-energy_time_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,305}</string>
                <key>spriteSourceSize</key>
                <string>{304,305}</string>
                <key>textureRect</key>
                <string>{{1,382},{304,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_arm_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{62,90}</string>
                <key>textureRect</key>
                <string>{{430,782},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_arm_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,94}</string>
                <key>spriteSourceSize</key>
                <string>{59,94}</string>
                <key>textureRect</key>
                <string>{{218,691},{59,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,377}</string>
                <key>spriteSourceSize</key>
                <string>{325,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{325,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,248}</string>
                <key>spriteSourceSize</key>
                <string>{184,248}</string>
                <key>textureRect</key>
                <string>{{309,422},{184,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,24}</string>
                <key>textureRect</key>
                <string>{{430,674},{70,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,182}</string>
                <key>spriteSourceSize</key>
                <string>{136,182}</string>
                <key>textureRect</key>
                <string>{{330,92},{136,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,87}</string>
                <key>spriteSourceSize</key>
                <string>{137,87}</string>
                <key>textureRect</key>
                <string>{{330,1},{137,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_left_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,88}</string>
                <key>spriteSourceSize</key>
                <string>{31,88}</string>
                <key>textureRect</key>
                <string>{{471,1},{31,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_hand_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,76}</string>
                <key>textureRect</key>
                <string>{{430,702},{66,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,151}</string>
                <key>spriteSourceSize</key>
                <string>{117,151}</string>
                <key>textureRect</key>
                <string>{{309,674},{117,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,109}</string>
                <key>spriteSourceSize</key>
                <string>{112,109}</string>
                <key>textureRect</key>
                <string>{{102,876},{112,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,87}</string>
                <key>spriteSourceSize</key>
                <string>{111,87}</string>
                <key>textureRect</key>
                <string>{{218,876},{111,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_head_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{56,87}</string>
                <key>textureRect</key>
                <string>{{453,278},{56,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{470,93},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_shoulder_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,133}</string>
                <key>spriteSourceSize</key>
                <string>{97,133}</string>
                <key>textureRect</key>
                <string>{{1,876},{97,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinn_shoulder_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,140}</string>
                <key>spriteSourceSize</key>
                <string>{119,140}</string>
                <key>textureRect</key>
                <string>{{330,278},{119,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_time-5a976acaeb.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>energy_time-5a976acaeb.png</string>
        </dict>
    </dict>
</plist>
