<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_machine-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{56,388},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{62,455},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{1,440},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{137,373},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{79,406},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{160,377},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{137,402},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{22,440},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{86,377},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{102,411},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,25}</string>
                <key>spriteSourceSize</key>
                <string>{16,25}</string>
                <key>textureRect</key>
                <string>{{100,440},{16,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{10,25}</string>
                <key>textureRect</key>
                <string>{{36,216},{10,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{83,465},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{43,417},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{17,25}</string>
                <key>textureRect</key>
                <string>{{62,484},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,25}</string>
                <key>spriteSourceSize</key>
                <string>{13,25}</string>
                <key>textureRect</key>
                <string>{{100,469},{13,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{79,435},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{176,263},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{160,406},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{30,379},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{205,272},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{116,297},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{86,301},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{145,297},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{1,386},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{116,259},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{174,301},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,34}</string>
                <key>spriteSourceSize</key>
                <string>{21,34}</string>
                <key>textureRect</key>
                <string>{{234,272},{21,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{13,34}</string>
                <key>textureRect</key>
                <string>{{205,386},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{22,469},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{222,357},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{86,339},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{125,431},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{144,335},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{1,216},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,43}</string>
                <key>spriteSourceSize</key>
                <string>{20,43}</string>
                <key>textureRect</key>
                <string>{{62,303},{20,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{1,263},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{128,165},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{92,165},{32,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{163,165},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{198,178},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{120,212},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{50,209},{32,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{86,212},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{216,225},{26,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,43}</string>
                <key>spriteSourceSize</key>
                <string>{13,43}</string>
                <key>textureRect</key>
                <string>{{69,256},{13,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,43}</string>
                <key>spriteSourceSize</key>
                <string>{18,43}</string>
                <key>textureRect</key>
                <string>{{183,386},{18,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,43}</string>
                <key>spriteSourceSize</key>
                <string>{22,43}</string>
                <key>textureRect</key>
                <string>{{233,178},{22,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{152,212},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{23,43}</string>
                <key>textureRect</key>
                <string>{{232,310},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{36,256},{29,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{33,303},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{1,469},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{170,339},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{1,310},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{30,341},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{1,348},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{203,310},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{196,348},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{146,259},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{115,335},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{13,34}</string>
                <key>textureRect</key>
                <string>{{62,417},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{42,469},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,34}</string>
                <key>spriteSourceSize</key>
                <string>{20,34}</string>
                <key>textureRect</key>
                <string>{{113,373},{20,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{59,350},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{125,431},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{184,225},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,78}</string>
                <key>spriteSourceSize</key>
                <string>{75,78}</string>
                <key>textureRect</key>
                <string>{{1,83},{75,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-coin_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{50,165},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-coin_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{1,165},{45,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,78}</string>
                <key>spriteSourceSize</key>
                <string>{53,78}</string>
                <key>textureRect</key>
                <string>{{148,83},{53,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-energy_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{86,259},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{85,78}</string>
                <key>textureRect</key>
                <string>{{94,1},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-ruby_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{205,131},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-ruby_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,44}</string>
                <key>spriteSourceSize</key>
                <string>{49,44}</string>
                <key>textureRect</key>
                <string>{{205,83},{49,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{71,78}</string>
                <key>textureRect</key>
                <string>{{183,1},{71,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_machine-reward_icons-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{80,83},{64,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slot_machine-d9cbde7fdd.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>slot_machine-d9cbde7fdd.png</string>
        </dict>
    </dict>
</plist>
