<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halloween-halloween_decor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,149}</string>
                <key>spriteSourceSize</key>
                <string>{110,149}</string>
                <key>textureRect</key>
                <string>{{160,277},{110,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,69}</string>
                <key>spriteSourceSize</key>
                <string>{78,69}</string>
                <key>textureRect</key>
                <string>{{78,370},{78,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,156}</string>
                <key>spriteSourceSize</key>
                <string>{294,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_pumpkins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,89}</string>
                <key>spriteSourceSize</key>
                <string>{171,89}</string>
                <key>textureRect</key>
                <string>{{299,124},{171,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,119}</string>
                <key>spriteSourceSize</key>
                <string>{192,119}</string>
                <key>textureRect</key>
                <string>{{299,1},{192,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,112}</string>
                <key>spriteSourceSize</key>
                <string>{140,112}</string>
                <key>textureRect</key>
                <string>{{133,161},{140,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,12}</string>
                <key>spriteSourceSize</key>
                <string>{27,12}</string>
                <key>textureRect</key>
                <string>{{474,157},{27,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,23}</string>
                <key>spriteSourceSize</key>
                <string>{11,23}</string>
                <key>textureRect</key>
                <string>{{495,23},{11,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{474,124},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,14}</string>
                <key>spriteSourceSize</key>
                <string>{9,14}</string>
                <key>textureRect</key>
                <string>{{495,50},{9,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,149}</string>
                <key>spriteSourceSize</key>
                <string>{128,149}</string>
                <key>textureRect</key>
                <string>{{1,217},{128,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{1,370},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{495,1},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{505,82},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{495,68},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{495,82},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>halloween-122b4b8c6d.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>halloween-122b4b8c6d.png</string>
        </dict>
    </dict>
</plist>
