<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_bar-bar-1_cristmas_santa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{169,146},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{475,48},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_field.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,26}</string>
                <key>spriteSourceSize</key>
                <string>{293,26}</string>
                <key>textureRect</key>
                <string>{{209,77},{293,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{12,8}</string>
                <key>textureRect</key>
                <string>{{67,186},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{83,186},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_medieval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{450,48},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_bg_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{294,171},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{297,137},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{251,234},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,7}</string>
                <key>spriteSourceSize</key>
                <string>{10,7}</string>
                <key>textureRect</key>
                <string>{{130,175},{10,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{144,175},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_medieval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{314,107},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{294,197},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,22}</string>
                <key>spriteSourceSize</key>
                <string>{99,22}</string>
                <key>textureRect</key>
                <string>{{106,77},{99,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple_merge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{260,141},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bar_purple_merge_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,43}</string>
                <key>textureRect</key>
                <string>{{450,1},{49,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bg_bar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,20}</string>
                <key>textureRect</key>
                <string>{{283,234},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-bg_gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{130,103},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-brain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{279,107},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{183,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{169,103},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-coins_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{106,1},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-cookie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{249,107},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_1_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{208,107},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_1_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{220,192},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_2_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{169,195},{47,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_2_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{1,199},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_3_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,57}</string>
                <key>spriteSourceSize</key>
                <string>{71,57}</string>
                <key>textureRect</key>
                <string>{{324,1},{71,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_3_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{43,199},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_4_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,91}</string>
                <key>spriteSourceSize</key>
                <string>{62,91}</string>
                <key>textureRect</key>
                <string>{{1,104},{62,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-element_lvl_4_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{67,104},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{251,192},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_orange_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,99}</string>
                <key>spriteSourceSize</key>
                <string>{101,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{101,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-fruitbar_orange_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{98,186},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-glow_under_the_element_halloween_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{214,145},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-glow_under_the_element_halloween_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{61,62}</string>
                <key>textureRect</key>
                <string>{{259,1},{61,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{130,139},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-gray_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{315,197},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_bar-bar-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{399,1},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_bar-357a53b74f.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>textureFileName</key>
            <string>ads_bar-357a53b74f.png</string>
        </dict>
    </dict>
</plist>
