<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blink_promo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{1,998},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-10hearticon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{679,192},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-11clubsicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{473,191},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-12spadesicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{711,192},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-13diamondsicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{957,226},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-14bombicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{548,785},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-15lockicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{666,785},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-16jeverlyicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{576,785},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-17cherryicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{740,192},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-18dollarsicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{637,785},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-19coinicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{989,226},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-1cristall_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{957,256},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-20dollarcoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{16,34}</string>
                <key>textureRect</key>
                <string>{{422,785},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-21staricon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{442,191},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-22glassesicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{644,321},{28,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-2chesticon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{989,256},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-3cubokicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{442,785},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-4cubikicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{607,785},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-5giftbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{392,785},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-6clipsgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{514,785},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-7jokericon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{378,191},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-8magniticon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{410,191},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-9bowicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{33,27}</string>
                <key>textureRect</key>
                <string>{{646,95},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-table_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,309}</string>
                <key>spriteSourceSize</key>
                <string>{306,309}</string>
                <key>textureRect</key>
                <string>{{336,377},{306,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-merge-tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{378,321},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{613,321},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{483,321},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{646,171},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{646,126},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{549,321},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{646,1},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{516,321},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{646,48},{29,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{285,823},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{285,918},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{381,823},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{381,918},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{392,690},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{477,820},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{488,690},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{477,915},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{573,819},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,335}</string>
                <key>spriteSourceSize</key>
                <string>{331,335}</string>
                <key>textureRect</key>
                <string>{{1,377},{331,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-picture_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,278}</string>
                <key>spriteSourceSize</key>
                <string>{280,278}</string>
                <key>textureRect</key>
                <string>{{1,716},{280,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture-piece.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{285,716},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{613,321},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{957,46},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,41}</string>
                <key>spriteSourceSize</key>
                <string>{51,41}</string>
                <key>textureRect</key>
                <string>{{428,321},{51,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{957,91},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{957,136},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,41}</string>
                <key>spriteSourceSize</key>
                <string>{57,41}</string>
                <key>textureRect</key>
                <string>{{957,1},{57,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{957,181},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,41}</string>
                <key>textureRect</key>
                <string>{{691,147},{55,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{483,321},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{646,171},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{646,126},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{549,321},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{646,1},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{516,321},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{646,48},{29,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{581,321},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{584,690},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{573,914},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{669,817},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{669,912},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{765,1},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{861,1},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{765,96},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{861,96},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{378,226},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{474,226},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{570,226},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{666,226},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{765,191},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{861,191},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{378,1},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,91}</string>
                <key>spriteSourceSize</key>
                <string>{92,91}</string>
                <key>textureRect</key>
                <string>{{378,96},{92,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-picture_16-picture_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,372}</string>
                <key>spriteSourceSize</key>
                <string>{373,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{373,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-static-connect_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,18}</string>
                <key>spriteSourceSize</key>
                <string>{25,18}</string>
                <key>textureRect</key>
                <string>{{26,998},{25,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-static-detach_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{691,79},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle15-static-unit_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{479,785},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sparkle_promo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{76,74}</string>
                <key>textureRect</key>
                <string>{{680,1},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puzzle15-1785ee0802.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>puzzle15-1785ee0802.png</string>
        </dict>
    </dict>
</plist>
