<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyfogwindow-orderswindow-icon_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{85,451},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_blick_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,159}</string>
                <key>spriteSourceSize</key>
                <string>{167,159}</string>
                <key>textureRect</key>
                <string>{{185,373},{167,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{85,375},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{86,81}</string>
                <key>textureRect</key>
                <string>{{356,389},{86,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,87}</string>
                <key>spriteSourceSize</key>
                <string>{68,87}</string>
                <key>textureRect</key>
                <string>{{1,470},{68,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{86,81}</string>
                <key>textureRect</key>
                <string>{{356,474},{86,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,59}</string>
                <key>spriteSourceSize</key>
                <string>{66,59}</string>
                <key>textureRect</key>
                <string>{{73,527},{66,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{453,287},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_stone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,98}</string>
                <key>textureRect</key>
                <string>{{363,287},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{478,127},{20,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,57}</string>
                <key>textureRect</key>
                <string>{{374,127},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{1,268},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_growing_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{495,141},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_left_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{478,141},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,48}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{453,371},{57,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{93,95}</string>
                <key>textureRect</key>
                <string>{{369,188},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_sacks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,91}</string>
                <key>spriteSourceSize</key>
                <string>{80,91}</string>
                <key>textureRect</key>
                <string>{{1,375},{80,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_treasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,122}</string>
                <key>spriteSourceSize</key>
                <string>{127,122}</string>
                <key>textureRect</key>
                <string>{{374,1},{127,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,100}</string>
                <key>spriteSourceSize</key>
                <string>{174,100}</string>
                <key>textureRect</key>
                <string>{{185,269},{174,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,128}</string>
                <key>textureRect</key>
                <string>{{1,136},{180,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,128}</string>
                <key>textureRect</key>
                <string>{{185,137},{180,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,131}</string>
                <key>spriteSourceSize</key>
                <string>{185,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{185,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,132}</string>
                <key>spriteSourceSize</key>
                <string>{180,132}</string>
                <key>textureRect</key>
                <string>{{190,1},{180,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyfogwindow-a8917dd606.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>buyfogwindow-a8917dd606.png</string>
        </dict>
    </dict>
</plist>
