<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>erhu10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10001</key>
			<dict>
				<key>frame</key>
				<string>{{193,0},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10002</key>
			<dict>
				<key>frame</key>
				<string>{{386,0},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10003</key>
			<dict>
				<key>frame</key>
				<string>{{579,0},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10004</key>
			<dict>
				<key>frame</key>
				<string>{{772,0},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10005</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10006</key>
			<dict>
				<key>frame</key>
				<string>{{193,184},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10007</key>
			<dict>
				<key>frame</key>
				<string>{{386,184},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10008</key>
			<dict>
				<key>frame</key>
				<string>{{579,184},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10009</key>
			<dict>
				<key>frame</key>
				<string>{{772,184},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10010</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10011</key>
			<dict>
				<key>frame</key>
				<string>{{193,368},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10012</key>
			<dict>
				<key>frame</key>
				<string>{{386,368},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10013</key>
			<dict>
				<key>frame</key>
				<string>{{579,368},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10014</key>
			<dict>
				<key>frame</key>
				<string>{{772,368},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10015</key>
			<dict>
				<key>frame</key>
				<string>{{0,552},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10016</key>
			<dict>
				<key>frame</key>
				<string>{{193,552},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10017</key>
			<dict>
				<key>frame</key>
				<string>{{386,552},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10018</key>
			<dict>
				<key>frame</key>
				<string>{{579,552},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10019</key>
			<dict>
				<key>frame</key>
				<string>{{772,552},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10021</key>
			<dict>
				<key>frame</key>
				<string>{{193,736},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10022</key>
			<dict>
				<key>frame</key>
				<string>{{386,736},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10023</key>
			<dict>
				<key>frame</key>
				<string>{{579,736},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10024</key>
			<dict>
				<key>frame</key>
				<string>{{772,736},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10025</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10026</key>
			<dict>
				<key>frame</key>
				<string>{{193,920},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10027</key>
			<dict>
				<key>frame</key>
				<string>{{386,920},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10028</key>
			<dict>
				<key>frame</key>
				<string>{{579,920},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
			<key>erhu10029</key>
			<dict>
				<key>frame</key>
				<string>{{772,920},{193,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,184}}</string>
				<key>sourceSize</key>
				<string>{193,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>erhu.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>erhu.png</string>
		</dict>
	</dict>
</plist>
