<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvlup_light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,327}</string>
                <key>spriteSourceSize</key>
                <string>{284,327}</string>
                <key>textureRect</key>
                <string>{{0,0},{284,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvlup_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{286,0},{59,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{347,0},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quests_scroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,307}</string>
                <key>spriteSourceSize</key>
                <string>{334,307}</string>
                <key>textureRect</key>
                <string>{{495,0},{334,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quests_scroll_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,348}</string>
                <key>spriteSourceSize</key>
                <string>{333,348}</string>
                <key>textureRect</key>
                <string>{{0,329},{333,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quests_scroll_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,67}</string>
                <key>spriteSourceSize</key>
                <string>{365,67}</string>
                <key>textureRect</key>
                <string>{{335,329},{365,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quests_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{702,329},{60,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newelements-44a73a3d50.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>newelements-44a73a3d50.png</string>
        </dict>
    </dict>
</plist>
