<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,173}</string>
                <key>spriteSourceSize</key>
                <string>{415,173}</string>
                <key>textureRect</key>
                <string>{{595,518},{415,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,210}</string>
                <key>spriteSourceSize</key>
                <string>{478,210}</string>
                <key>textureRect</key>
                <string>{{493,1579},{478,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{661,169}</string>
                <key>spriteSourceSize</key>
                <string>{661,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{661,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_es.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,144}</string>
                <key>spriteSourceSize</key>
                <string>{463,144}</string>
                <key>textureRect</key>
                <string>{{1,1764},{463,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_fr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,167}</string>
                <key>spriteSourceSize</key>
                <string>{590,167}</string>
                <key>textureRect</key>
                <string>{{1,696},{590,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,147}</string>
                <key>spriteSourceSize</key>
                <string>{488,147}</string>
                <key>textureRect</key>
                <string>{{1,1458},{488,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,234}</string>
                <key>spriteSourceSize</key>
                <string>{556,234}</string>
                <key>textureRect</key>
                <string>{{1,1220},{556,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,172}</string>
                <key>spriteSourceSize</key>
                <string>{361,172}</string>
                <key>textureRect</key>
                <string>{{595,695},{361,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,165}</string>
                <key>spriteSourceSize</key>
                <string>{647,165}</string>
                <key>textureRect</key>
                <string>{{1,174},{647,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_nl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,166}</string>
                <key>spriteSourceSize</key>
                <string>{579,166}</string>
                <key>textureRect</key>
                <string>{{1,1050},{579,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,184}</string>
                <key>spriteSourceSize</key>
                <string>{590,184}</string>
                <key>textureRect</key>
                <string>{{1,508},{590,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,179}</string>
                <key>spriteSourceSize</key>
                <string>{588,179}</string>
                <key>textureRect</key>
                <string>{{1,867},{588,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,151}</string>
                <key>spriteSourceSize</key>
                <string>{467,151}</string>
                <key>textureRect</key>
                <string>{{1,1609},{467,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,161}</string>
                <key>spriteSourceSize</key>
                <string>{611,161}</string>
                <key>textureRect</key>
                <string>{{1,343},{611,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,268}</string>
                <key>spriteSourceSize</key>
                <string>{456,268}</string>
                <key>textureRect</key>
                <string>{{561,1307},{456,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,261}</string>
                <key>spriteSourceSize</key>
                <string>{254,261}</string>
                <key>textureRect</key>
                <string>{{666,94},{254,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kingdom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,89}</string>
                <key>spriteSourceSize</key>
                <string>{286,89}</string>
                <key>textureRect</key>
                <string>{{666,1},{286,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lefft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,96}</string>
                <key>spriteSourceSize</key>
                <string>{134,96}</string>
                <key>textureRect</key>
                <string>{{1,1912},{134,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{134,130}</string>
                <key>textureRect</key>
                <string>{{783,971},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mergest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,155}</string>
                <key>spriteSourceSize</key>
                <string>{371,155}</string>
                <key>textureRect</key>
                <string>{{645,359},{371,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{783,871},{136,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{956,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{985,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{956,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{985,30},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{956,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{985,59},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{956,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{985,88},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{924,94},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{616,343},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{616,372},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{616,401},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{616,430},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{616,459},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{616,488},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{960,695},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{590,1281},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{989,695},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{960,724},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{989,724},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{960,753},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{989,753},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{960,782},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{952,985},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{989,782},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{960,811},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{989,811},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{960,840},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{989,840},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{960,869},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{989,869},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{924,209},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{953,209},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{982,209},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{924,238},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{953,238},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{982,238},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{924,267},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{924,296},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{924,325},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{953,267},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{982,267},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{953,296},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{953,325},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{982,296},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{982,325},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{561,1220},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{561,1249},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{561,1278},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{923,871},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{952,898},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{923,900},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{981,898},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{952,927},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{923,929},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{981,927},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{952,956},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{923,958},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{981,956},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{652,174},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,406}</string>
                <key>spriteSourceSize</key>
                <string>{186,406}</string>
                <key>textureRect</key>
                <string>{{593,871},{186,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,82}</string>
                <key>spriteSourceSize</key>
                <string>{87,82}</string>
                <key>textureRect</key>
                <string>{{924,123},{87,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>screenshots-8faad5e5af.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>screenshots-8faad5e5af.png</string>
        </dict>
    </dict>
</plist>
