<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halloween-halloween_decor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,167}</string>
                <key>spriteSourceSize</key>
                <string>{123,167}</string>
                <key>textureRect</key>
                <string>{{1,302},{123,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,77}</string>
                <key>spriteSourceSize</key>
                <string>{87,77}</string>
                <key>textureRect</key>
                <string>{{35,180},{87,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_decor_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,175}</string>
                <key>spriteSourceSize</key>
                <string>{330,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_pumpkins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,99}</string>
                <key>spriteSourceSize</key>
                <string>{192,99}</string>
                <key>textureRect</key>
                <string>{{128,180},{192,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,133}</string>
                <key>spriteSourceSize</key>
                <string>{216,133}</string>
                <key>textureRect</key>
                <string>{{128,302},{216,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween-halloween_roots_top_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,126}</string>
                <key>spriteSourceSize</key>
                <string>{157,126}</string>
                <key>textureRect</key>
                <string>{{335,1},{157,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{1,283},{30,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{496,1},{12,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_fire_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{1,473},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halloween_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{496,30},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,167}</string>
                <key>spriteSourceSize</key>
                <string>{143,167}</string>
                <key>textureRect</key>
                <string>{{335,131},{143,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_pumpkin_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{82,78}</string>
                <key>textureRect</key>
                <string>{{348,302},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{482,131},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{506,65},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{496,50},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlw_spider_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{496,65},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>halloween-827215f455.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>halloween-827215f455.png</string>
        </dict>
    </dict>
</plist>
