<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_pass-batlepass_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{263,356},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-book_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{154,451},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-color_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,189}</string>
                <key>spriteSourceSize</key>
                <string>{46,189}</string>
                <key>textureRect</key>
                <string>{{1,275},{46,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-cooking_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,81}</string>
                <key>spriteSourceSize</key>
                <string>{69,81}</string>
                <key>textureRect</key>
                <string>{{236,271},{69,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-cooking_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{456,241},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-cooking_stage1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,151}</string>
                <key>spriteSourceSize</key>
                <string>{193,151}</string>
                <key>textureRect</key>
                <string>{{263,1},{193,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-cooking_stage2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,172}</string>
                <key>spriteSourceSize</key>
                <string>{181,172}</string>
                <key>textureRect</key>
                <string>{{51,275},{181,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-cooking_stage3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,270}</string>
                <key>spriteSourceSize</key>
                <string>{190,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-duihao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{195,108},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-gold_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{420,295},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{426,183},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-goldpass_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,23}</string>
                <key>spriteSourceSize</key>
                <string>{30,23}</string>
                <key>textureRect</key>
                <string>{{426,156},{30,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-icon_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{310,260},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{460,1},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-coin_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{380,341},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-coin_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{48,468},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{195,54},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-energy_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{420,267},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{460,57},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-infinity_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,26}</string>
                <key>spriteSourceSize</key>
                <string>{49,26}</string>
                <key>textureRect</key>
                <string>{{460,161},{49,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-island_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{203,451},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-island_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{233,451},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-island_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{426,207},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-island_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{390,260},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,17}</string>
                <key>spriteSourceSize</key>
                <string>{93,17}</string>
                <key>textureRect</key>
                <string>{{310,239},{93,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{94,451},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-ruby_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1,468},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-ruby_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{460,191},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{460,110},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-reward_icons-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,49}</string>
                <key>textureRect</key>
                <string>{{195,1},{56,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-rewards-badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,49}</string>
                <key>spriteSourceSize</key>
                <string>{67,49}</string>
                <key>textureRect</key>
                <string>{{309,341},{67,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-worker_batlepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,79}</string>
                <key>textureRect</key>
                <string>{{310,156},{112,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_pass-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{195,156},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_pass-34e0c027db.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>battle_pass-34e0c027db.png</string>
        </dict>
    </dict>
</plist>
