<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>energy_time-energy_time_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,339}</string>
                <key>spriteSourceSize</key>
                <string>{338,339}</string>
                <key>textureRect</key>
                <string>{{540,1},{338,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_arm_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,222}</string>
                <key>spriteSourceSize</key>
                <string>{96,222}</string>
                <key>textureRect</key>
                <string>{{1,547},{96,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_arm_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{102,60}</string>
                <key>textureRect</key>
                <string>{{1,461},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,330}</string>
                <key>spriteSourceSize</key>
                <string>{215,330}</string>
                <key>textureRect</key>
                <string>{{799,486},{215,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_chocoegg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,186}</string>
                <key>spriteSourceSize</key>
                <string>{145,186}</string>
                <key>textureRect</key>
                <string>{{1,820},{145,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,263}</string>
                <key>spriteSourceSize</key>
                <string>{125,263}</string>
                <key>textureRect</key>
                <string>{{882,1},{125,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{799,416},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{101,656},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_eyelids.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,105}</string>
                <key>spriteSourceSize</key>
                <string>{237,105}</string>
                <key>textureRect</key>
                <string>{{471,547},{237,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,172}</string>
                <key>spriteSourceSize</key>
                <string>{93,172}</string>
                <key>textureRect</key>
                <string>{{261,820},{93,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,456}</string>
                <key>spriteSourceSize</key>
                <string>{535,456}</string>
                <key>textureRect</key>
                <string>{{1,1},{535,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_iris.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,68}</string>
                <key>spriteSourceSize</key>
                <string>{49,68}</string>
                <key>textureRect</key>
                <string>{{799,344},{49,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_legs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,199}</string>
                <key>spriteSourceSize</key>
                <string>{255,199}</string>
                <key>textureRect</key>
                <string>{{540,344},{255,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_shoulder_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,147}</string>
                <key>spriteSourceSize</key>
                <string>{109,147}</string>
                <key>textureRect</key>
                <string>{{358,820},{109,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_shoulder_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,175}</string>
                <key>spriteSourceSize</key>
                <string>{107,175}</string>
                <key>textureRect</key>
                <string>{{150,820},{107,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_strap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,214}</string>
                <key>spriteSourceSize</key>
                <string>{122,214}</string>
                <key>textureRect</key>
                <string>{{882,268},{122,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_time-4ee939c850.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>energy_time-4ee939c850.png</string>
        </dict>
    </dict>
</plist>
