<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_buttons-buttons-purpure_button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,108}</string>
                <key>spriteSourceSize</key>
                <string>{254,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_buttons-buttons-purpure_button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,108}</string>
                <key>spriteSourceSize</key>
                <string>{254,108}</string>
                <key>textureRect</key>
                <string>{{1,113},{254,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_buttons-aca4ed7de6.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>ads_buttons-aca4ed7de6.png</string>
        </dict>
    </dict>
</plist>
