<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{701,157},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_bug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,296}</string>
                <key>spriteSourceSize</key>
                <string>{332,296}</string>
                <key>textureRect</key>
                <string>{{566,692},{332,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{91,83}</string>
                <key>textureRect</key>
                <string>{{352,157},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_back_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,243}</string>
                <key>spriteSourceSize</key>
                <string>{328,243}</string>
                <key>textureRect</key>
                <string>{{0,692},{328,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_back_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,238}</string>
                <key>spriteSourceSize</key>
                <string>{312,238}</string>
                <key>textureRect</key>
                <string>{{446,452},{312,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_big_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,314}</string>
                <key>spriteSourceSize</key>
                <string>{301,314}</string>
                <key>textureRect</key>
                <string>{{0,990},{301,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_blicks2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,59}</string>
                <key>spriteSourceSize</key>
                <string>{43,59}</string>
                <key>textureRect</key>
                <string>{{463,94},{43,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_body_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,419}</string>
                <key>spriteSourceSize</key>
                <string>{363,419}</string>
                <key>textureRect</key>
                <string>{{303,990},{363,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,52}</string>
                <key>spriteSourceSize</key>
                <string>{135,52}</string>
                <key>textureRect</key>
                <string>{{0,94},{135,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_hand_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,140}</string>
                <key>spriteSourceSize</key>
                <string>{102,140}</string>
                <key>textureRect</key>
                <string>{{304,263},{102,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,280}</string>
                <key>spriteSourceSize</key>
                <string>{234,280}</string>
                <key>textureRect</key>
                <string>{{330,692},{234,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{247,157},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{293,157},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{458,41},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_midle_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,148}</string>
                <key>spriteSourceSize</key>
                <string>{168,148}</string>
                <key>textureRect</key>
                <string>{{408,263},{168,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_mini_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,130}</string>
                <key>spriteSourceSize</key>
                <string>{145,130}</string>
                <key>textureRect</key>
                <string>{{157,263},{145,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{408,41},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,88}</string>
                <key>spriteSourceSize</key>
                <string>{254,88}</string>
                <key>textureRect</key>
                <string>{{445,157},{254,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_wings2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{800,94},{48,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,181}</string>
                <key>spriteSourceSize</key>
                <string>{42,181}</string>
                <key>textureRect</key>
                <string>{{578,263},{42,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy_feast-feastmissionwindow-rewards_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,104}</string>
                <key>spriteSourceSize</key>
                <string>{155,104}</string>
                <key>textureRect</key>
                <string>{{795,157},{155,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy_feast-feastmissionwindow-rewards_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,104}</string>
                <key>spriteSourceSize</key>
                <string>{155,104}</string>
                <key>textureRect</key>
                <string>{{0,263},{155,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_down_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,39}</string>
                <key>spriteSourceSize</key>
                <string>{392,39}</string>
                <key>textureRect</key>
                <string>{{325,0},{392,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_sideup_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,689}</string>
                <key>spriteSourceSize</key>
                <string>{43,689}</string>
                <key>textureRect</key>
                <string>{{668,990},{43,689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_up_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,44}</string>
                <key>spriteSourceSize</key>
                <string>{406,44}</string>
                <key>textureRect</key>
                <string>{{0,41},{406,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_frame_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,62}</string>
                <key>spriteSourceSize</key>
                <string>{245,62}</string>
                <key>textureRect</key>
                <string>{{0,157},{245,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offer_badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,187}</string>
                <key>spriteSourceSize</key>
                <string>{184,187}</string>
                <key>textureRect</key>
                <string>{{622,263},{184,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_board_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,204}</string>
                <key>spriteSourceSize</key>
                <string>{444,204}</string>
                <key>textureRect</key>
                <string>{{0,452},{444,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,51}</string>
                <key>spriteSourceSize</key>
                <string>{493,51}</string>
                <key>textureRect</key>
                <string>{{508,41},{493,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_slit_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,15}</string>
                <key>spriteSourceSize</key>
                <string>{323,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{323,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_slit_tournament1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,60}</string>
                <key>spriteSourceSize</key>
                <string>{290,60}</string>
                <key>textureRect</key>
                <string>{{508,94},{290,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_slit_tournament2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,58}</string>
                <key>spriteSourceSize</key>
                <string>{324,58}</string>
                <key>textureRect</key>
                <string>{{137,94},{324,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_feast-b694124b20.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>energy_feast-b694124b20.png</string>
        </dict>
    </dict>
</plist>
