<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyfogwindow-orderswindow-icon_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{240,430},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_blick_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,143}</string>
                <key>spriteSourceSize</key>
                <string>{150,143}</string>
                <key>textureRect</key>
                <string>{{328,217},{150,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{255,361},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,73}</string>
                <key>spriteSourceSize</key>
                <string>{77,73}</string>
                <key>textureRect</key>
                <string>{{170,273},{77,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{119,427},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,73}</string>
                <key>spriteSourceSize</key>
                <string>{77,73}</string>
                <key>textureRect</key>
                <string>{{119,350},{77,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,53}</string>
                <key>textureRect</key>
                <string>{{264,218},{59,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,72}</string>
                <key>spriteSourceSize</key>
                <string>{52,72}</string>
                <key>textureRect</key>
                <string>{{184,427},{52,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_stone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,88}</string>
                <key>spriteSourceSize</key>
                <string>{77,88}</string>
                <key>textureRect</key>
                <string>{{1,242},{77,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,9}</string>
                <key>spriteSourceSize</key>
                <string>{18,9}</string>
                <key>textureRect</key>
                <string>{{482,217},{18,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,51}</string>
                <key>spriteSourceSize</key>
                <string>{90,51}</string>
                <key>textureRect</key>
                <string>{{170,218},{90,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,93}</string>
                <key>spriteSourceSize</key>
                <string>{162,93}</string>
                <key>textureRect</key>
                <string>{{338,120},{162,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_growing_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{498,230},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_left_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{482,230},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,43}</string>
                <key>spriteSourceSize</key>
                <string>{51,43}</string>
                <key>textureRect</key>
                <string>{{200,364},{51,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,86}</string>
                <key>textureRect</key>
                <string>{{82,242},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_sacks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{251,275},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_treasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{114,110}</string>
                <key>textureRect</key>
                <string>{{1,364},{114,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,90}</string>
                <key>spriteSourceSize</key>
                <string>{157,90}</string>
                <key>textureRect</key>
                <string>{{167,124},{157,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,115}</string>
                <key>spriteSourceSize</key>
                <string>{162,115}</string>
                <key>textureRect</key>
                <string>{{1,123},{162,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,115}</string>
                <key>spriteSourceSize</key>
                <string>{162,115}</string>
                <key>textureRect</key>
                <string>{{338,1},{162,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,118}</string>
                <key>spriteSourceSize</key>
                <string>{167,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,119}</string>
                <key>spriteSourceSize</key>
                <string>{162,119}</string>
                <key>textureRect</key>
                <string>{{172,1},{162,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyfogwindow-ce58a9e324.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>buyfogwindow-ce58a9e324.png</string>
        </dict>
    </dict>
</plist>
