<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,194}</string>
                <key>spriteSourceSize</key>
                <string>{466,194}</string>
                <key>textureRect</key>
                <string>{{1,776},{466,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,236}</string>
                <key>spriteSourceSize</key>
                <string>{537,236}</string>
                <key>textureRect</key>
                <string>{{1478,170},{537,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_de.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,189}</string>
                <key>spriteSourceSize</key>
                <string>{742,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{742,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_es.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,162}</string>
                <key>spriteSourceSize</key>
                <string>{520,162}</string>
                <key>textureRect</key>
                <string>{{1,610},{520,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_fr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,188}</string>
                <key>spriteSourceSize</key>
                <string>{663,188}</string>
                <key>textureRect</key>
                <string>{{732,375},{663,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,165}</string>
                <key>spriteSourceSize</key>
                <string>{549,165}</string>
                <key>textureRect</key>
                <string>{{1478,1},{549,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,263}</string>
                <key>spriteSourceSize</key>
                <string>{625,263}</string>
                <key>textureRect</key>
                <string>{{1399,439},{625,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,193}</string>
                <key>spriteSourceSize</key>
                <string>{406,193}</string>
                <key>textureRect</key>
                <string>{{1,974},{406,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,185}</string>
                <key>spriteSourceSize</key>
                <string>{727,185}</string>
                <key>textureRect</key>
                <string>{{747,1},{727,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_nl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,187}</string>
                <key>spriteSourceSize</key>
                <string>{651,187}</string>
                <key>textureRect</key>
                <string>{{729,567},{651,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,207}</string>
                <key>spriteSourceSize</key>
                <string>{663,207}</string>
                <key>textureRect</key>
                <string>{{1,194},{663,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,201}</string>
                <key>spriteSourceSize</key>
                <string>{660,201}</string>
                <key>textureRect</key>
                <string>{{1,405},{660,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,169}</string>
                <key>spriteSourceSize</key>
                <string>{524,169}</string>
                <key>textureRect</key>
                <string>{{1384,706},{524,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{686,181}</string>
                <key>spriteSourceSize</key>
                <string>{686,181}</string>
                <key>textureRect</key>
                <string>{{747,190},{686,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fail_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,301}</string>
                <key>spriteSourceSize</key>
                <string>{512,301}</string>
                <key>textureRect</key>
                <string>{{679,758},{512,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,146}</string>
                <key>textureRect</key>
                <string>{{525,610},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2019,170},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2019,202},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2019,234},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2019,266},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2019,298},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2019,330},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_1_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2019,362},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2019,394},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1437,190},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1437,222},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1437,254},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1437,286},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1437,318},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_2_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1437,350},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{668,194},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{700,194},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{1431,414},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{668,226},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{700,226},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{668,258},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_3_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{700,258},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{668,290},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{700,290},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{1976,802},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{668,322},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{700,322},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{668,354},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_4_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{700,354},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1399,375},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1431,382},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1399,407},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{668,386},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{700,386},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{665,418},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_5_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{697,418},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{665,450},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{697,450},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{665,482},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{697,482},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{665,514},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{697,514},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_6_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{665,546},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{697,546},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{665,578},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_it.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{697,578},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1912,706},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1944,706},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1976,706},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_7_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2008,706},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1912,738},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1944,738},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_it.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1976,738},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ja.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2008,738},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_ko.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1912,770},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_tr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1944,770},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_8_zh.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1976,770},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{2008,770},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_friend_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1912,802},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-avatar_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1944,802},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>screenshots-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{11,12}</string>
                <key>textureRect</key>
                <string>{{2031,1},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>screenshots-c40af76ee5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>screenshots-c40af76ee5.png</string>
        </dict>
    </dict>
</plist>
