<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>specialenergyofferwindow-specialenergyoffer-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,506}</string>
                <key>spriteSourceSize</key>
                <string>{614,506}</string>
                <key>textureRect</key>
                <string>{{1,1},{614,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{619,80},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,145}</string>
                <key>spriteSourceSize</key>
                <string>{160,145}</string>
                <key>textureRect</key>
                <string>{{832,570},{160,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,197}</string>
                <key>spriteSourceSize</key>
                <string>{197,197}</string>
                <key>textureRect</key>
                <string>{{1,719},{197,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,118}</string>
                <key>spriteSourceSize</key>
                <string>{134,118}</string>
                <key>textureRect</key>
                <string>{{866,80},{134,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,160}</string>
                <key>spriteSourceSize</key>
                <string>{183,160}</string>
                <key>textureRect</key>
                <string>{{832,327},{183,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,120}</string>
                <key>spriteSourceSize</key>
                <string>{116,120}</string>
                <key>textureRect</key>
                <string>{{866,202},{116,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-person.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,282}</string>
                <key>spriteSourceSize</key>
                <string>{209,282}</string>
                <key>textureRect</key>
                <string>{{619,327},{209,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{989,1},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-textbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,75}</string>
                <key>spriteSourceSize</key>
                <string>{183,75}</string>
                <key>textureRect</key>
                <string>{{832,491},{183,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>specialenergyofferwindow-specialenergyoffer-title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,75}</string>
                <key>spriteSourceSize</key>
                <string>{366,75}</string>
                <key>textureRect</key>
                <string>{{619,1},{366,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>specialenergyofferwindow-8c5a4b01e9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>specialenergyofferwindow-8c5a4b01e9.png</string>
        </dict>
    </dict>
</plist>
