<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>subscription_particle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_particle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{123,0},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,111}</string>
                <key>spriteSourceSize</key>
                <string>{171,111}</string>
                <key>textureRect</key>
                <string>{{129,117},{171,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_upper_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,169}</string>
                <key>spriteSourceSize</key>
                <string>{363,169}</string>
                <key>textureRect</key>
                <string>{{0,240},{363,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_upper_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,39}</string>
                <key>spriteSourceSize</key>
                <string>{20,39}</string>
                <key>textureRect</key>
                <string>{{9,0},{20,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-starter_letter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,34}</string>
                <key>spriteSourceSize</key>
                <string>{96,34}</string>
                <key>textureRect</key>
                <string>{{213,0},{96,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_chest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,121}</string>
                <key>spriteSourceSize</key>
                <string>{127,121}</string>
                <key>textureRect</key>
                <string>{{0,117},{127,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_dworf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,279}</string>
                <key>spriteSourceSize</key>
                <string>{428,279}</string>
                <key>textureRect</key>
                <string>{{0,411},{428,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-subscription_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,115}</string>
                <key>spriteSourceSize</key>
                <string>{121,115}</string>
                <key>textureRect</key>
                <string>{{311,0},{121,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-timer_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{75,0},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-subscription-timer_substrate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{31,0},{42,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>subscription_window-7607e50faf.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>subscription_window-7607e50faf.png</string>
        </dict>
    </dict>
</plist>
