<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_world_easter-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{120,301},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{241,366},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{267,217},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{153,301},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{278,55},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{279,1},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{209,379},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,37}</string>
                <key>spriteSourceSize</key>
                <string>{25,37}</string>
                <key>textureRect</key>
                <string>{{280,163},{25,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{151,469},{30,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{236,325},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,37}</string>
                <key>spriteSourceSize</key>
                <string>{24,37}</string>
                <key>textureRect</key>
                <string>{{282,96},{24,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,37}</string>
                <key>spriteSourceSize</key>
                <string>{15,37}</string>
                <key>textureRect</key>
                <string>{{254,407},{15,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{227,461},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,37}</string>
                <key>spriteSourceSize</key>
                <string>{23,37}</string>
                <key>textureRect</key>
                <string>{{227,420},{23,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{252,271},{26,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{251,461},{20,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,39}</string>
                <key>spriteSourceSize</key>
                <string>{26,39}</string>
                <key>textureRect</key>
                <string>{{121,469},{26,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{120,247},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{207,325},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{179,163},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{98,55},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{123,342},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{165,342},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{139,55},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{181,109},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{97,139},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{140,1},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{216,163},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,50}</string>
                <key>spriteSourceSize</key>
                <string>{19,50}</string>
                <key>textureRect</key>
                <string>{{255,55},{19,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{252,163},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{221,55},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{140,163},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{223,271},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{218,109},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,65}</string>
                <key>spriteSourceSize</key>
                <string>{47,65}</string>
                <key>textureRect</key>
                <string>{{1,139},{47,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,65}</string>
                <key>spriteSourceSize</key>
                <string>{31,65}</string>
                <key>textureRect</key>
                <string>{{88,346},{31,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,65}</string>
                <key>spriteSourceSize</key>
                <string>{41,65}</string>
                <key>textureRect</key>
                <string>{{52,139},{41,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{1,208},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{1,70},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{1,277},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{1,346},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,65}</string>
                <key>spriteSourceSize</key>
                <string>{42,65}</string>
                <key>textureRect</key>
                <string>{{51,208},{42,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{49,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{45,65}</string>
                <key>textureRect</key>
                <string>{{1,415},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-asterisk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{54,1},{40,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,65}</string>
                <key>spriteSourceSize</key>
                <string>{20,65}</string>
                <key>textureRect</key>
                <string>{{97,415},{20,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{27,65}</string>
                <key>textureRect</key>
                <string>{{89,277},{27,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,65}</string>
                <key>spriteSourceSize</key>
                <string>{33,65}</string>
                <key>textureRect</key>
                <string>{{51,346},{33,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,65}</string>
                <key>spriteSourceSize</key>
                <string>{41,65}</string>
                <key>textureRect</key>
                <string>{{53,70},{41,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,65}</string>
                <key>spriteSourceSize</key>
                <string>{34,65}</string>
                <key>textureRect</key>
                <string>{{51,277},{34,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,65}</string>
                <key>spriteSourceSize</key>
                <string>{43,65}</string>
                <key>textureRect</key>
                <string>{{50,415},{43,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{167,396},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{238,217},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{186,271},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{140,109},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{185,450},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{98,1},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{180,55},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,50}</string>
                <key>spriteSourceSize</key>
                <string>{33,50}</string>
                <key>textureRect</key>
                <string>{{201,217},{33,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{97,193},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{181,1},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,50}</string>
                <key>spriteSourceSize</key>
                <string>{19,50}</string>
                <key>textureRect</key>
                <string>{{256,1},{19,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,50}</string>
                <key>spriteSourceSize</key>
                <string>{24,50}</string>
                <key>textureRect</key>
                <string>{{254,109},{24,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{222,1},{30,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{162,217},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{223,271},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_easter-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{121,415},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus_world_easter-fcfdda61f6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>bonus_world_easter-fcfdda61f6.png</string>
        </dict>
    </dict>
</plist>
