<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firework_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,191}</string>
                <key>spriteSourceSize</key>
                <string>{192,191}</string>
                <key>textureRect</key>
                <string>{{768,444},{192,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firework_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,139}</string>
                <key>spriteSourceSize</key>
                <string>{154,139}</string>
                <key>textureRect</key>
                <string>{{847,1},{154,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firework_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{768,639},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,94}</string>
                <key>spriteSourceSize</key>
                <string>{306,94}</string>
                <key>textureRect</key>
                <string>{{1,1073},{306,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,192}</string>
                <key>spriteSourceSize</key>
                <string>{196,192}</string>
                <key>textureRect</key>
                <string>{{768,248},{196,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,358}</string>
                <key>spriteSourceSize</key>
                <string>{263,358}</string>
                <key>textureRect</key>
                <string>{{486,716},{263,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-title_new_quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,43}</string>
                <key>spriteSourceSize</key>
                <string>{200,43}</string>
                <key>textureRect</key>
                <string>{{768,201},{200,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-title_questcompleted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,55}</string>
                <key>spriteSourceSize</key>
                <string>{362,55}</string>
                <key>textureRect</key>
                <string>{{1,1014},{362,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-title_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,155}</string>
                <key>spriteSourceSize</key>
                <string>{481,155}</string>
                <key>textureRect</key>
                <string>{{1,716},{481,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newelements-title_yellow_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,135}</string>
                <key>spriteSourceSize</key>
                <string>{443,135}</string>
                <key>textureRect</key>
                <string>{{1,875},{443,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ribbon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,15}</string>
                <key>spriteSourceSize</key>
                <string>{35,15}</string>
                <key>textureRect</key>
                <string>{{901,144},{35,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ribbon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{967,144},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ribbon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{1005,1},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ribbon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,16}</string>
                <key>spriteSourceSize</key>
                <string>{23,16}</string>
                <key>textureRect</key>
                <string>{{901,163},{23,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,511}</string>
                <key>spriteSourceSize</key>
                <string>{763,511}</string>
                <key>textureRect</key>
                <string>{{1,201},{763,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slogan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{842,196}</string>
                <key>spriteSourceSize</key>
                <string>{842,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{842,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{847,144},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{940,144},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newelements-42694b94a6.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>newelements-42694b94a6.png</string>
        </dict>
    </dict>
</plist>
