<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>editor-admin-regular_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,45}</string>
                <key>spriteSourceSize</key>
                <string>{165,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{113,50},{51,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,51}</string>
                <key>spriteSourceSize</key>
                <string>{33,51}</string>
                <key>textureRect</key>
                <string>{{60,162},{33,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,51}</string>
                <key>spriteSourceSize</key>
                <string>{33,51}</string>
                <key>textureRect</key>
                <string>{{97,162},{33,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{168,71},{51,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{113,87},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{161,108},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_cards_button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{209,108},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_cards_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{209,154},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,62}</string>
                <key>spriteSourceSize</key>
                <string>{55,62}</string>
                <key>textureRect</key>
                <string>{{1,162},{55,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,5}</string>
                <key>spriteSourceSize</key>
                <string>{27,5}</string>
                <key>textureRect</key>
                <string>{{1,228},{27,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,50}</string>
                <key>spriteSourceSize</key>
                <string>{41,50}</string>
                <key>textureRect</key>
                <string>{{134,200},{41,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{223,71},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1,50},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-undo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{170,1},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>editor-8f0e93f2a5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>editor-8f0e93f2a5.png</string>
        </dict>
    </dict>
</plist>
