<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vibersharewindow-balloon_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,341}</string>
                <key>spriteSourceSize</key>
                <string>{204,341}</string>
                <key>textureRect</key>
                <string>{{816,113},{204,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-balloon_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,307}</string>
                <key>spriteSourceSize</key>
                <string>{268,307}</string>
                <key>textureRect</key>
                <string>{{738,651},{268,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-basic_chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,182}</string>
                <key>spriteSourceSize</key>
                <string>{191,182}</string>
                <key>textureRect</key>
                <string>{{437,1216},{191,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{733,426}</string>
                <key>spriteSourceSize</key>
                <string>{733,426}</string>
                <key>textureRect</key>
                <string>{{1,330},{733,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{714,437}</string>
                <key>spriteSourceSize</key>
                <string>{714,437}</string>
                <key>textureRect</key>
                <string>{{1,760},{714,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-chef_dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,287}</string>
                <key>spriteSourceSize</key>
                <string>{242,287}</string>
                <key>textureRect</key>
                <string>{{719,962},{242,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-chef_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,246}</string>
                <key>spriteSourceSize</key>
                <string>{145,246}</string>
                <key>textureRect</key>
                <string>{{1,1323},{145,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-coloured_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,141}</string>
                <key>spriteSourceSize</key>
                <string>{384,141}</string>
                <key>textureRect</key>
                <string>{{632,1253},{384,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,189}</string>
                <key>spriteSourceSize</key>
                <string>{283,189}</string>
                <key>textureRect</key>
                <string>{{738,458},{283,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,46}</string>
                <key>spriteSourceSize</key>
                <string>{103,46}</string>
                <key>textureRect</key>
                <string>{{434,1402},{103,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-headframe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{150,1323},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-headframe2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,139}</string>
                <key>spriteSourceSize</key>
                <string>{138,139}</string>
                <key>textureRect</key>
                <string>{{292,1323},{138,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-invitefriends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,40}</string>
                <key>spriteSourceSize</key>
                <string>{350,40}</string>
                <key>textureRect</key>
                <string>{{632,1398},{350,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-leafage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{891,1},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,11}</string>
                <key>spriteSourceSize</key>
                <string>{235,11}</string>
                <key>textureRect</key>
                <string>{{437,1201},{235,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-progressbarall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,67}</string>
                <key>spriteSourceSize</key>
                <string>{432,67}</string>
                <key>textureRect</key>
                <string>{{1,1201},{432,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{886,38}</string>
                <key>spriteSourceSize</key>
                <string>{886,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{886,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-textbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{1,1573},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-thanks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,47}</string>
                <key>spriteSourceSize</key>
                <string>{423,47}</string>
                <key>textureRect</key>
                <string>{{1,1272},{423,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,115}</string>
                <key>spriteSourceSize</key>
                <string>{742,115}</string>
                <key>textureRect</key>
                <string>{{1,211},{742,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vibersharewindow-title_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{811,164}</string>
                <key>spriteSourceSize</key>
                <string>{811,164}</string>
                <key>textureRect</key>
                <string>{{1,43},{811,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vibersharewindow-17d230a633.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>vibersharewindow-17d230a633.png</string>
        </dict>
    </dict>
</plist>
