<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunny_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{290,350}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{290,350}</string>
                <key>textureRect</key>
                <string>{{295,1},{290,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues_minimal-dialogues-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,220}</string>
                <key>spriteSourceSize</key>
                <string>{92,220}</string>
                <key>textureRect</key>
                <string>{{883,1},{92,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{290,350}</string>
                <key>textureRect</key>
                <string>{{589,1},{290,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{290,350}</string>
                <key>textureRect</key>
                <string>{{1,355},{290,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panda_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{290,350}</string>
                <key>textureRect</key>
                <string>{{295,355},{290,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raccoon_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{290,350}</string>
                <key>textureRect</key>
                <string>{{589,355},{290,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiger_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{290,350}</string>
                <key>textureRect</key>
                <string>{{1,709},{290,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worker_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,350}</string>
                <key>spriteSourceSize</key>
                <string>{290,350}</string>
                <key>textureRect</key>
                <string>{{295,709},{290,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues_minimal-083fea3afd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>dialogues_minimal-083fea3afd.png</string>
        </dict>
    </dict>
</plist>
