<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyfogwindow-orderswindow-icon_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{61,203},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_blick_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{275,182},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{1,203},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_coins2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,61}</string>
                <key>spriteSourceSize</key>
                <string>{65,61}</string>
                <key>textureRect</key>
                <string>{{404,297},{65,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_crystal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,65}</string>
                <key>spriteSourceSize</key>
                <string>{51,65}</string>
                <key>textureRect</key>
                <string>{{119,248},{51,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,61}</string>
                <key>spriteSourceSize</key>
                <string>{65,61}</string>
                <key>textureRect</key>
                <string>{{140,183},{65,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,44}</string>
                <key>textureRect</key>
                <string>{{174,255},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_rock20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{174,303},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_decorator_stone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,74}</string>
                <key>spriteSourceSize</key>
                <string>{65,74}</string>
                <key>textureRect</key>
                <string>{{422,123},{65,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,8}</string>
                <key>spriteSourceSize</key>
                <string>{15,8}</string>
                <key>textureRect</key>
                <string>{{496,48},{15,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_down_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,43}</string>
                <key>spriteSourceSize</key>
                <string>{75,43}</string>
                <key>textureRect</key>
                <string>{{422,1},{75,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,77}</string>
                <key>spriteSourceSize</key>
                <string>{135,77}</string>
                <key>textureRect</key>
                <string>{{283,101},{135,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_growing_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{501,15},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_left_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{501,1},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{228,255},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_rubies2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{422,48},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_sacks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,68}</string>
                <key>spriteSourceSize</key>
                <string>{60,68}</string>
                <key>textureRect</key>
                <string>{{209,183},{60,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_treasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{404,201},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,75}</string>
                <key>textureRect</key>
                <string>{{140,104},{131,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,96}</string>
                <key>spriteSourceSize</key>
                <string>{135,96}</string>
                <key>textureRect</key>
                <string>{{1,103},{135,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_left_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,96}</string>
                <key>spriteSourceSize</key>
                <string>{135,96}</string>
                <key>textureRect</key>
                <string>{{283,1},{135,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,98}</string>
                <key>spriteSourceSize</key>
                <string>{139,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cay_up_right_only_last.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,99}</string>
                <key>spriteSourceSize</key>
                <string>{135,99}</string>
                <key>textureRect</key>
                <string>{{144,1},{135,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buyfogwindow-a8917dd606.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>buyfogwindow-a8917dd606.png</string>
        </dict>
    </dict>
</plist>
