<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_crown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{1,223},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-level-level_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,51},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-level-progressbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{51,178},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,46}</string>
                <key>spriteSourceSize</key>
                <string>{89,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-bar_timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,28}</string>
                <key>spriteSourceSize</key>
                <string>{61,28}</string>
                <key>textureRect</key>
                <string>{{65,53},{61,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{52,130},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{94,1},{33,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{98,130},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-plus_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{99,160},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-ruby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{65,85},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{99,190},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{1,115},{47,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-menubar-worker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{1,171},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>race-orderswindow-attention_exclamation_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{51,216},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>race-30afdc27b4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>textureFileName</key>
            <string>race-30afdc27b4.png</string>
        </dict>
    </dict>
</plist>
