<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{304,1},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{583,1},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,385}</string>
                <key>spriteSourceSize</key>
                <string>{299,385}</string>
                <key>textureRect</key>
                <string>{{1,1},{299,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{304,365},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_fox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{1,390},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_mai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{583,365},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{280,729},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_panda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{1,754},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_racoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{559,729},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,360}</string>
                <key>spriteSourceSize</key>
                <string>{275,360}</string>
                <key>textureRect</key>
                <string>{{280,1093},{275,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energylotterywindow-box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,196}</string>
                <key>spriteSourceSize</key>
                <string>{243,196}</string>
                <key>textureRect</key>
                <string>{{1,1118},{243,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energylotterywindow-2eaa0505c6.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>energylotterywindow-2eaa0505c6.png</string>
        </dict>
    </dict>
</plist>
