<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogues_minimal-dialogues-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,193}</string>
                <key>spriteSourceSize</key>
                <string>{221,193}</string>
                <key>textureRect</key>
                <string>{{210,211},{221,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,202}</string>
                <key>spriteSourceSize</key>
                <string>{233,202}</string>
                <key>textureRect</key>
                <string>{{0,415},{233,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_dwarf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,210}</string>
                <key>spriteSourceSize</key>
                <string>{240,210}</string>
                <key>textureRect</key>
                <string>{{0,651},{240,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_elf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,234}</string>
                <key>spriteSourceSize</key>
                <string>{204,234}</string>
                <key>textureRect</key>
                <string>{{235,415},{204,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,202}</string>
                <key>spriteSourceSize</key>
                <string>{201,202}</string>
                <key>textureRect</key>
                <string>{{285,0},{201,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimal_rider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,202}</string>
                <key>spriteSourceSize</key>
                <string>{208,202}</string>
                <key>textureRect</key>
                <string>{{0,211},{208,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>troll_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,209}</string>
                <key>spriteSourceSize</key>
                <string>{192,209}</string>
                <key>textureRect</key>
                <string>{{91,0},{192,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warlock_minimal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,239}</string>
                <key>spriteSourceSize</key>
                <string>{214,239}</string>
                <key>textureRect</key>
                <string>{{242,651},{214,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues_minimal-c9193c9342.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>dialogues_minimal-c9193c9342.png</string>
        </dict>
    </dict>
</plist>
