<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,361}</string>
                <key>spriteSourceSize</key>
                <string>{688,361}</string>
                <key>textureRect</key>
                <string>{{1,143},{688,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-chef_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{891,1},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{952,1},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-coloured_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,144}</string>
                <key>spriteSourceSize</key>
                <string>{323,144}</string>
                <key>textureRect</key>
                <string>{{693,143},{323,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-days_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,60}</string>
                <key>spriteSourceSize</key>
                <string>{306,60}</string>
                <key>textureRect</key>
                <string>{{693,291},{306,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-gift_bag_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,250}</string>
                <key>spriteSourceSize</key>
                <string>{359,250}</string>
                <key>textureRect</key>
                <string>{{1,651},{359,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-gift_bg_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,112}</string>
                <key>spriteSourceSize</key>
                <string>{488,112}</string>
                <key>textureRect</key>
                <string>{{1,905},{488,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-monkey_hst.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,155}</string>
                <key>spriteSourceSize</key>
                <string>{225,155}</string>
                <key>textureRect</key>
                <string>{{493,785},{225,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-need_more_hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,34}</string>
                <key>spriteSourceSize</key>
                <string>{275,34}</string>
                <key>textureRect</key>
                <string>{{693,355},{275,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-roof.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{812,96}</string>
                <key>spriteSourceSize</key>
                <string>{812,96}</string>
                <key>textureRect</key>
                <string>{{1,43},{812,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{886,38}</string>
                <key>spriteSourceSize</key>
                <string>{886,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{886,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-sling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,79}</string>
                <key>spriteSourceSize</key>
                <string>{12,79}</string>
                <key>textureRect</key>
                <string>{{1008,1},{12,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-time_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,39}</string>
                <key>spriteSourceSize</key>
                <string>{170,39}</string>
                <key>textureRect</key>
                <string>{{817,69},{170,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,130}</string>
                <key>spriteSourceSize</key>
                <string>{527,130}</string>
                <key>textureRect</key>
                <string>{{493,651},{527,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_monkey_with_diamond-buymonkeywithdiamond-treasure_seller_dialogue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,254}</string>
                <key>spriteSourceSize</key>
                <string>{230,254}</string>
                <key>textureRect</key>
                <string>{{693,393},{230,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buy_monkey_with_diamond-7c1357021e.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>buy_monkey_with_diamond-7c1357021e.png</string>
        </dict>
    </dict>
</plist>
