<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_world_valentines-marvin-round-45pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{124,290},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{124,325},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{31,301},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{152,302},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,31}</string>
                <key>spriteSourceSize</key>
                <string>{24,31}</string>
                <key>textureRect</key>
                <string>{{202,277},{24,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{202,312},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{229,335},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{56,301},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{124,255},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{201,347},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,31}</string>
                <key>spriteSourceSize</key>
                <string>{13,31}</string>
                <key>textureRect</key>
                <string>{{205,59},{13,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{145,337},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{81,301},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{228,370},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,31}</string>
                <key>spriteSourceSize</key>
                <string>{17,31}</string>
                <key>textureRect</key>
                <string>{{166,371},{17,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-45pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{153,267},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{222,93},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{234,231},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{138,209},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{224,1},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{118,117},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{154,117},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{224,47},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{170,221},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{222,139},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{148,163},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,42}</string>
                <key>spriteSourceSize</key>
                <string>{16,42}</string>
                <key>textureRect</key>
                <string>{{182,267},{16,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{1,337},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{66,255},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{72,209},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{1,405},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{40,117},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,54}</string>
                <key>spriteSourceSize</key>
                <string>{39,54}</string>
                <key>textureRect</key>
                <string>{{139,1},{39,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,54}</string>
                <key>spriteSourceSize</key>
                <string>{26,54}</string>
                <key>textureRect</key>
                <string>{{1,279},{26,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{127,59},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{182,1},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{40,54}</string>
                <key>textureRect</key>
                <string>{{95,1},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{1,59},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{43,59},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{166,59},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,54}</string>
                <key>spriteSourceSize</key>
                <string>{41,54}</string>
                <key>textureRect</key>
                <string>{{50,1},{41,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,54}</string>
                <key>textureRect</key>
                <string>{{85,59},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,54}</string>
                <key>spriteSourceSize</key>
                <string>{17,54}</string>
                <key>textureRect</key>
                <string>{{180,313},{17,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,54}</string>
                <key>spriteSourceSize</key>
                <string>{23,54}</string>
                <key>textureRect</key>
                <string>{{230,277},{23,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,54}</string>
                <key>spriteSourceSize</key>
                <string>{28,54}</string>
                <key>textureRect</key>
                <string>{{190,117},{28,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{1,117},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,54}</string>
                <key>spriteSourceSize</key>
                <string>{29,54}</string>
                <key>textureRect</key>
                <string>{{1,221},{29,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-76pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{40,163},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{1,451},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{202,231},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{183,175},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{1,175},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{76,163},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{218,185},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{34,255},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{112,163},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{37,209},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,42}</string>
                <key>spriteSourceSize</key>
                <string>{16,42}</string>
                <key>textureRect</key>
                <string>{{104,301},{16,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{25,337},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{95,255},{25,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{105,209},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{1,405},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_world_valentines-marvin-round-nostroke-62pt-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{79,117},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bonus_world_valentines-fb25065a40.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>bonus_world_valentines-fb25065a40.png</string>
        </dict>
    </dict>
</plist>
