<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_finger-fingers-adventure_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{382,226},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-candy_cane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,221}</string>
                <key>spriteSourceSize</key>
                <string>{200,221}</string>
                <key>textureRect</key>
                <string>{{195,1},{200,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-cartoon_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{399,1},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,222}</string>
                <key>spriteSourceSize</key>
                <string>{190,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-hand_halloween.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,222}</string>
                <key>spriteSourceSize</key>
                <string>{190,222}</string>
                <key>textureRect</key>
                <string>{{1,227},{190,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-heroes_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,151}</string>
                <key>spriteSourceSize</key>
                <string>{160,151}</string>
                <key>textureRect</key>
                <string>{{807,192},{160,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-merge_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,220}</string>
                <key>spriteSourceSize</key>
                <string>{183,220}</string>
                <key>textureRect</key>
                <string>{{195,226},{183,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-mitten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,187}</string>
                <key>spriteSourceSize</key>
                <string>{170,187}</string>
                <key>textureRect</key>
                <string>{{807,1},{170,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-realistic_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{586,200},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ads_finger-fingers-riddles_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{603,1},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_finger-40a6e3b299.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>ads_finger-40a6e3b299.png</string>
        </dict>
    </dict>
</plist>
