<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{470,79},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board_bug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,197}</string>
                <key>spriteSourceSize</key>
                <string>{221,197}</string>
                <key>textureRect</key>
                <string>{{158,343},{221,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{61,55}</string>
                <key>textureRect</key>
                <string>{{196,79},{61,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_back_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,162}</string>
                <key>spriteSourceSize</key>
                <string>{218,162}</string>
                <key>textureRect</key>
                <string>{{662,179},{218,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_back_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,158}</string>
                <key>spriteSourceSize</key>
                <string>{208,158}</string>
                <key>textureRect</key>
                <string>{{452,179},{208,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_big_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,209}</string>
                <key>spriteSourceSize</key>
                <string>{200,209}</string>
                <key>textureRect</key>
                <string>{{381,343},{200,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_blicks2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,39}</string>
                <key>spriteSourceSize</key>
                <string>{29,39}</string>
                <key>textureRect</key>
                <string>{{641,36},{29,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_body_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,280}</string>
                <key>spriteSourceSize</key>
                <string>{242,280}</string>
                <key>textureRect</key>
                <string>{{583,343},{242,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,35}</string>
                <key>spriteSourceSize</key>
                <string>{90,35}</string>
                <key>textureRect</key>
                <string>{{331,36},{90,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_hand_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,93}</string>
                <key>spriteSourceSize</key>
                <string>{68,93}</string>
                <key>textureRect</key>
                <string>{{842,79},{68,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,187}</string>
                <key>spriteSourceSize</key>
                <string>{156,187}</string>
                <key>textureRect</key>
                <string>{{0,343},{156,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{165,79},{29,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,55}</string>
                <key>spriteSourceSize</key>
                <string>{38,55}</string>
                <key>textureRect</key>
                <string>{{259,79},{38,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{788,0},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_midle_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,98}</string>
                <key>spriteSourceSize</key>
                <string>{112,98}</string>
                <key>textureRect</key>
                <string>{{912,79},{112,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_mini_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,86}</string>
                <key>spriteSourceSize</key>
                <string>{97,86}</string>
                <key>textureRect</key>
                <string>{{743,79},{97,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{754,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,59}</string>
                <key>spriteSourceSize</key>
                <string>{169,59}</string>
                <key>textureRect</key>
                <string>{{299,79},{169,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug_wings2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{867,36},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,121}</string>
                <key>spriteSourceSize</key>
                <string>{28,121}</string>
                <key>textureRect</key>
                <string>{{0,179},{28,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy_feast-feastmissionwindow-rewards_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,69}</string>
                <key>spriteSourceSize</key>
                <string>{103,69}</string>
                <key>textureRect</key>
                <string>{{533,79},{103,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>energy_feast-feastmissionwindow-rewards_energy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,69}</string>
                <key>spriteSourceSize</key>
                <string>{103,69}</string>
                <key>textureRect</key>
                <string>{{638,79},{103,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_down_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,26}</string>
                <key>spriteSourceSize</key>
                <string>{262,26}</string>
                <key>textureRect</key>
                <string>{{217,0},{262,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_sideup_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,459}</string>
                <key>spriteSourceSize</key>
                <string>{29,459}</string>
                <key>textureRect</key>
                <string>{{827,343},{29,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_up_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,29}</string>
                <key>spriteSourceSize</key>
                <string>{271,29}</string>
                <key>textureRect</key>
                <string>{{481,0},{271,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_frame_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,41}</string>
                <key>spriteSourceSize</key>
                <string>{163,41}</string>
                <key>textureRect</key>
                <string>{{0,79},{163,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offer_badge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,125}</string>
                <key>spriteSourceSize</key>
                <string>{122,125}</string>
                <key>textureRect</key>
                <string>{{30,179},{122,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_board_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,136}</string>
                <key>spriteSourceSize</key>
                <string>{296,136}</string>
                <key>textureRect</key>
                <string>{{154,179},{296,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,34}</string>
                <key>spriteSourceSize</key>
                <string>{329,34}</string>
                <key>textureRect</key>
                <string>{{0,36},{329,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_slit_tournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,10}</string>
                <key>spriteSourceSize</key>
                <string>{215,10}</string>
                <key>textureRect</key>
                <string>{{0,0},{215,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_slit_tournament1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,40}</string>
                <key>spriteSourceSize</key>
                <string>{193,40}</string>
                <key>textureRect</key>
                <string>{{672,36},{193,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_slit_tournament2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,38}</string>
                <key>spriteSourceSize</key>
                <string>{216,38}</string>
                <key>textureRect</key>
                <string>{{423,36},{216,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>energy_feast-b694124b20.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>energy_feast-b694124b20.png</string>
        </dict>
    </dict>
</plist>
