<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ads_map2d-fog-cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,145}</string>
                <key>spriteSourceSize</key>
                <string>{171,145}</string>
                <key>textureRect</key>
                <string>{{142,782},{171,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,213}</string>
                <key>spriteSourceSize</key>
                <string>{212,213}</string>
                <key>textureRect</key>
                <string>{{1,349},{212,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>points.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,113}</string>
                <key>textureRect</key>
                <string>{{391,908},{158,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{373,175},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{509,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,108}</string>
                <key>spriteSourceSize</key>
                <string>{109,108}</string>
                <key>textureRect</key>
                <string>{{553,889},{109,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{317,779},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,139}</string>
                <key>spriteSourceSize</key>
                <string>{148,139}</string>
                <key>textureRect</key>
                <string>{{160,566},{148,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,101}</string>
                <key>spriteSourceSize</key>
                <string>{97,101}</string>
                <key>textureRect</key>
                <string>{{272,112},{97,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{160,709},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,71}</string>
                <key>spriteSourceSize</key>
                <string>{67,71}</string>
                <key>textureRect</key>
                <string>{{217,472},{67,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{231,709},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{301,709},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{501,64},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{272,217},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{62,59}</string>
                <key>textureRect</key>
                <string>{{378,1},{62,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,59}</string>
                <key>spriteSourceSize</key>
                <string>{61,59}</string>
                <key>textureRect</key>
                <string>{{444,1},{61,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{337,346},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{272,283},{59,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{288,472},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_effect9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,107}</string>
                <key>spriteSourceSize</key>
                <string>{102,107}</string>
                <key>textureRect</key>
                <string>{{272,1},{102,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_particle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{432,64},{29,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sparkles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,212}</string>
                <key>spriteSourceSize</key>
                <string>{155,212}</string>
                <key>textureRect</key>
                <string>{{1,566},{155,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,212}</string>
                <key>spriteSourceSize</key>
                <string>{137,212}</string>
                <key>textureRect</key>
                <string>{{1,782},{137,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiral2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,344}</string>
                <key>spriteSourceSize</key>
                <string>{267,344}</string>
                <key>textureRect</key>
                <string>{{1,1},{267,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,47}</string>
                <key>spriteSourceSize</key>
                <string>{155,47}</string>
                <key>textureRect</key>
                <string>{{312,656},{155,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,119}</string>
                <key>spriteSourceSize</key>
                <string>{116,119}</string>
                <key>textureRect</key>
                <string>{{217,349},{116,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,83}</string>
                <key>spriteSourceSize</key>
                <string>{110,83}</string>
                <key>textureRect</key>
                <string>{{142,931},{110,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,75}</string>
                <key>spriteSourceSize</key>
                <string>{131,75}</string>
                <key>textureRect</key>
                <string>{{256,931},{131,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{427,175},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,55}</string>
                <key>spriteSourceSize</key>
                <string>{47,55}</string>
                <key>textureRect</key>
                <string>{{400,346},{47,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{447,217},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{312,542},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{465,64},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,109}</string>
                <key>spriteSourceSize</key>
                <string>{122,109}</string>
                <key>textureRect</key>
                <string>{{440,776},{122,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{378,64},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{446,280},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,59}</string>
                <key>spriteSourceSize</key>
                <string>{107,59}</string>
                <key>textureRect</key>
                <string>{{335,283},{107,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,65}</string>
                <key>textureRect</key>
                <string>{{372,707},{134,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,56}</string>
                <key>spriteSourceSize</key>
                <string>{113,56}</string>
                <key>textureRect</key>
                <string>{{337,407},{113,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,59}</string>
                <key>spriteSourceSize</key>
                <string>{104,59}</string>
                <key>textureRect</key>
                <string>{{339,217},{104,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{373,112},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_effect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,58}</string>
                <key>spriteSourceSize</key>
                <string>{69,58}</string>
                <key>textureRect</key>
                <string>{{463,106},{69,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ads_map2d-57b55ced9c.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>ads_map2d-57b55ced9c.png</string>
        </dict>
    </dict>
</plist>
